USE [BacLineas]
GO
/****** Object:  StoredProcedure [dbo].[SP_BUSCA_HIJOSPADRES]    Script Date: 13-05-2022 10:37:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_BUSCA_HIJOSPADRES]
	(
		@Rut1 			NUMERIC(10)
	,	@Codigo			CHAR(3)
	)
AS
BEGIN

   SET NOCOUNT ON
	IF EXISTS (SELECT 1 FROM CLIENTE_RELACIONADO WHERE CLRUT_PADRE = @Rut1)
		BEGIN
		SELECT clrut_hijo FROM CLIENTE_RELACIONADO WHERE clrut_padre = @Rut1 AND clcodigo_padre = @Codigo 

	END
	IF EXISTS (SELECT 1 FROM CLIENTE_RELACIONADO WHERE CLRUT_HIJO = @Rut1)
		BEGIN
		SELECT clrut_PADRE FROM CLIENTE_RELACIONADO WHERE clrut_HIJO = @Rut1 AND clcodigo_padre = @Codigo 

	END
END
GO
