USE [BacLineas]
GO
/****** Object:  StoredProcedure [dbo].[Sp_MDPELeer]    Script Date: 13-05-2022 10:37:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO






/****** Objeto:  procedimiento  almacenado dbo.Sp_MDPELeer    fecha de la secuencia de comandos: 03/04/2001 15:18:09 ******/
/****** Objeto:  procedimiento  almacenado dbo.Sp_MDPELeer    fecha de la secuencia de comandos: 14/02/2001 09:58:30 ******/
CREATE PROCEDURE [dbo].[Sp_MDPELeer]
AS
BEGIN
SET NOCOUNT ON
   SELECT pecodigo, peperiodo, penumero, petipo, peglosa FROM PERIODO_TASA_BIDASK
SET NOCOUNT OFF
END






GO
