USE [Bacfwdsuda]
GO
/****** Object:  Table [dbo].[MIS_CON_BAC_UTIL_TC_DIARIA]    Script Date: 13-05-2022 10:32:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MIS_CON_BAC_UTIL_TC_DIARIA](
	[MES_CONTABLE] [numeric](6, 0) NOT NULL,
	[SOURCE_ID] [char](14) NOT NULL,
	[OPERACION] [char](20) NOT NULL,
	[PRODUCT_ID] [char](16) NOT NULL,
	[ISO_COUNTRY] [char](3) NOT NULL,
	[EMPRESA_ID] [char](3) NOT NULL,
	[BRANCH_CD] [char](3) NOT NULL,
	[CLIENTE_ID] [char](12) NOT NULL,
	[FULL_NAME] [char](80) NOT NULL,
	[FAMILIA] [char](4) NOT NULL,
	[PRODUCT_TYPE_CD] [char](4) NOT NULL,
	[FECHA_CONTABLE] [char](8) NOT NULL,
	[FECHA_INTERFAZ] [char](8) NOT NULL,
	[FECHA_APERTURA_OPERAC] [char](8) NOT NULL,
	[FECHA_INICIO] [char](8) NOT NULL,
	[FECHA_VCMTO] [char](8) NOT NULL,
	[FECHA_RENOVACION] [char](8) NOT NULL,
	[FECHA_PROX_CAMBIO_TASA] [char](8) NOT NULL,
	[ISO_CURRENCY_CD] [char](3) NOT NULL,
	[TIPO_MONEDA] [char](1) NOT NULL,
	[TIPO_OPERACION] [char](1) NOT NULL,
	[PERIODICIDAD_DE_FLUJOS] [char](5) NOT NULL,
	[IND_TASA_TRANSFERENCIA] [char](2) NOT NULL,
	[NRO_CUOTAS_FLUJO_SWAP] [char](5) NOT NULL,
	[TASA_INTERES] [numeric](18, 8) NOT NULL,
	[TASA_TIPO_PARIDAD] [numeric](18, 5) NOT NULL,
	[CAP_MONE_ORIGEN] [numeric](18, 2) NOT NULL,
	[CAP_MONE_LOCAL] [numeric](18, 2) NOT NULL,
	[MONTO_UTIL_ORIGEN] [numeric](18, 5) NOT NULL,
	[MONTO_UTIL_LOCAL] [numeric](18, 5) NOT NULL,
	[OPERADOR] [char](15) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MIS_CON_BAC_UTIL_TC_DIARIA] ADD  CONSTRAINT [df_mis_con_bac_util_tc_diaria_MES_CONTABLE]  DEFAULT ((0)) FOR [MES_CONTABLE]
GO
ALTER TABLE [dbo].[MIS_CON_BAC_UTIL_TC_DIARIA] ADD  CONSTRAINT [df_mis_con_bac_util_tc_diaria_SOURCE_ID]  DEFAULT ('') FOR [SOURCE_ID]
GO
ALTER TABLE [dbo].[MIS_CON_BAC_UTIL_TC_DIARIA] ADD  CONSTRAINT [df_mis_con_bac_util_tc_diaria_OPERACION]  DEFAULT ('') FOR [OPERACION]
GO
ALTER TABLE [dbo].[MIS_CON_BAC_UTIL_TC_DIARIA] ADD  CONSTRAINT [df_mis_con_bac_util_tc_diaria_PRODUCT_ID]  DEFAULT ('') FOR [PRODUCT_ID]
GO
ALTER TABLE [dbo].[MIS_CON_BAC_UTIL_TC_DIARIA] ADD  CONSTRAINT [df_mis_con_bac_util_tc_diaria_ISO_COUNTRY]  DEFAULT ('') FOR [ISO_COUNTRY]
GO
ALTER TABLE [dbo].[MIS_CON_BAC_UTIL_TC_DIARIA] ADD  CONSTRAINT [df_mis_con_bac_util_tc_diaria_EMPRESA_ID]  DEFAULT ('') FOR [EMPRESA_ID]
GO
ALTER TABLE [dbo].[MIS_CON_BAC_UTIL_TC_DIARIA] ADD  CONSTRAINT [df_mis_con_bac_util_tc_diaria_BRANCH_CD]  DEFAULT ('') FOR [BRANCH_CD]
GO
ALTER TABLE [dbo].[MIS_CON_BAC_UTIL_TC_DIARIA] ADD  CONSTRAINT [df_mis_con_bac_util_tc_diaria_CLIENTE_ID]  DEFAULT ('') FOR [CLIENTE_ID]
GO
ALTER TABLE [dbo].[MIS_CON_BAC_UTIL_TC_DIARIA] ADD  CONSTRAINT [df_mis_con_bac_util_tc_diaria_FULL_NAME]  DEFAULT ('') FOR [FULL_NAME]
GO
ALTER TABLE [dbo].[MIS_CON_BAC_UTIL_TC_DIARIA] ADD  CONSTRAINT [df_mis_con_bac_util_tc_diaria_FAMILIA]  DEFAULT ('') FOR [FAMILIA]
GO
ALTER TABLE [dbo].[MIS_CON_BAC_UTIL_TC_DIARIA] ADD  CONSTRAINT [df_mis_con_bac_util_tc_diaria_PRODUCT_TYPE_CD]  DEFAULT ('') FOR [PRODUCT_TYPE_CD]
GO
ALTER TABLE [dbo].[MIS_CON_BAC_UTIL_TC_DIARIA] ADD  CONSTRAINT [df_mis_con_bac_util_tc_diaria_FECHA_CONTABLE]  DEFAULT ('') FOR [FECHA_CONTABLE]
GO
ALTER TABLE [dbo].[MIS_CON_BAC_UTIL_TC_DIARIA] ADD  CONSTRAINT [df_mis_con_bac_util_tc_diaria_FECHA_INTERFAZ]  DEFAULT ('') FOR [FECHA_INTERFAZ]
GO
ALTER TABLE [dbo].[MIS_CON_BAC_UTIL_TC_DIARIA] ADD  CONSTRAINT [df_mis_con_bac_util_tc_diaria_FECHA_APERTURA_OPERAC]  DEFAULT ('') FOR [FECHA_APERTURA_OPERAC]
GO
ALTER TABLE [dbo].[MIS_CON_BAC_UTIL_TC_DIARIA] ADD  CONSTRAINT [df_mis_con_bac_util_tc_diaria_FECHA_INICIO]  DEFAULT ('') FOR [FECHA_INICIO]
GO
ALTER TABLE [dbo].[MIS_CON_BAC_UTIL_TC_DIARIA] ADD  CONSTRAINT [df_mis_con_bac_util_tc_diaria_FECHA_VCMTO]  DEFAULT ('') FOR [FECHA_VCMTO]
GO
ALTER TABLE [dbo].[MIS_CON_BAC_UTIL_TC_DIARIA] ADD  CONSTRAINT [df_mis_con_bac_util_tc_diaria_FECHA_RENOVACION]  DEFAULT ('') FOR [FECHA_RENOVACION]
GO
ALTER TABLE [dbo].[MIS_CON_BAC_UTIL_TC_DIARIA] ADD  CONSTRAINT [df_mis_con_bac_util_tc_diaria_FECHA_PROX_CAMBIO_TASA]  DEFAULT ('') FOR [FECHA_PROX_CAMBIO_TASA]
GO
ALTER TABLE [dbo].[MIS_CON_BAC_UTIL_TC_DIARIA] ADD  CONSTRAINT [df_mis_con_bac_util_tc_diaria_ISO_CURRENCY_CD]  DEFAULT ('') FOR [ISO_CURRENCY_CD]
GO
ALTER TABLE [dbo].[MIS_CON_BAC_UTIL_TC_DIARIA] ADD  CONSTRAINT [df_mis_con_bac_util_tc_diaria_TIPO_MONEDA]  DEFAULT ('') FOR [TIPO_MONEDA]
GO
ALTER TABLE [dbo].[MIS_CON_BAC_UTIL_TC_DIARIA] ADD  CONSTRAINT [df_mis_con_bac_util_tc_diaria_TIPO_OPERACION]  DEFAULT ('') FOR [TIPO_OPERACION]
GO
ALTER TABLE [dbo].[MIS_CON_BAC_UTIL_TC_DIARIA] ADD  CONSTRAINT [df_mis_con_bac_util_tc_diaria_PERIODICIDAD_DE_FLUJOS]  DEFAULT ('') FOR [PERIODICIDAD_DE_FLUJOS]
GO
ALTER TABLE [dbo].[MIS_CON_BAC_UTIL_TC_DIARIA] ADD  CONSTRAINT [df_mis_con_bac_util_tc_diaria_IND_TASA_TRANSFERENCIA]  DEFAULT ('') FOR [IND_TASA_TRANSFERENCIA]
GO
ALTER TABLE [dbo].[MIS_CON_BAC_UTIL_TC_DIARIA] ADD  CONSTRAINT [df_mis_con_bac_util_tc_diaria_NRO_CUOTAS_FLUJO_SWAP]  DEFAULT ('') FOR [NRO_CUOTAS_FLUJO_SWAP]
GO
ALTER TABLE [dbo].[MIS_CON_BAC_UTIL_TC_DIARIA] ADD  CONSTRAINT [df_mis_con_bac_util_tc_diaria_TASA_INTERES]  DEFAULT ((0.0)) FOR [TASA_INTERES]
GO
ALTER TABLE [dbo].[MIS_CON_BAC_UTIL_TC_DIARIA] ADD  CONSTRAINT [df_mis_con_bac_util_tc_diaria_TASA_TIPO_PARIDAD]  DEFAULT ((0.0)) FOR [TASA_TIPO_PARIDAD]
GO
ALTER TABLE [dbo].[MIS_CON_BAC_UTIL_TC_DIARIA] ADD  CONSTRAINT [df_mis_con_bac_util_tc_diaria_CAP_MONE_ORIGEN]  DEFAULT ((0.0)) FOR [CAP_MONE_ORIGEN]
GO
ALTER TABLE [dbo].[MIS_CON_BAC_UTIL_TC_DIARIA] ADD  CONSTRAINT [df_mis_con_bac_util_tc_diaria_CAP_MONE_LOCAL]  DEFAULT ((0.0)) FOR [CAP_MONE_LOCAL]
GO
ALTER TABLE [dbo].[MIS_CON_BAC_UTIL_TC_DIARIA] ADD  CONSTRAINT [df_mis_con_bac_util_tc_diaria_MONTO_UTIL_ORIGEN]  DEFAULT ((0.0)) FOR [MONTO_UTIL_ORIGEN]
GO
ALTER TABLE [dbo].[MIS_CON_BAC_UTIL_TC_DIARIA] ADD  CONSTRAINT [df_mis_con_bac_util_tc_diaria_MONTO_UTIL_LOCAL]  DEFAULT ((0.0)) FOR [MONTO_UTIL_LOCAL]
GO
ALTER TABLE [dbo].[MIS_CON_BAC_UTIL_TC_DIARIA] ADD  CONSTRAINT [df_mis_con_bac_util_tc_diaria_OPERADOR]  DEFAULT ('') FOR [OPERADOR]
GO
