USE [Bacfwdsuda]
GO
/****** Object:  Table [dbo].[MIS_CON_BAC_DET]    Script Date: 13-05-2022 10:32:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MIS_CON_BAC_DET](
	[MES_CONTABLE] [numeric](6, 0) NOT NULL,
	[SOURCE_ID] [char](14) NOT NULL,
	[OPERACION] [char](20) NOT NULL,
	[PRODUCT_ID] [char](16) NOT NULL,
	[ISO_COUNTRY] [char](3) NOT NULL,
	[EMPRESA_ID] [char](3) NOT NULL,
	[BRANCH_CD] [char](3) NOT NULL,
	[CLIENTE_ID] [char](12) NOT NULL,
	[FULL_NAME] [char](80) NOT NULL,
	[FAMILIA] [char](4) NOT NULL,
	[PRODUCT_TYPE_CD] [char](4) NOT NULL,
	[FECHA_CONTABLE] [char](8) NOT NULL,
	[FECHA_INTERFAZ] [char](8) NOT NULL,
	[FECHA_APERTURA_OPERAC] [char](8) NOT NULL,
	[FECHA_INICIO] [char](8) NOT NULL,
	[FECHA_VCMTO] [char](8) NOT NULL,
	[FECHA_RENOVACION] [char](8) NOT NULL,
	[FECHA_PROX_CAMBIO_TASA] [char](8) NOT NULL,
	[ISO_CURRENCY_CD] [char](3) NOT NULL,
	[TIPO_MONEDA] [char](1) NOT NULL,
	[TIPO_OPERACION] [char](1) NOT NULL,
	[PERIODICIDAD_DE_FLUJOS] [char](5) NOT NULL,
	[IND_TASA_TRANSFERENCIA] [char](2) NOT NULL,
	[NRO_CUOTAS_FLUJO_SWAP] [char](5) NOT NULL,
	[TASA_INTERES] [numeric](18, 8) NOT NULL,
	[TASA_TIPO_PARIDAD] [numeric](18, 5) NOT NULL,
	[CAP_MONE_ORIGEN] [numeric](18, 2) NOT NULL,
	[CAP_MONE_LOCAL] [numeric](18, 2) NOT NULL,
	[MONTO_UTIL_ORIGEN] [numeric](18, 5) NOT NULL,
	[MONTO_UTIL_LOCAL] [numeric](18, 5) NOT NULL,
	[OPERADOR] [char](15) NOT NULL
) ON [PRIMARY]
GO
