USE [Bacfwdsuda]
GO
/****** Object:  Table [dbo].[TBL_VALORIZA_FWD_OTRAS_ENTIDADES]    Script Date: 13-05-2022 10:32:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_VALORIZA_FWD_OTRAS_ENTIDADES](
	[Vfo_Entidad] [char](5) NOT NULL,
	[Vfo_Id] [int] IDENTITY(1,1) NOT NULL,
	[Vfo_Codigo1] [char](255) NOT NULL,
	[Vfo_Codigo2] [char](255) NOT NULL,
	[Vfo_Codigo3] [char](255) NOT NULL,
	[Vfo_Producto] [char](5) NOT NULL,
	[Vfo_Tipo_Operacion] [char](1) NOT NULL,
	[Vfo_Fecha_cierre] [datetime] NOT NULL,
	[Vfo_Fecha_Vcto] [datetime] NOT NULL,
	[Vfo_Fecha_Fijacion] [datetime] NOT NULL,
	[Vfo_Fecha_Efectiva] [datetime] NOT NULL,
	[Vfo_Plazo_Residual] [int] NOT NULL,
	[Vfo_Moneda_Nocional] [char](5) NOT NULL,
	[Vfo_Monto_Nocional] [numeric](19, 4) NOT NULL,
	[Vfo_Precio_Fwd] [numeric](19, 2) NOT NULL,
	[Vfo_Moneda_Subyacente] [char](5) NOT NULL,
	[Vfo_Monto_Subyacente] [numeric](19, 4) NOT NULL,
	[Vfo_PrecioTeorico] [numeric](19, 8) NOT NULL,
	[Vfo_MarkToMarket] [numeric](21, 4) NOT NULL,
	[Vfo_ValorRazonableActivo] [numeric](21, 4) NOT NULL,
	[Vfo_ValorRazonablePasivo] [numeric](21, 4) NOT NULL,
 CONSTRAINT [PK_TBL_VALOR_MERC_OTRAS_ENTIDADES] PRIMARY KEY CLUSTERED 
(
	[Vfo_Entidad] ASC,
	[Vfo_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_VALORIZA_FWD_OTRAS_ENTIDADES] ADD  CONSTRAINT [TBL_VALOR_MERC_OTRAS_ENTIDADES_Vfo_Entidad]  DEFAULT ('') FOR [Vfo_Entidad]
GO
ALTER TABLE [dbo].[TBL_VALORIZA_FWD_OTRAS_ENTIDADES] ADD  CONSTRAINT [TBL_VALOR_MERC_OTRAS_ENTIDADES_Vfo_Codigo1]  DEFAULT ('') FOR [Vfo_Codigo1]
GO
ALTER TABLE [dbo].[TBL_VALORIZA_FWD_OTRAS_ENTIDADES] ADD  CONSTRAINT [TBL_VALOR_MERC_OTRAS_ENTIDADES_Vfo_Codigo2]  DEFAULT ('') FOR [Vfo_Codigo2]
GO
ALTER TABLE [dbo].[TBL_VALORIZA_FWD_OTRAS_ENTIDADES] ADD  CONSTRAINT [TBL_VALOR_MERC_OTRAS_ENTIDADES_Vfo_Codigo3]  DEFAULT ('') FOR [Vfo_Codigo3]
GO
ALTER TABLE [dbo].[TBL_VALORIZA_FWD_OTRAS_ENTIDADES] ADD  CONSTRAINT [TBL_VALOR_MERC_OTRAS_ENTIDADES_Vfo_Producto]  DEFAULT ('') FOR [Vfo_Producto]
GO
ALTER TABLE [dbo].[TBL_VALORIZA_FWD_OTRAS_ENTIDADES] ADD  CONSTRAINT [TBL_VALOR_MERC_OTRAS_ENTIDADES_Vfo_Tipo_Operacion]  DEFAULT ('') FOR [Vfo_Tipo_Operacion]
GO
ALTER TABLE [dbo].[TBL_VALORIZA_FWD_OTRAS_ENTIDADES] ADD  CONSTRAINT [TBL_VALOR_MERC_OTRAS_ENTIDADES_Vfo_Fecha_cierre]  DEFAULT ('') FOR [Vfo_Fecha_cierre]
GO
ALTER TABLE [dbo].[TBL_VALORIZA_FWD_OTRAS_ENTIDADES] ADD  CONSTRAINT [TBL_VALOR_MERC_OTRAS_ENTIDADES_Vfo_Fecha_Vcto]  DEFAULT ('') FOR [Vfo_Fecha_Vcto]
GO
ALTER TABLE [dbo].[TBL_VALORIZA_FWD_OTRAS_ENTIDADES] ADD  CONSTRAINT [TBL_VALOR_MERC_OTRAS_ENTIDADES_Vfo_Fecha_Fijacion]  DEFAULT ('') FOR [Vfo_Fecha_Fijacion]
GO
ALTER TABLE [dbo].[TBL_VALORIZA_FWD_OTRAS_ENTIDADES] ADD  CONSTRAINT [TBL_VALOR_MERC_OTRAS_ENTIDADES_Vfo_Fecha_Efectiva]  DEFAULT ('') FOR [Vfo_Fecha_Efectiva]
GO
ALTER TABLE [dbo].[TBL_VALORIZA_FWD_OTRAS_ENTIDADES] ADD  CONSTRAINT [TBL_VALOR_MERC_OTRAS_ENTIDADES_Vfo_Plazo_Residual]  DEFAULT (0) FOR [Vfo_Plazo_Residual]
GO
ALTER TABLE [dbo].[TBL_VALORIZA_FWD_OTRAS_ENTIDADES] ADD  CONSTRAINT [TBL_VALOR_MERC_OTRAS_ENTIDADES_Vfo_Moneda_Nocional]  DEFAULT ('') FOR [Vfo_Moneda_Nocional]
GO
ALTER TABLE [dbo].[TBL_VALORIZA_FWD_OTRAS_ENTIDADES] ADD  CONSTRAINT [TBL_VALOR_MERC_OTRAS_ENTIDADES_Vfo_Monto_Nocional]  DEFAULT (0) FOR [Vfo_Monto_Nocional]
GO
ALTER TABLE [dbo].[TBL_VALORIZA_FWD_OTRAS_ENTIDADES] ADD  CONSTRAINT [TBL_VALOR_MERC_OTRAS_ENTIDADES_Vfo_Precio_Fwd]  DEFAULT (0) FOR [Vfo_Precio_Fwd]
GO
ALTER TABLE [dbo].[TBL_VALORIZA_FWD_OTRAS_ENTIDADES] ADD  CONSTRAINT [TBL_VALOR_MERC_OTRAS_ENTIDADES_Vfo_Moneda_Subyacente]  DEFAULT ('') FOR [Vfo_Moneda_Subyacente]
GO
ALTER TABLE [dbo].[TBL_VALORIZA_FWD_OTRAS_ENTIDADES] ADD  CONSTRAINT [TBL_VALOR_MERC_OTRAS_ENTIDADES_Vfo_Monto_Subyacente]  DEFAULT (0) FOR [Vfo_Monto_Subyacente]
GO
ALTER TABLE [dbo].[TBL_VALORIZA_FWD_OTRAS_ENTIDADES] ADD  CONSTRAINT [TBL_VALOR_MERC_OTRAS_ENTIDADES_Vfo_PrecioTeorico]  DEFAULT (0) FOR [Vfo_PrecioTeorico]
GO
ALTER TABLE [dbo].[TBL_VALORIZA_FWD_OTRAS_ENTIDADES] ADD  CONSTRAINT [TBL_VALOR_MERC_OTRAS_ENTIDADES_Vfo_MarkToMarket]  DEFAULT (0) FOR [Vfo_MarkToMarket]
GO
ALTER TABLE [dbo].[TBL_VALORIZA_FWD_OTRAS_ENTIDADES] ADD  CONSTRAINT [TBL_VALOR_MERC_OTRAS_ENTIDADES_Vfo_ValorRazonableActivo]  DEFAULT (0) FOR [Vfo_ValorRazonableActivo]
GO
ALTER TABLE [dbo].[TBL_VALORIZA_FWD_OTRAS_ENTIDADES] ADD  CONSTRAINT [TBL_VALOR_MERC_OTRAS_ENTIDADES_Vfo_ValorRazonablePasivo]  DEFAULT (0) FOR [Vfo_ValorRazonablePasivo]
GO
