USE [Bacfwdsuda]
GO
/****** Object:  Table [dbo].[errores_cnt]    Script Date: 13-05-2022 10:32:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[errores_cnt](
	[MENSAJE] [varchar](255) NULL
) ON [PRIMARY]
GO
