USE [BacSwapSuda]
GO
/****** Object:  StoredProcedure [dbo].[SP_GRABACION_OPERACIONES_TICKET]    Script Date: 13-05-2022 11:02:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[SP_GRABACION_OPERACIONES_TICKET] (
	@Fecha_operacion 		datetime,
	@numero_operacion 		numeric(7, 0),
	@Cantidad_flujo			numeric(3, 0),
	@Ticker				varchar(255),
	@Usuario			VARCHAR(10),
	@Modalidad			char (1),
	@Moneda_Compra			numeric(3, 0),
	@Valor_Nominal_Compra		numeric(19, 4),
	@Frecuencia_Pago_Compra		numeric(3, 0),
	@Frecuencia_Capital_Compra	numeric(3, 0),
	@Indicador_Compra		numeric(3, 0),
	@Tasa_Compra			numeric(12, 8),
	@Conteo_Dias_Compra		numeric(3, 0),
	@Fecha_Efectiva_Compra		datetime,
	@Fecha_Inicio_Compra		datetime,
	@Fecha_Penultimo_Pago_Compra	datetime,
	@Fecha_Madurez_Compra		datetime,
	@Moneda_Pago_Compra		numeric(3, 0),
	@Medio_Pago_Compra		numeric(3, 0),
	@Moneda_Venta			numeric(3, 0),
	@Valor_Nominal_Venta		numeric(19, 4),
	@Frecuencia_Pago_Venta		numeric(3, 0),
	@Frecuencia_Capital_Venta	numeric(3, 0),
	@Indicador_Venta		numeric(3, 0),
	@Tasa_Venta			numeric(12, 8),
	@Conteo_Dias_Venta		numeric(3, 0),
	@Fecha_Efectiva_Venta		datetime,
	@Fecha_Inicio_Venta		datetime,
	@Fecha_Penultimo_Venta		datetime,
	@Fecha_Madurez_Venta		datetime,
	@Moneda_Pago_Venta		numeric(3, 0),
	@Medio_Pago_Venta		numeric(3, 0),	
	@Estado				char (1),
	@CodCarteraOrigen		SMALLINT,
	@CodMesaOrigen			SMALLINT,
	@CodCarteraDestino		SMALLINT,
	@CodMesaDestino			SMALLINT,
	@Fecha_Vcto_Ultimo_Pago		datetime)
AS
BEGIN
	DECLARE @horaF          CHAR(8),
	@numOpRela          numeric(9,0)
	
	SET @horaF         = CONVERT(CHAR(08),GETDATE(),108)


	SET NOCOUNT ON

	INSERT INTO TBL_MOVTICKETSWAP (	Fecha_operacion,
					numero_operacion,
					numero_operacion_relacional,
					Cantidad_flujo,
					Ticker,
					Hora,
					Usuario,
					Modalidad,
					Moneda_Compra,
					Valor_Nominal_Compra,
					Frecuencia_Pago_Compra,
					Frecuencia_Capital_Compra,
					Indicador_Compra,
					Tasa_Compra,
					Conteo_Dias_Compra,
					Fecha_Efectiva_Compra,
					Fecha_Inicio_Compra,
					Fecha_Penultimo_Pago_Compra,
					Fecha_Madurez_Compra,
					Moneda_Pago_Compra,
					Medio_Pago_Compra,
					Moneda_Venta,
					Valor_Nominal_Venta,
					Frecuencia_Pago_Venta,
					Frecuencia_Capital_Venta,
					Indicador_Venta,
					Tasa_Venta,
					Conteo_Dias_Venta,
					Fecha_Efectiva_Venta,
					Fecha_Inicio_Venta,
					Fecha_Penultimo_Venta,
					Fecha_Madurez_Venta,
					Moneda_Pago_Venta,
					Medio_Pago_Venta,
					Estado,
					CodCarteraOrigen,
					CodMesaOrigen,
					CodCarteraDestino,
					CodMesaDestino,
					Fecha_Vcto_Ultimo_Pago)
				VALUES(	@Fecha_operacion,
					@numero_operacion,
					0,	
					@Cantidad_flujo,
					@Ticker,
					@horaF,
					@Usuario,
					@Modalidad,
					@Moneda_Compra,
					@Valor_Nominal_Compra,
					@Frecuencia_Pago_Compra	,	 
					@Frecuencia_Capital_Compra,	 
					@Indicador_Compra,	 
					@Tasa_Compra,
					@Conteo_Dias_Compra,
					@Fecha_Efectiva_Compra,
					@Fecha_Inicio_Compra,		
					@Fecha_Penultimo_Pago_Compra,
					@Fecha_Madurez_Compra,
					@Moneda_Pago_Compra, 
					@Medio_Pago_Compra ,
					@Moneda_Venta ,
					@Valor_Nominal_Venta ,
					@Frecuencia_Pago_Venta,
					@Frecuencia_Capital_Venta,
					@Indicador_Venta,
					@Tasa_Venta,
					@Conteo_Dias_Venta,
					@Fecha_Efectiva_Venta,
					@Fecha_Inicio_Venta,
					@Fecha_Penultimo_Venta,
					@Fecha_Madurez_Venta,
					@Moneda_Pago_Venta,
					@Medio_Pago_Venta,
					@Estado,
					@CodCarteraOrigen,
					@CodMesaOrigen,
					@CodCarteraDestino,
					@CodMesaDestino,
					@Fecha_Vcto_Ultimo_Pago)	

	INSERT INTO TBL_CARTICKETSWAP (	Fecha_operacion,
					numero_operacion,
					numero_operacion_relacional,
					Cantidad_flujo,
					Ticker,
					Modalidad,
					Moneda_Compra,
					Valor_Nominal_Compra,
					Frecuencia_Pago_Compra,
					Frecuencia_Capital_Compra,
					Indicador_Compra,
					Tasa_Compra,
					Conteo_Dias_Compra,
					Fecha_Efectiva_Compra,
					Fecha_Inicio_Compra,
					Fecha_Penultimo_Pago_Compra,
					Fecha_Madurez_Compra,
					Moneda_Pago_Compra,
					Medio_Pago_Compra,
					Moneda_Venta,
					Valor_Nominal_Venta,
					Frecuencia_Pago_Venta,
					Frecuencia_Capital_Venta,
					Indicador_Venta,
					Tasa_Venta,
					Conteo_Dias_Venta,
					Fecha_Efectiva_Venta,
					Fecha_Inicio_Venta,
					Fecha_Penultimo_Venta,
					Fecha_Madurez_Venta,
					Moneda_Pago_Venta,
					Medio_Pago_Venta,
					CodCarteraOrigen,
					CodMesaOrigen,
					CodCarteraDestino,
					CodMesaDestino,
					Fecha_Vcto_Ultimo_Pago,
					Usuario)
				VALUES(	@Fecha_operacion,
					@numero_operacion,
					0,
					@Cantidad_flujo,
					@Ticker,
					@Modalidad,
					@Moneda_Compra,
					@Valor_Nominal_Compra,
					@Frecuencia_Pago_Compra,
					@Frecuencia_Capital_Compra,
					@Indicador_Compra,
					@Tasa_Compra,
					@Conteo_Dias_Compra,
					@Fecha_Efectiva_Compra,
					@Fecha_Inicio_Compra,
					@Fecha_Penultimo_Pago_Compra,	
					@Fecha_Madurez_Compra,
					@Moneda_Pago_Compra,
					@Medio_Pago_Compra,
					@Moneda_Venta,
					@Valor_Nominal_Venta,
					@Frecuencia_Pago_Venta,
					@Frecuencia_Capital_Venta,
					@Indicador_Venta,
					@Tasa_Venta,
					@Conteo_Dias_Venta,
					@Fecha_Efectiva_Venta,
					@Fecha_Inicio_Venta,
					@Fecha_Penultimo_Venta,
					@Fecha_Madurez_Venta,
					@Moneda_Pago_Venta,
					@Medio_Pago_Venta,
					@CodCarteraOrigen,
					@CodMesaOrigen,
					@CodCarteraDestino,
					@CodMesaDestino,
					@Fecha_Vcto_Ultimo_Pago,
					@Usuario)	

		--operacion espejo

	UPDATE	SwapGeneral 
	SET	AcTicketMesa  = AcTicketMesa  + 1

	select	@numOpRela = AcTicketMesa
	from	SwapGeneral


	INSERT INTO TBL_MOVTICKETSWAP (	Fecha_operacion,
					numero_operacion,
					numero_operacion_relacional,
					Cantidad_flujo,
					Ticker,
					Hora,
					Usuario,
					Modalidad,
					Moneda_Compra,
					Valor_Nominal_Compra,
					Frecuencia_Pago_Compra,
					Frecuencia_Capital_Compra,
					Indicador_Compra,
					Tasa_Compra,
					Conteo_Dias_Compra,
					Fecha_Efectiva_Compra,
					Fecha_Inicio_Compra,
					Fecha_Penultimo_Pago_Compra,
					Fecha_Madurez_Compra,
					Moneda_Pago_Compra,
					Medio_Pago_Compra,
					Moneda_Venta,
					Valor_Nominal_Venta,
					Frecuencia_Pago_Venta,
					Frecuencia_Capital_Venta,
					Indicador_Venta,
					Tasa_Venta,
					Conteo_Dias_Venta,
					Fecha_Efectiva_Venta,
					Fecha_Inicio_Venta,
					Fecha_Penultimo_Venta,
					Fecha_Madurez_Venta,
					Moneda_Pago_Venta,
					Medio_Pago_Venta,
					Estado,
					CodCarteraOrigen,
					CodMesaOrigen,
					CodCarteraDestino,
					CodMesaDestino,
					Fecha_Vcto_Ultimo_Pago)
				VALUES(	@Fecha_operacion,
					@numOpRela,
					@numero_operacion,
					@Cantidad_flujo,
					@Ticker,
					@horaF,
					@Usuario,
					@Modalidad,
					@Moneda_Venta ,
					@Valor_Nominal_Venta ,
					@Frecuencia_Pago_Venta,
					@Frecuencia_Capital_Venta,
					@Indicador_Venta,
					@Tasa_Venta,
					@Conteo_Dias_Venta,
					@Fecha_Efectiva_Venta,
					@Fecha_Inicio_Venta,
					@Fecha_Penultimo_Venta,
					@Fecha_Madurez_Venta,
					@Moneda_Pago_Venta,
					@Medio_Pago_Venta,
					@Moneda_Compra,
					@Valor_Nominal_Compra,
					@Frecuencia_Pago_Compra,
					@Frecuencia_Capital_Compra,
					@Indicador_Compra,
					@Tasa_Compra,
					@Conteo_Dias_Compra,
					@Fecha_Efectiva_Compra,
					@Fecha_Inicio_Compra,
					@Fecha_Penultimo_Pago_Compra,
					@Fecha_Madurez_Compra,
					@Moneda_Pago_Compra, 
					@Medio_Pago_Compra ,
					@Estado,
					@CodCarteraDestino,
					@CodMesaDestino,
					@CodCarteraOrigen,
					@CodMesaOrigen,
					@Fecha_Vcto_Ultimo_Pago)


	INSERT INTO TBL_CARTICKETSWAP (	Fecha_operacion,
					numero_operacion,
					numero_operacion_relacional,
					Cantidad_flujo,
					Ticker,
					Modalidad,
					Moneda_Compra,
					Valor_Nominal_Compra,
					Frecuencia_Pago_Compra,
					Frecuencia_Capital_Compra,
					Indicador_Compra,
					Tasa_Compra,
					Conteo_Dias_Compra,
					Fecha_Efectiva_Compra,
					Fecha_Inicio_Compra,
					Fecha_Penultimo_Pago_Compra,
					Fecha_Madurez_Compra,
					Moneda_Pago_Compra,
					Medio_Pago_Compra,
					Moneda_Venta,
					Valor_Nominal_Venta,
					Frecuencia_Pago_Venta,
					Frecuencia_Capital_Venta,
					Indicador_Venta,
					Tasa_Venta,
					Conteo_Dias_Venta,
					Fecha_Efectiva_Venta,
					Fecha_Inicio_Venta,
					Fecha_Penultimo_Venta,
					Fecha_Madurez_Venta,
					Moneda_Pago_Venta,
					Medio_Pago_Venta,
					CodCarteraOrigen,
					CodMesaOrigen,
					CodCarteraDestino,
					CodMesaDestino,
					Fecha_Vcto_Ultimo_Pago,
					Usuario)
				VALUES(	@Fecha_operacion,
					@numOpRela,
					@numero_operacion,
					@Cantidad_flujo,
					@Ticker,
					@Modalidad,
					@Moneda_Venta,
					@Valor_Nominal_Venta,
					@Frecuencia_Pago_Venta,
					@Frecuencia_Capital_Venta,
					@Indicador_Venta,
					@Tasa_Venta,
					@Conteo_Dias_Venta,
					@Fecha_Efectiva_Venta,
					@Fecha_Inicio_Venta,
					@Fecha_Penultimo_Venta,
					@Fecha_Madurez_Venta,
					@Moneda_Pago_Venta,
					@Medio_Pago_Venta,
					@Moneda_Compra,
					@Valor_Nominal_Compra,
					@Frecuencia_Pago_Compra,
					@Frecuencia_Capital_Compra,
					@Indicador_Compra,
					@Tasa_Compra,
					@Conteo_Dias_Compra,
					@Fecha_Efectiva_Compra,
					@Fecha_Inicio_Compra,
					@Fecha_Penultimo_Pago_Compra,
					@Fecha_Madurez_Compra,
					@Moneda_Pago_Compra,
					@Medio_Pago_Compra,
					@CodCarteraDestino,
					@CodMesaDestino,
					@CodCarteraOrigen,
					@CodMesaOrigen,
					@Fecha_Vcto_Ultimo_Pago,
					@Usuario)





	IF @@ERROR <> 0
		BEGIN
		      SELECT -1 ,'Problemas en la Grabación del Registro Ticket Intra Mesa'
		      RETURN
		   END

	SELECT 0 , 'Grabación del Registro Ticket Intra Mesa Ha Finalizado en Forma Correcta.'

END

GO
