USE [Reportes]
GO
/****** Object:  StoredProcedure [dbo].[CONTRATO_FECHA_CONTRATO_FORWARD_PROTOCOLO_INTERBANCARIO]    Script Date: 16-05-2022 10:19:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CONTRATO_FECHA_CONTRATO_FORWARD_PROTOCOLO_INTERBANCARIO]  
   
AS  
BEGIN  
   
  
    select 'FECHACONTRATO' = acfecproc from BACFWDSUDA..MFAC  
  
END
GO
