USE [Reportes]
GO
/****** Object:  StoredProcedure [dbo].[SP_INT_RENTABILIDAD_CUADRO_PAGO]    Script Date: 16-05-2022 10:19:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INT_RENTABILIDAD_CUADRO_PAGO]
(
	@OPCION INT		= NULL
	,@FECHA DATE	= NULL
)
AS
BEGIN
SET NOCOUNT ON
SET CONCAT_NULL_YIELDS_NULL OFF
/* 
	PROYECTO	: RENTABILIDAD
	DESCRIPCION	: INTERFAZ CUADRO DE PAGO
	AUTOR		: RODRIGO SILVA RAMIREZ  
	FECHA		: 27-03-2017
*/
--	SONDA		: RENTABILIDAD
--	DESCRIPCION	: INTERFAZ RESULTADOS OPERACIONES
--	MODIFICACION: 30-05-2019	modificar 

/*******************************************************
		DECLARACION DE VARIABLES
********************************************************/
DECLARE @FECHA_PROCESO		VARCHAR(10)		--DATE
DECLARE @FECHA_CONTABLE		VARCHAR(10)		--DATE

DECLARE @FECHA_INICIO		VARCHAR(10)		--DATE
DECLARE @HORA_INICIO		VARCHAR(8)		--TIME

DECLARE @FECHA_TERMINO		VARCHAR(10)		--DATE
DECLARE @HORA_TERMINO		VARCHAR(8)		--TIME

DECLARE @TOTAL_REGISTROS	VARCHAR(8)

DECLARE @FECHA_PROC_FILTRO	DATE

/*******************************************************
		GENERACION DE ENCABEZADO (PARTE 1)
********************************************************/
-- OBTENCION DE FECHAS: PROCESO, CONTABLE E INICIO --
SELECT 
	 @FECHA_PROCESO	= CONVERT(VARCHAR(10),acfecproc,105)	-- 
	,@FECHA_CONTABLE	= CONVERT(VARCHAR(10),acfecproc,105)	-- EQUIVALENTE A FECHA PROCESO
	,@FECHA_INICIO		= CONVERT(VARCHAR(10),GETDATE(),105) 
FROM BacFwdSuda.dbo.MFAC with(nolock)

-- HORA DE INICIO --
SET @HORA_INICIO = CONVERT(VARCHAR(8),GETDATE(),108)

/*******************************************************
		EXTRACCION DE DATOS 
********************************************************/
CREATE TABLE #TMP_CUADRO_PAGO
(
	NRO_OPERACION		NUMERIC(20,0)	DEFAULT (0)
   ,NRO_DOCUMENTO		NUMERIC(20,0)	DEFAULT (0)
   ,NRO_CORRELATIVO		NUMERIC			DEFAULT (0)
   ,FEC_VEC_FLUJO		DATE
   ,FEC_PROCESO			DATE
   ,SDO_AMRT_MON_ORIGEN	NUMERIC(20,4)
   ,SDO_AMRT_MON_LOCAL  NUMERIC(20,4)
   ,TPO_SALDO			NUMERIC
   ,ID_SISTEMA			VARCHAR(10)
   ,T_FLUJO				INT
)


 /********************************************************
 	DATOS DE SWAP
 ********************************************************/
 -- LECTURA DE FECHA DE PROCESO DE SISTEMA: SWAP
 IF @FECHA IS NULL BEGIN
 	SET @FECHA_PROC_FILTRO = (SELECT TOP 1 FECHAPROC FROM BACSWAPSUDA.DBO.SWAPGENERAL WITH(NOLOCK)) 
 END ELSE BEGIN
 	SET @FECHA_PROC_FILTRO = @FECHA
 END
 
 -- LLENADO TABLA TEMPORAL: CON DATOS DE SWAP
 INSERT INTO #TMP_CUADRO_PAGO 
 EXEC SP_RENT_CUADRO_PAGO_SWAP @FECHA=@FECHA_PROC_FILTRO
 

  /********************************************************
 	DATOS DE RENTA FIJA
 ********************************************************/
 -- LECTURA DE FECHA DE PROCESO DE SISTEMA: RENTA FIJA
 IF @FECHA IS NULL BEGIN
 	SET @FECHA_PROC_FILTRO = (SELECT TOP 1 acfecproc FROM BacTraderSuda.dbo.MDAC WITH(NOLOCK))
 END ELSE BEGIN
 	SET @FECHA_PROC_FILTRO = @FECHA
 END
 
 -- LLENADO TABLA TEMPORAL: CON DATOS DE RENTA FIJA
 INSERT INTO #TMP_CUADRO_PAGO 
 EXEC SP_RENT_CUADRO_PAGO_RF @FECHA=@FECHA_PROC_FILTRO




 /********************************************************
  	DATOS DE FORWARD
 ********************************************************/
 -- LECTURA DE FECHA DE PROCESO DE SISTEMA: FORWARD
 IF @FECHA IS NULL BEGIN
 	SET @FECHA_PROC_FILTRO = (SELECT TOP 1 ACFECPROC FROM BACFWDSUDA.DBO.MFAC WITH(NOLOCK)) 
 END ELSE BEGIN
 	SET @FECHA_PROC_FILTRO = @FECHA
 END
 
 -- LLENADO TABLA TEMPORAL: CON DATOS DE FORWARD
 INSERT INTO #TMP_CUADRO_PAGO 
 EXEC SP_RENT_CUADRO_PAGO_FWD @FECHA=@FECHA_PROC_FILTRO
  
 /********************************************************
 	DATOS DE BONEX
 ********************************************************/
 -- LECTURA DE FECHA DE PROCESO DE SISTEMA: RENTA FIJA
 IF @FECHA IS NULL BEGIN
 	SET @FECHA_PROC_FILTRO = (SELECT TOP 1 ACFECPROC FROM BACBONOSEXTSUDA.DBO.TEXT_ARC_CTL_DRI WITH(NOLOCK))
 END ELSE BEGIN
 	SET @FECHA_PROC_FILTRO = @FECHA
 END
 
 -- LLENADO TABLA TEMPORAL: CON DATOS DE RENTA FIJA
 INSERT INTO #TMP_CUADRO_PAGO 
 EXEC SP_RENT_CUADRO_PAGO_BONEX @FECHA=@FECHA_PROC_FILTRO



 /********************************************************
 	DATOS DE OPCIONES
 ********************************************************/
 -- LECTURA DE FECHA DE PROCESO DE SISTEMA:OPCIONES
 IF @FECHA IS NULL BEGIN
 	--SET @FECHA_PROC_FILTRO = (SELECT TOP 1 FECHAPROC FROM CbMdbOpc.dbo.OpcionesGeneral WITH(NOLOCK))
 	SET @FECHA_PROC_FILTRO = (SELECT TOP 1 FECHAPROC FROM BACSWAPSUDA.DBO.SWAPGENERAL WITH(NOLOCK))  
 END ELSE BEGIN
 	SET @FECHA_PROC_FILTRO = @FECHA
 END
 
 -- LLENADO TABLA TEMPORAL: CON DATOS DE OPCIONES
 INSERT INTO #TMP_CUADRO_PAGO 
 EXEC SP_RENT_CUADRO_PAGO_OPT @FECHA=@FECHA_PROC_FILTRO


 /********************************************************
 	DATOS DE PSV
 ********************************************************/
 -- LECTURA DE FECHA DE PROCESO DE SISTEMA:OPCIONES
 IF @FECHA IS NULL BEGIN
 	SET @FECHA_PROC_FILTRO = (select top 1 Fecha_Proceso from MDParPasivo..DATOS_GENERALES WITH(NOLOCK)) 
 END ELSE BEGIN
 	SET @FECHA_PROC_FILTRO = @FECHA
 END
 
 -- LLENADO TABLA TEMPORAL: CON DATOS DE OPCIONES
 INSERT INTO #TMP_CUADRO_PAGO 
 EXEC SP_RENT_CUADRO_PAGO_PSV @FECHA=@FECHA_PROC_FILTRO



WAITFOR DELAY '00:00:01'

SELECT DISTINCT 
 IDF_CTO_ODS                   			=		dbo.FX_RNT_IDF_CTO_ODS(NRO_DOCUMENTO,NRO_OPERACION,NRO_CORRELATIVO,ID_SISTEMA,T_FLUJO)
,COD_CONTENIDO                 			=		SPACE(4)            		 
,FEC_FLUJO                     			=		REPLACE(FEC_VEC_FLUJO,'-','')	--REPLICATE('0',8)    		-- LLENAR 
,FEC_DATA                      			=		REPLACE(FEC_PROCESO,'-','')								--REPLICATE('0',8)    			-- LLENAR 
,COD_PAIS                      			=		REPLICATE('0',2)    		 
,SDO_AMRT_MO                   			=		(select dbo.Fx_RNT_Formato_Decimales(sdo_amrt_mon_origen,20,4,'true'))
,SDO_AMRT_ML                   			=		(select dbo.Fx_RNT_Formato_Decimales(sdo_amrt_mon_local,20,4,'true'))
,COD_SIS_ORIGEN                			=		SPACE(4)            		 
,COD_PROCESO                   			=		SPACE(20)           		 
,USERID_UMO                    			=		SPACE(10)           		 
,TIMEST_UMO                    			=		REPLICATE('0',8)    		 
,TPO_SDO_AMRT                  			=		RIGHT(REPLICATE('0',2)+CONVERT(VARCHAR,TPO_SALDO),2)    			-- LLENAR 
,ROWID_FILA                    			=		SPACE(64)           		 
,GRAD_GEOMETRICO               			=		REPLICATE('0',7)    			-- (7,4)  ->3,4
,COD_TIPO_AMRT                 			=		SPACE(20)          
,ID_SISTEMA 		 
INTO #TMP_INTERFAZ_CUADRO_PAGO
FROM #TMP_CUADRO_PAGO

DROP TABLE #TMP_CUADRO_PAGO



/*******************************************************
		DESPLIEGUE DE RESULTADOS
********************************************************/
IF ISNULL(@OPCION,-1)=-1 BEGIN
	/* DESPLIEGA RESULTADOS PARA LA GENERACION AUTOMATICA DE LA INTERFACE */
	SELECT
		DATA=
		 IDF_CTO_ODS              
		+COD_CONTENIDO            
		+FEC_FLUJO					
		+FEC_DATA                 
		+COD_PAIS                 
		+SDO_AMRT_MO              
		+SDO_AMRT_ML              
		+COD_SIS_ORIGEN           
		+COD_PROCESO              
		+USERID_UMO               
		+TIMEST_UMO               
		+TPO_SDO_AMRT             
		+ROWID_FILA               
		+GRAD_GEOMETRICO          
		+COD_TIPO_AMRT            
	FROM #TMP_INTERFAZ_CUADRO_PAGO



    SET @TOTAL_REGISTROS = RIGHT(REPLICATE('0',8) + CONVERT(VARCHAR,@@ROWCOUNT),8)	   

	SET @FECHA_TERMINO	 = CONVERT(VARCHAR(10),GETDATE(),105)
	SET @HORA_TERMINO = CONVERT(VARCHAR(8),GETDATE(),108) 

	SELECT HEADER = @FECHA_PROCESO+@FECHA_CONTABLE+@FECHA_INICIO+@HORA_INICIO+@FECHA_TERMINO+@HORA_TERMINO+@TOTAL_REGISTROS

END ELSE BEGIN	
	/* DESPLIEGA RESULTADOS PARA REVISION */

	SELECT *
		FROM #TMP_INTERFAZ_CUADRO_PAGO

	SET @TOTAL_REGISTROS = RIGHT(REPLICATE('0',8) + CONVERT(VARCHAR,@@ROWCOUNT),8)	   
	
	SET @FECHA_TERMINO	 = CONVERT(VARCHAR(10),GETDATE(),105)
	SET @HORA_TERMINO = CONVERT(VARCHAR(8),GETDATE(),108) 	
	SELECT 
		@FECHA_PROCESO		AS FECHA_PROCESO
		,@FECHA_CONTABLE	AS FECHA_CONTABLE
		,@FECHA_INICIO		AS FECHA_INICIO
		,@HORA_INICIO		AS HORA_INICIO
		,@FECHA_TERMINO	AS FECHA_TERMINO
		,@HORA_TERMINO		AS HORA_TERMINO
		,@TOTAL_REGISTROS	AS TOTAL_REGISTROS
	
END

END --FIN DDL
GO
