USE [Reportes]
GO
/****** Object:  StoredProcedure [dbo].[SP_VM_BAC_TRANSACCTION]    Script Date: 16-05-2022 10:19:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--IF OBJECT_ID('SP_VM_BAC_TRANSACCTION')>0
--	DROP PROCEDURE DBO.SP_VM_BAC_TRANSACCTION
--GO
-- =============================================
-- Author:                          SONDA S.A.
-- Create date: 13-02.2020
-- Description:             INTERFAZ VMETRIX TRANSACCTION
-- =============================================

--20200903 - PLL - Se modifica formato campos date y datetime (dd/MM/aaaa y dd/MM/aaaa hh:mm) - Camilo
--20200923 -¨PLL - Se incorpora asociación de Usuarios 

-- EXEC SP_VM_BAC_TRANSACCTION
CREATE PROCEDURE [dbo].[SP_VM_BAC_TRANSACCTION]
AS BEGIN 

--BEGIN TRAN

SET NOCOUNT ON 
SET DATEFORMAT DMY
 

DECLARE @FECHA_SWP  DATETIME; SET @FECHA_SWP  = ISNULL((SELECT fechaproc FROM BACSwapSUDA..SWAPGENERAL), '')
DECLARE @FECHA_FWD  DATETIME; SET @FECHA_FWD  = ISNULL((SELECT acfecproc FROM BACFWDSUDA..MFAC), '')
DECLARE @FECHA_OPT  DATETIME; SET @FECHA_OPT  = ISNULL((SELECT fechaproc FROM CbMdbOpc..OpcionesGeneral), '')

 
DECLARE @SEP  VARCHAR(1) 
    SET @SEP  = ','

--código de tablas GENERAL GLOBAL y DETALLE para "VMETRIX - USR_ID_VMX"
DECLARE @VMETRIX_USR_ID_VMX AS INT	
	SET @VMETRIX_USR_ID_VMX = 77
	--SELECT tbcodigo1,* FROM BACPARAMSUDA..TABLA_GENERAL_DETALLE WHERE TBCATEG = 77
														
   CREATE TABLE #VM_BAC_TRANSACCTION
         ( TRAN_ID             INT
         , CPTY_ID             BIGINT
         , SETTMET_ID          INT
         , BS_ID               INT
         , USR_ID              INT
         , INT_PTY_ID          INT
         , PORT_ID             INT
         , TRST_ID             INT
         , INS_ID              INT
         , CFT_ID              INT
         , ASTT_ID             INT
         , TRAN_DEAL           INT
         , TRAN_TRADE_DATE     VARCHAR(20)
         , TRAN_TRADE_TIME     VARCHAR(20)
         , TRAN_INPUT_DATE     VARCHAR(20)
         , TRAN_SETTLE_DATE    VARCHAR(20)
         , TRAN_MAT_DATE       VARCHAR(20)
         , TRAN_POSITION       INT
         , TRAN_CLOSE_POS      INT
         , TRAN_PRICE          NUMERIC(21,4)
         , TRAN_PROCEEDS       NUMERIC(21,4)
         , TRAN_RATE           NUMERIC(21,4)
         )

	--SE AGREGA PARA INCORPORAR LINEA DE ENCABEZADO A SALIDA -- PLL-20200512
DECLARE @Con_Linea_Encabezado VARCHAR(1)	-- PLL-20200512
    SET @Con_Linea_Encabezado = 'Y'			-- PLL-20200512
	
	CREATE TABLE #VM_BAC_TRANSACCTION_SALIDA
	(
	ORDEN            Int,		--PARA COMPATIBILIDAD DE SALIDA
	REG_SALIDA			Varchar(1000))
	--SE AGREGA PARA INCORPORAR LINEA DE ENCABEZADO A SALIDA -- PLL-20200512

         
	--- ================================================
	--- SWAPS - CABECERA
	--- ================================================
	INSERT INTO #VM_BAC_TRANSACCTION
	SELECT DISTINCT TRAN_ID             =  CAB.NUMERO_OPERACION
         ,'CPTY_ID' =	SUBSTRING(CAST(CL.CLRUT AS VARCHAR(12)), 1, 35) 
								+ CASE WHEN CL.SECUENCIA = 0 THEN '' ELSE CAST(cl.secuencia AS VARCHAR(9)) END

         , SETTMET_ID          =  CASE CAB.modalidad_pago WHEN 'C' THEN 1 ELSE 0 END -->> 0-Physical-delivery // 1-Non-delivery
         , BS_ID               =  CASE CAB.TIPO_OPERACION WHEN 'C' THEN 0 ELSE 1 END -->> 0-BUY // 1-SELL
         , USR_ID              =  ISNULL(U.IDTURING,ISNULL((SELECT tbcodigo1
																				FROM BACPARAMSUDA..TABLA_GENERAL_DETALLE  
																				WHERE TBCATEG = @VMETRIX_USR_ID_VMX AND NEMO = CAB.OPERADOR), 0))
         , INT_PTY_ID          =  97023000	--0 -- *** PENDIENTE DE DEFINICION ****
         , PORT_ID             =  CAB.CARTERA_INVERSION 
                               *  10
                               +  CASE CAB.CAR_LIBRO WHEN 1 THEN 0 -->> NEGOCIACION // 0 - BANKING
													 WHEN 2 THEN 1 -->> TRADING     // 1 - TRADING
													 END -- LLAVE PARA TABLA PORTFOLIO
         , TRST_ID             =  3
         , INS_ID              =  CAB.NUMERO_OPERACION
         , CFT_ID              =  -1  -- VALOR FIJO
         , ASTT_ID             =  2	-- 20200916 --0   -- VALOR FIJO
         , TRAN_DEAL           =  CAB.NUMERO_OPERACION
         , TRAN_TRADE_DATE     =  LTRIM(CONVERT(VARCHAR(20),CAB.FECHA_CIERRE,103)) 
         , TRAN_TRADE_TIME     =  LTRIM(CONVERT(VARCHAR(20),CAB.FECHA_CIERRE,103)) + ' ' + LEFT(LTRIM(CONVERT(VARCHAR(10),CAB.HORA,108)), 5)
         , TRAN_INPUT_DATE     =  LTRIM(CONVERT(VARCHAR(20),CAB.FECHA_INICIO,103)) 
         , TRAN_SETTLE_DATE    =  LTRIM(CONVERT(VARCHAR(20),CAB.FECHALIQUIDACION,103)) 
--         , TRAN_SETTLE_DATE    =  LTRIM(CONVERT(VARCHAR(20),'1900/01/01',103)) 
         , TRAN_MAT_DATE       =  LTRIM(CONVERT(VARCHAR(20),CAB.MADUREZ,103)) 
         , TRAN_POSITION       =  0   -- VALOR FIJO
         , TRAN_CLOSE_POS      =  0   -- VALOR FIJO
         , TRAN_PRICE          =  0   -- VALOR FIJO
         , TRAN_PROCEEDS       =  0   -- VALOR FIJO
         , TRAN_RATE           =  0   -- VALOR FIJO
	FROM BACSWAPSUDA..CARTERA AS CAB 
	LEFT JOIN BACPARAMSUDA..CLIENTE AS CL  ON CL.CLRUT = CAB.RUT_CLIENTE AND CL.CLCODIGO = CAB.CODIGO_CLIENTE
	LEFT JOIN BACPARAMSUDA..USUARIO AS U   ON U.USUARIO = CAB.OPERADOR 
	WHERE	/*CAB.FECHA_CIERRE	= @FECHA_SWP*/
			CAB.ESTADO<>'N'--anticipado
	AND		CAB.TIPO_FLUJO		= 1 
	AND		CAB.ESTADO_FLUJO	= 1
	AND		CAB.ESTADO			<>'C'-->CVM20210115 EXCLUSION COTIZACIONES
	ORDER BY 1 
	
	--- ================================================
	--- SWAPS - ANTICIPO
	--- ================================================
	--ANTICIPO TOTAL 
	INSERT INTO #VM_BAC_TRANSACCTION
	SELECT DISTINCT  TRAN_ID             =  CAB.NUMERO_OPERACION
         ,'CPTY_ID' =	SUBSTRING(CAST(CL.CLRUT AS VARCHAR(12)), 1, 35) 
								+ CASE WHEN CL.SECUENCIA = 0 THEN '' ELSE CAST(cl.secuencia AS VARCHAR(9)) END

         , SETTMET_ID          =  CASE CAB.modalidad_pago WHEN 'C' THEN 1 ELSE 0 END -->> 0-Physical-delivery // 1-Non-delivery
         , BS_ID               =  CASE CAB.TIPO_OPERACION WHEN 'C' THEN 0 ELSE 1 END -->> 0-BUY // 1-SELL
         , USR_ID              =  ISNULL(U.IDTURING,ISNULL((SELECT tbcodigo1
																				FROM BACPARAMSUDA..TABLA_GENERAL_DETALLE  
																				WHERE TBCATEG = @VMETRIX_USR_ID_VMX AND NEMO = CAB.OPERADOR), 0))
         , INT_PTY_ID          =  97023000	--0 -- *** PENDIENTE DE DEFINICION ****
         , PORT_ID             =  CAB.CARTERA_INVERSION 
                               *  10
                               +  CASE CAB.CAR_LIBRO WHEN 1 THEN 0 -->> NEGOCIACION // 0 - BANKING
													 WHEN 2 THEN 1 -->> TRADING     // 1 - TRADING
													 END -- LLAVE PARA TABLA PORTFOLIO
         , TRST_ID             =  4--ANTICIPO TOTAL
         , INS_ID              =  CAB.NUMERO_OPERACION
         , CFT_ID              =  -1  -- VALOR FIJO
         , ASTT_ID             =  2	-- 20200916 --0   -- VALOR FIJO
         , TRAN_DEAL           =  CAB.NUMERO_OPERACION
         , TRAN_TRADE_DATE     =  LTRIM(CONVERT(VARCHAR(20),CAB.FECHA_CIERRE,103)) 
         , TRAN_TRADE_TIME     =  LTRIM(CONVERT(VARCHAR(20),CAB.FECHA_CIERRE,103)) + ' ' + LEFT(LTRIM(CONVERT(VARCHAR(10),CAB.HORA,108)), 5)
         , TRAN_INPUT_DATE     =  LTRIM(CONVERT(VARCHAR(20),CAB.FECHA_INICIO,103)) 
         , TRAN_SETTLE_DATE    =  LTRIM(CONVERT(VARCHAR(20),CAB.MADUREZ,103)) -->>fechas originales de vcto
--         , TRAN_SETTLE_DATE    =  LTRIM(CONVERT(VARCHAR(20),'1900/01/01',103)) 
         , TRAN_MAT_DATE       =  LTRIM(CONVERT(VARCHAR(20),CAB.MADUREZ,103)) -->>fechas originales de vcto
         , TRAN_POSITION       =  0   -- VALOR FIJO
         , TRAN_CLOSE_POS      =  0   -- VALOR FIJO
         , TRAN_PRICE          =  0   -- VALOR FIJO
         , TRAN_PROCEEDS       =  0   -- VALOR FIJO
         , TRAN_RATE           =  0   -- VALOR FIJO
	FROM BACSWAPSUDA..CARTERA_UNWIND AS CAB 
      LEFT JOIN BACPARAMSUDA..CLIENTE AS CL  ON CL.CLRUT = CAB.RUT_CLIENTE AND CL.CLCODIGO = CAB.CODIGO_CLIENTE
      LEFT JOIN BACPARAMSUDA..USUARIO AS U   ON U.USUARIO = CAB.OPERADOR 
   WHERE CAB.FECHAANTICIPO		= @FECHA_SWP  
		AND CAB.fecha_termino	=  CAB.fecha_vence_flujo
	AND CAB.estado			<>'C'-->cvm20210115 exclusion cotizaciones
	ORDER BY 1 

	INSERT INTO #VM_BAC_TRANSACCTION
	SELECT DISTINCT  TRAN_ID             =  CAB.NUMERO_OPERACION
         ,'CPTY_ID' =	SUBSTRING(CAST(CL.CLRUT AS VARCHAR(12)), 1, 35) 
								+ CASE WHEN CL.SECUENCIA = 0 THEN '' ELSE CAST(cl.secuencia AS VARCHAR(9)) END

         , SETTMET_ID          =  CASE CAB.modalidad_pago WHEN 'C' THEN 1 ELSE 0 END -->> 0-Physical-delivery // 1-Non-delivery
         , BS_ID               =  CASE CAB.TIPO_OPERACION WHEN 'C' THEN 0 ELSE 1 END -->> 0-BUY // 1-SELL
         , USR_ID              =  ISNULL(U.IDTURING,ISNULL((SELECT tbcodigo1
																				FROM BACPARAMSUDA..TABLA_GENERAL_DETALLE  
																				WHERE TBCATEG = @VMETRIX_USR_ID_VMX AND NEMO = CAB.OPERADOR), 0))
         , INT_PTY_ID          =  97023000	--0 -- *** PENDIENTE DE DEFINICION ****
         , PORT_ID             =  CAB.CARTERA_INVERSION 
                               *  10
                               +  CASE CAB.CAR_LIBRO WHEN 1 THEN 0 -->> NEGOCIACION // 0 - BANKING
													 WHEN 2 THEN 1 -->> TRADING     // 1 - TRADING
													 END -- LLAVE PARA TABLA PORTFOLIO
         , TRST_ID             =  6--ANTICIPO TOTAL
         , INS_ID              =  CAB.NUMERO_OPERACION
         , CFT_ID              =  -1  -- VALOR FIJO
         , ASTT_ID             =  2	-- 20200916 --0   -- VALOR FIJO
         , TRAN_DEAL           =  CAB.NUMERO_OPERACION
         , TRAN_TRADE_DATE     =  LTRIM(CONVERT(VARCHAR(20),CAB.FECHA_CIERRE,103)) 
         , TRAN_TRADE_TIME     =  LTRIM(CONVERT(VARCHAR(20),CAB.FECHA_CIERRE,103)) + ' ' + LEFT(LTRIM(CONVERT(VARCHAR(10),CAB.HORA,108)), 5)
         , TRAN_INPUT_DATE     =  LTRIM(CONVERT(VARCHAR(20),CAB.FECHA_INICIO,103)) 
         , TRAN_SETTLE_DATE    =  LTRIM(CONVERT(VARCHAR(20),CAB.FECHALIQUIDACION,103))-->>fecha del anticipo y no vcto original
--         , TRAN_SETTLE_DATE    =  LTRIM(CONVERT(VARCHAR(20),'1900/01/01',103)) 
         , TRAN_MAT_DATE       =  LTRIM(CONVERT(VARCHAR(20),CAB.FECHALIQUIDACION,103))-->>fecha del anticipo y no vcto original
         , TRAN_POSITION       =  0   -- VALOR FIJO
         , TRAN_CLOSE_POS      =  0   -- VALOR FIJO
         , TRAN_PRICE          =  0   -- VALOR FIJO
         , TRAN_PROCEEDS       =  0   -- VALOR FIJO
         , TRAN_RATE           =  0   -- VALOR FIJO
	FROM BACSWAPSUDA..CARTERA_UNWIND AS CAB 
      LEFT JOIN BACPARAMSUDA..CLIENTE AS CL  ON CL.CLRUT = CAB.RUT_CLIENTE AND CL.CLCODIGO = CAB.CODIGO_CLIENTE
      LEFT JOIN BACPARAMSUDA..USUARIO AS U   ON U.USUARIO = CAB.OPERADOR 
   WHERE CAB.FECHAANTICIPO		= @FECHA_SWP  
		AND CAB.fecha_termino	=  CAB.fecha_vence_flujo
	AND CAB.estado			<>'C'-->cvm20210115 exclusion cotizaciones
	ORDER BY 1 

	
	--ANTICIPO PARCIAL 
	INSERT INTO #VM_BAC_TRANSACCTION
	SELECT DISTINCT  TRAN_ID             =  CAB.NUMERO_OPERACION
         ,'CPTY_ID' =	SUBSTRING(CAST(CL.CLRUT AS VARCHAR(12)), 1, 35) 
								+ CASE WHEN CL.SECUENCIA = 0 THEN '' ELSE CAST(cl.secuencia AS VARCHAR(9)) END

         , SETTMET_ID          =  CASE CAB.modalidad_pago WHEN 'C' THEN 1 ELSE 0 END -->> 0-Physical-delivery // 1-Non-delivery
         , BS_ID               =  CASE CAB.TIPO_OPERACION WHEN 'C' THEN 0 ELSE 1 END -->> 0-BUY // 1-SELL
         , USR_ID              =  ISNULL(U.IDTURING,ISNULL((SELECT tbcodigo1
																				FROM BACPARAMSUDA..TABLA_GENERAL_DETALLE  
																				WHERE TBCATEG = @VMETRIX_USR_ID_VMX AND NEMO = CAB.OPERADOR), 0))
         , INT_PTY_ID          =  97023000	--0 -- *** PENDIENTE DE DEFINICION ****
         , PORT_ID             =  CAB.CARTERA_INVERSION 
                               *  10
                               +  CASE CAB.CAR_LIBRO WHEN 1 THEN 0 -->> NEGOCIACION // 0 - BANKING
													 WHEN 2 THEN 1 -->> TRADING     // 1 - TRADING
													 END -- LLAVE PARA TABLA PORTFOLIO
         , TRST_ID             =  10--CVM.20220224 INVERTIDOS POR FECHAS ORIGINALES 3--ANTICIPO PARCIAL
         , INS_ID              =  CAB.NUMERO_OPERACION
         , CFT_ID              =  -1  -- VALOR FIJO
         , ASTT_ID             =  2	-- 20200916 --0   -- VALOR FIJO
         , TRAN_DEAL           =  CAB.NUMERO_OPERACION
         , TRAN_TRADE_DATE     =  LTRIM(CONVERT(VARCHAR(20),CAB.FECHA_CIERRE,103)) 
         , TRAN_TRADE_TIME     =  LTRIM(CONVERT(VARCHAR(20),CAB.FECHA_CIERRE,103)) + ' ' + LEFT(LTRIM(CONVERT(VARCHAR(10),CAB.HORA,108)), 5)
         , TRAN_INPUT_DATE     =  LTRIM(CONVERT(VARCHAR(20),CAB.FECHA_INICIO,103)) 
         , TRAN_SETTLE_DATE    =  LTRIM(CONVERT(VARCHAR(20),CAB.MADUREZ,103)) 
--         , TRAN_SETTLE_DATE    =  LTRIM(CONVERT(VARCHAR(20),'1900/01/01',103)) 
         , TRAN_MAT_DATE       =  LTRIM(CONVERT(VARCHAR(20),CAB.MADUREZ,103)) 
         , TRAN_POSITION       =  0   -- VALOR FIJO
         , TRAN_CLOSE_POS      =  0   -- VALOR FIJO
         , TRAN_PRICE          =  0   -- VALOR FIJO
         , TRAN_PROCEEDS       =  0   -- VALOR FIJO
         , TRAN_RATE           =  0   -- VALOR FIJO
	FROM BACSWAPSUDA..CARTERA_UNWIND AS CAB 
      LEFT JOIN BACPARAMSUDA..CLIENTE AS CL  ON CL.CLRUT = CAB.RUT_CLIENTE AND CL.CLCODIGO = CAB.CODIGO_CLIENTE
      LEFT JOIN BACPARAMSUDA..USUARIO AS U   ON U.USUARIO = CAB.OPERADOR 
   WHERE CAB.FECHAANTICIPO		= @FECHA_SWP  
		AND CAB.fecha_termino	>  CAB.fecha_vence_flujo
	AND CAB.estado			<>'C'-->cvm20210115 exclusion cotizaciones
	ORDER BY 1 
	INSERT INTO #VM_BAC_TRANSACCTION
	SELECT DISTINCT  TRAN_ID             =  CAB.NUMERO_OPERACION
         ,'CPTY_ID' =	SUBSTRING(CAST(CL.CLRUT AS VARCHAR(12)), 1, 35) 
								+ CASE WHEN CL.SECUENCIA = 0 THEN '' ELSE CAST(cl.secuencia AS VARCHAR(9)) END

         , SETTMET_ID          =  CASE CAB.modalidad_pago WHEN 'C' THEN 1 ELSE 0 END -->> 0-Physical-delivery // 1-Non-delivery
         , BS_ID               =  CASE CAB.TIPO_OPERACION WHEN 'C' THEN 0 ELSE 1 END -->> 0-BUY // 1-SELL
         , USR_ID              =  ISNULL(U.IDTURING,ISNULL((SELECT tbcodigo1
																				FROM BACPARAMSUDA..TABLA_GENERAL_DETALLE  
																				WHERE TBCATEG = @VMETRIX_USR_ID_VMX AND NEMO = CAB.OPERADOR), 0))
         , INT_PTY_ID          =  97023000	--0 -- *** PENDIENTE DE DEFINICION ****
         , PORT_ID             =  CAB.CARTERA_INVERSION 
                               *  10
                               +  CASE CAB.CAR_LIBRO WHEN 1 THEN 0 -->> NEGOCIACION // 0 - BANKING
													 WHEN 2 THEN 1 -->> TRADING     // 1 - TRADING
													 END -- LLAVE PARA TABLA PORTFOLIO
         , TRST_ID             =  3--CVM.20220224 INVERTIDOS POR FECHAS ORIGINALES 10--ANTICIPO PARCIAL
         , INS_ID              =  CAB.NUMERO_OPERACION
         , CFT_ID              =  -1  -- VALOR FIJO
         , ASTT_ID             =  2	-- 20200916 --0   -- VALOR FIJO
         , TRAN_DEAL           =  CAB.NUMERO_OPERACION
         , TRAN_TRADE_DATE     =  LTRIM(CONVERT(VARCHAR(20),CAB.FECHA_CIERRE,103)) 
         , TRAN_TRADE_TIME     =  LTRIM(CONVERT(VARCHAR(20),CAB.FECHA_CIERRE,103)) + ' ' + LEFT(LTRIM(CONVERT(VARCHAR(10),CAB.HORA,108)), 5)
         , TRAN_INPUT_DATE     =  LTRIM(CONVERT(VARCHAR(20),CAB.FECHA_INICIO,103)) 
         , TRAN_SETTLE_DATE    =  LTRIM(CONVERT(VARCHAR(20),CAB.FECHALIQUIDACION,103)) 
--         , TRAN_SETTLE_DATE    =  LTRIM(CONVERT(VARCHAR(20),'1900/01/01',103)) 
         , TRAN_MAT_DATE       =  LTRIM(CONVERT(VARCHAR(20),CAB.FECHALIQUIDACION,103)) 
         , TRAN_POSITION       =  0   -- VALOR FIJO
         , TRAN_CLOSE_POS      =  0   -- VALOR FIJO
         , TRAN_PRICE          =  0   -- VALOR FIJO
         , TRAN_PROCEEDS       =  0   -- VALOR FIJO
         , TRAN_RATE           =  0   -- VALOR FIJO
	FROM BACSWAPSUDA..CARTERA_UNWIND AS CAB 
      LEFT JOIN BACPARAMSUDA..CLIENTE AS CL  ON CL.CLRUT = CAB.RUT_CLIENTE AND CL.CLCODIGO = CAB.CODIGO_CLIENTE
      LEFT JOIN BACPARAMSUDA..USUARIO AS U   ON U.USUARIO = CAB.OPERADOR 
   WHERE CAB.FECHAANTICIPO		= @FECHA_SWP  
		AND CAB.fecha_termino	>  CAB.fecha_vence_flujo
	AND CAB.estado			<>'C'-->cvm20210115 exclusion cotizaciones
	ORDER BY 1 
	
	--- ================================================
	--- SWAPS - MODIFICACIONES
	--- ================================================
	INSERT INTO #VM_BAC_TRANSACCTION
	SELECT DISTINCT TRAN_ID             =  CAB.NUMERO_OPERACION
         ,'CPTY_ID' =	SUBSTRING(CAST(CL.CLRUT AS VARCHAR(12)), 1, 35) 
								+ CASE WHEN CL.SECUENCIA = 0 THEN '' ELSE CAST(cl.secuencia AS VARCHAR(9)) END

         , SETTMET_ID          =  CASE CAB.modalidad_pago WHEN 'C' THEN 1 ELSE 0 END -->> 0-Physical-delivery // 1-Non-delivery
         , BS_ID               =  CASE CAB.TIPO_OPERACION WHEN 'C' THEN 0 ELSE 1 END -->> 0-BUY // 1-SELL
         , USR_ID              =  ISNULL(U.IDTURING,ISNULL((SELECT tbcodigo1
																				FROM BACPARAMSUDA..TABLA_GENERAL_DETALLE  
																				WHERE TBCATEG = @VMETRIX_USR_ID_VMX AND NEMO = CAB.OPERADOR), 0))
         , INT_PTY_ID          =  97023000	--0 -- *** PENDIENTE DE DEFINICION ****
         , PORT_ID             =  CAB.CARTERA_INVERSION 
                               *  10
                               +  CASE CAB.CAR_LIBRO WHEN 1 THEN 0 -->> NEGOCIACION // 0 - BANKING
													 WHEN 2 THEN 1 -->> TRADING     // 1 - TRADING
													 END -- LLAVE PARA TABLA PORTFOLIO
         , TRST_ID             =  3--MODIFICACION
         , INS_ID              =  CAB.NUMERO_OPERACION
         , CFT_ID              =  -1  -- VALOR FIJO
         , ASTT_ID             =  2	-- 20200916 --0   -- VALOR FIJO
         , TRAN_DEAL           =  CAB.NUMERO_OPERACION
         , TRAN_TRADE_DATE     =  LTRIM(CONVERT(VARCHAR(20),L.FECHA_CIERRE,103)) 
         , TRAN_TRADE_TIME     =  LTRIM(CONVERT(VARCHAR(20),L.FECHA_CIERRE,103)) + ' ' + LEFT(LTRIM(CONVERT(VARCHAR(10),L.HORA,108)), 5)
         , TRAN_INPUT_DATE     =  LTRIM(CONVERT(VARCHAR(20),L.FECHA_CIERRE,103)) 
         , TRAN_SETTLE_DATE    =  LTRIM(CONVERT(VARCHAR(20),L.MADUREZ,103)) 
--         , TRAN_SETTLE_DATE    =  LTRIM(CONVERT(VARCHAR(20),'1900/01/01',103)) 
         , TRAN_MAT_DATE       =  LTRIM(CONVERT(VARCHAR(20),L.MADUREZ,103)) 
         , TRAN_POSITION       =  0   -- VALOR FIJO
         , TRAN_CLOSE_POS      =  0   -- VALOR FIJO
         , TRAN_PRICE          =  0   -- VALOR FIJO
         , TRAN_PROCEEDS       =  0   -- VALOR FIJO
         , TRAN_RATE           =  0   -- VALOR FIJO
	FROM BACSWAPSUDA..CARTERA AS CAB 
	LEFT JOIN BACPARAMSUDA..CLIENTE AS CL  ON CL.CLRUT = CAB.RUT_CLIENTE AND CL.CLCODIGO = CAB.CODIGO_CLIENTE
	LEFT JOIN BACPARAMSUDA..USUARIO AS U   ON U.USUARIO = CAB.OPERADOR 
	-->>MODIFICACIONES   
	INNER JOIN BACSWAPSUDA..CARTERALOG		L	ON	L.NUMERO_OPERACION	= CAB.NUMERO_OPERACION
														AND	L.NUMERO_FLUJO			= CAB.NUMERO_FLUJO
														AND	L.TIPO_FLUJO			= CAB.TIPO_FLUJO
														AND	L.FECHA_MODIFICA		= @FECHA_SWP  
														AND	L.ESTADO					= 'M'
	
	WHERE	CAB.ESTADO			<>'C'-->CVM20210115 EXCLUSION COTIZACIONES
	AND		CAB.ESTADO_FLUJO	= 1
	AND		CAB.TIPO_FLUJO		= 1
	ORDER BY 1 
	INSERT INTO #VM_BAC_TRANSACCTION
	SELECT DISTINCT TRAN_ID             =  CAB.NUMERO_OPERACION
         ,'CPTY_ID' =	SUBSTRING(CAST(CL.CLRUT AS VARCHAR(12)), 1, 35) 
								+ CASE WHEN CL.SECUENCIA = 0 THEN '' ELSE CAST(cl.secuencia AS VARCHAR(9)) END

         , SETTMET_ID          =  CASE CAB.modalidad_pago WHEN 'C' THEN 1 ELSE 0 END -->> 0-Physical-delivery // 1-Non-delivery
         , BS_ID               =  CASE CAB.TIPO_OPERACION WHEN 'C' THEN 0 ELSE 1 END -->> 0-BUY // 1-SELL
         , USR_ID              =  ISNULL(U.IDTURING,ISNULL((SELECT tbcodigo1
																				FROM BACPARAMSUDA..TABLA_GENERAL_DETALLE  
																				WHERE TBCATEG = @VMETRIX_USR_ID_VMX AND NEMO = CAB.OPERADOR), 0))
         , INT_PTY_ID          =  97023000	--0 -- *** PENDIENTE DE DEFINICION ****
         , PORT_ID             =  CAB.CARTERA_INVERSION 
                               *  10
                               +  CASE CAB.CAR_LIBRO WHEN 1 THEN 0 -->> NEGOCIACION // 0 - BANKING
													 WHEN 2 THEN 1 -->> TRADING     // 1 - TRADING
													 END -- LLAVE PARA TABLA PORTFOLIO
         , TRST_ID             =  10--MODIFICACION
         , INS_ID              =  CAB.NUMERO_OPERACION
         , CFT_ID              =  -1  -- VALOR FIJO
         , ASTT_ID             =  2	-- 20200916 --0   -- VALOR FIJO
         , TRAN_DEAL           =  CAB.NUMERO_OPERACION
         , TRAN_TRADE_DATE     =  LTRIM(CONVERT(VARCHAR(20),L.FECHA_CIERRE,103)) 
         , TRAN_TRADE_TIME     =  LTRIM(CONVERT(VARCHAR(20),L.FECHA_CIERRE,103)) + ' ' + LEFT(LTRIM(CONVERT(VARCHAR(10),L.HORA,108)), 5)
         , TRAN_INPUT_DATE     =  LTRIM(CONVERT(VARCHAR(20),L.FECHA_CIERRE,103)) 
         , TRAN_SETTLE_DATE    =  LTRIM(CONVERT(VARCHAR(20),L.MADUREZ,103)) 
--         , TRAN_SETTLE_DATE    =  LTRIM(CONVERT(VARCHAR(20),'1900/01/01',103)) 
         , TRAN_MAT_DATE       =  LTRIM(CONVERT(VARCHAR(20),L.MADUREZ,103)) 
         , TRAN_POSITION       =  0   -- VALOR FIJO
         , TRAN_CLOSE_POS      =  0   -- VALOR FIJO
         , TRAN_PRICE          =  0   -- VALOR FIJO
         , TRAN_PROCEEDS       =  0   -- VALOR FIJO
         , TRAN_RATE           =  0   -- VALOR FIJO
	FROM BACSWAPSUDA..CARTERA AS CAB 
	LEFT JOIN BACPARAMSUDA..CLIENTE AS CL  ON CL.CLRUT = CAB.RUT_CLIENTE AND CL.CLCODIGO = CAB.CODIGO_CLIENTE
	LEFT JOIN BACPARAMSUDA..USUARIO AS U   ON U.USUARIO = CAB.OPERADOR 
	-->>MODIFICACIONES   
	INNER JOIN BACSWAPSUDA..CARTERALOG		L	ON	L.NUMERO_OPERACION	= CAB.NUMERO_OPERACION
														AND	L.NUMERO_FLUJO			= CAB.NUMERO_FLUJO
														AND	L.TIPO_FLUJO			= CAB.TIPO_FLUJO
														AND	L.FECHA_MODIFICA		= @FECHA_SWP  
														AND	L.ESTADO					= 'M'
	
	WHERE	CAB.ESTADO			<>'C'-->CVM20210115 EXCLUSION COTIZACIONES
	AND		CAB.ESTADO_FLUJO	= 1
	AND		CAB.TIPO_FLUJO		= 1
	ORDER BY 1 
 
	-->>MANEJO DUPLICIDAD POR MODIFICACION Y ANTICIPO
	-->>REGISTRO 3
	SELECT TRAN_ID
		,TRST_ID
		,MAX(TRAN_TRADE_TIME) AS TRAN_TRADE_TIME
	INTO #TMP_TIME
	FROM #VM_BAC_TRANSACCTION
	WHERE TRST_ID = 3
	GROUP BY TRAN_ID             
			 , TRST_ID           
			 , INS_ID            
      
	-->>DELETE POR REGISTRO MAYOR
	DELETE A
	FROM #VM_BAC_TRANSACCTION	A
	LEFT JOIN #TMP_TIME		B ON	B.TRAN_ID			= A.TRAN_ID
								AND B.TRST_ID			= A.TRST_ID
								AND B.TRAN_TRADE_TIME	= A.TRAN_TRADE_TIME
	WHERE B.TRST_ID IS NULL
	AND A.TRST_ID =3
	--<<REGISTRO 3

	-->>LIMPIEZA TEMPORAL
	DELETE #TMP_TIME

	-->>REGISTRO 10
	INSERT INTO #TMP_TIME
	SELECT TRAN_ID
		,TRST_ID
		,MAX(TRAN_TRADE_TIME) AS TRAN_TRADE_TIME
	FROM #VM_BAC_TRANSACCTION
	WHERE TRST_ID = 10
	GROUP BY TRAN_ID             
			 , TRST_ID           
			 , INS_ID 

	-->>DELETE POR REGISTRO MAYOR
	DELETE A
	FROM #VM_BAC_TRANSACCTION	A
	LEFT JOIN #TMP_TIME		B ON	B.TRAN_ID			= A.TRAN_ID
								AND B.TRST_ID			= A.TRST_ID
								AND B.TRAN_TRADE_TIME	= A.TRAN_TRADE_TIME
	WHERE B.TRST_ID IS NULL
	AND A.TRST_ID =10
	--<<REGISTRO 10
	--<<MANEJO DUPLICIDAD POR MODIFICACION Y ANTICIPO

 

	--- ================================================
	--- FORWARD - CABECERA
	--- ================================================
	-->>INGRESO OPERACION DEL DIA -->>20210713
	INSERT INTO #VM_BAC_TRANSACCTION
	SELECT DISTINCT TRAN_ID             =  CAB.CANUMOPER
			,'CPTY_ID' =	SUBSTRING(CAST(CL.CLRUT AS VARCHAR(12)), 1, 35) 
								+ CASE WHEN CL.SECUENCIA = 0 THEN '' ELSE CAST(cl.secuencia AS VARCHAR(9)) END

			, SETTMET_ID          =  CASE CAB.CATIPMODA WHEN 'C' THEN 1 ELSE 0 END -->> 0-Physical-delivery // 1-Non-delivery
			, BS_ID               =  CASE CAB.CATIPOPER WHEN 'C' THEN 0 ELSE 1 END -->> 0-BUY // 1-SELL
         , USR_ID              =  ISNULL(U.IDTURING,ISNULL((SELECT tbcodigo1
																				FROM BACPARAMSUDA..TABLA_GENERAL_DETALLE  
																				WHERE TBCATEG = @VMETRIX_USR_ID_VMX AND NEMO = CAB.CAOPERADOR), 0))
			, INT_PTY_ID          =  97023000	--0 -- *** PENDIENTE DE DEFINICION ****
			, PORT_ID             =  CAB.CACODCART
										 *  10
										 +  CASE CAB.CALIBRO   WHEN 1 THEN 0 -->> NEGOCIACION // 0 - BANKING
													 WHEN 2 THEN 1 -->> TRADING     // 1 - TRADING
													 END -- LLAVE PARA TABLA PORTFOLIO
			, TRST_ID             =  3   -- VALOR FIJO
			, INS_ID              =  CAB.CANUMOPER
			, CFT_ID              =  -1  -- VALOR FIJO
			, ASTT_ID             =  2	--20200916	--0   -- VALOR FIJO
			, TRAN_DEAL           =  CAB.CANUMOPER

			, TRAN_TRADE_DATE     =  LTRIM(CONVERT(VARCHAR(20),CAB.CAFECHA,103)) 
			, TRAN_TRADE_TIME     =  LTRIM(CONVERT(VARCHAR(20),CAB.CAFECHA,103)) + ' ' + LEFT(LTRIM(CONVERT(VARCHAR(10),CAB.CAHORA,108)), 5)
			, TRAN_INPUT_DATE     =  LTRIM(CONVERT(VARCHAR(20),CAB.CAFECHA,103)) 													
											
			, TRAN_SETTLE_DATE    =  LTRIM(CONVERT(VARCHAR(20),CAB.CAFECEFECTIVA,103)) 
			, TRAN_MAT_DATE		=  LTRIM(CONVERT(VARCHAR(20),CAB.CAFECVCTO,103)) 
			, TRAN_POSITION       =  0   -- VALOR FIJO
			, TRAN_CLOSE_POS      =  0   -- VALOR FIJO
			, TRAN_PRICE          =  0   -- VALOR FIJO
			, TRAN_PROCEEDS       =  0   -- VALOR FIJO
			, TRAN_RATE           =  0   -- VALOR FIJO
	FROM BACFWDSUDA..MFCA AS CAB 
		LEFT JOIN BACPARAMSUDA..CLIENTE		AS CL	ON CL.CLRUT = CAB.CACODIGO AND CL.CLCODIGO = CAB.CACODCLI
		LEFT JOIN BACPARAMSUDA..USUARIO		AS U	ON U.USUARIO = CAB.CAOPERADOR
		INNER JOIN BACSWAPSUDA..SWAPGENERAL	AS P	ON	1 = 1
															AND	P.FECHAPROC = CAB.CAFECHA									
	WHERE CAB.CAANTICI<> 'A'
	ORDER BY 1 



	--- ================================================
	--- FORWARD - ANTICIPO - TOTAL
	--- ================================================
	-->>FECHAS OPERACION ORIGINAL -->>20210713
	INSERT INTO #VM_BAC_TRANSACCTION
	SELECT DISTINCT TRAN_ID             =  CAB.CANUMOPER
			,'CPTY_ID' =	SUBSTRING(CAST(CL.CLRUT AS VARCHAR(12)), 1, 35) 
								+ CASE WHEN CL.SECUENCIA = 0 THEN '' ELSE CAST(cl.secuencia AS VARCHAR(9)) END
												 
												 				
			, SETTMET_ID          =  CASE CAB.CATIPMODA WHEN 'C' THEN 1 ELSE 0 END -->> 0-Physical-delivery // 1-Non-delivery
			, BS_ID               =  CASE CAB.CATIPOPER WHEN 'C' THEN 0 ELSE 1 END -->> 0-BUY // 1-SELL
         , USR_ID              =  ISNULL(U.IDTURING,ISNULL((SELECT tbcodigo1
																				FROM BACPARAMSUDA..TABLA_GENERAL_DETALLE  
																				WHERE TBCATEG = @VMETRIX_USR_ID_VMX AND NEMO = CAB.CAOPERADOR), 0))
			, INT_PTY_ID          =  97023000	--0 -- *** PENDIENTE DE DEFINICION ****
			, PORT_ID             =  CAB.CACODCART
										 *  10
										 +  CASE CAB.CALIBRO   WHEN 1 THEN 0 -->> NEGOCIACION // 0 - BANKING
													 WHEN 2 THEN 1 -->> TRADING     // 1 - TRADING
													 END -- LLAVE PARA TABLA PORTFOLIO
			, TRST_ID             =  4--ANTICIPO TOTAL
			, INS_ID              =  CAB.CANUMOPER
			, CFT_ID              =  -1  -- VALOR FIJO
			, ASTT_ID             =  2	--20200916	--0   -- VALOR FIJO
			, TRAN_DEAL           =  CAB.CANUMOPER
			
			, TRAN_TRADE_DATE     =  LTRIM(CONVERT(VARCHAR(20),ISNULL(MLOG.CAFECHA,CAB.CAFECHA) ,103)) 
			, TRAN_TRADE_TIME     =  LTRIM(CONVERT(VARCHAR(20),ISNULL(MLOG.CAFECHA,CAB.CAFECHA) ,103)) + ' ' + LEFT(LTRIM(CONVERT(VARCHAR(10),ISNULL(MLOG.CAHORA,CAB.CAHORA),108)), 5)
			, TRAN_INPUT_DATE     =  LTRIM(CONVERT(VARCHAR(20),ISNULL(MLOG.CAFECHA,CAB.CAFECHA) ,103)) 													
			, TRAN_SETTLE_DATE    =  LTRIM(CONVERT(VARCHAR(20),MLOG.CAFECEFECTIVA,103)) 
			, TRAN_MAT_DATE		 =  LTRIM(CONVERT(VARCHAR(20),MLOG.CAFECVCTO,103)) 
			, TRAN_POSITION       =  0   -- VALOR FIJO
			, TRAN_CLOSE_POS      =  0   -- VALOR FIJO
			, TRAN_PRICE          =  0   -- VALOR FIJO
			, TRAN_PROCEEDS       =  0   -- VALOR FIJO
			, TRAN_RATE           =  0   -- VALOR FIJO
	FROM BACFWDSUDA..MFCA					AS CAB--CAB 
		LEFT	JOIN BACPARAMSUDA..CLIENTE		AS CL	ON CL.CLRUT		= CAB.CACODIGO AND CL.CLCODIGO = CAB.CACODCLI
		LEFT	JOIN BACPARAMSUDA..USUARIO		AS U  ON U.USUARIO	= CAB.CAOPERADOR
		INNER JOIN BACSwapSUDA..SWAPGENERAL	AS P	ON 1=1
		INNER JOIN BACFWDSUDA..MFCA_LOG	AS MLOG ON MLOG.CANUMOPER			= CAB.CANUMOPER
															AND MLOG.CAESTADO				= 'M' 
															AND MLOG.CAFECMOD				= P.FECHAPROC
	WHERE CAB.CAANTICI	= 'A'
	AND	CAB.CANUMOPER	= CAB.NUMEROCONTRATOCLIENTE
	ORDER BY 1
	
	-->>FECHA VCTO ANTICIPO
	INSERT INTO #VM_BAC_TRANSACCTION
	SELECT DISTINCT TRAN_ID             =  CAB.CANUMOPER
			,'CPTY_ID' =	SUBSTRING(CAST(CL.CLRUT AS VARCHAR(12)), 1, 35) 
								+ CASE WHEN CL.SECUENCIA = 0 THEN '' ELSE CAST(cl.secuencia AS VARCHAR(9)) END
												 
												 				
			, SETTMET_ID          =  CASE CAB.CATIPMODA WHEN 'C' THEN 1 ELSE 0 END -->> 0-Physical-delivery // 1-Non-delivery
			, BS_ID               =  CASE CAB.CATIPOPER WHEN 'C' THEN 0 ELSE 1 END -->> 0-BUY // 1-SELL
         , USR_ID              =  ISNULL(U.IDTURING,ISNULL((SELECT tbcodigo1
																	FROM BACPARAMSUDA..TABLA_GENERAL_DETALLE  
																	WHERE TBCATEG = @VMETRIX_USR_ID_VMX AND NEMO = CAB.CAOPERADOR), 0))
      	, INT_PTY_ID          =  97023000	--0 -- *** PENDIENTE DE DEFINICION ****
			, PORT_ID             =  CAB.CACODCART
										 *  10
										 +  CASE CAB.CALIBRO   WHEN 1 THEN 0 -->> NEGOCIACION // 0 - BANKING
													 WHEN 2 THEN 1 -->> TRADING     // 1 - TRADING
													 END -- LLAVE PARA TABLA PORTFOLIO
			, TRST_ID             =  6--ANTICIPO TOTAL
			, INS_ID              =  CAB.CANUMOPER
			, CFT_ID              =  -1  -- VALOR FIJO
			, ASTT_ID             =  2	--20200916	--0   -- VALOR FIJO
			, TRAN_DEAL           =  CAB.CANUMOPER
			
			, TRAN_TRADE_DATE     =  LTRIM(CONVERT(VARCHAR(20),ISNULL(MLOG.CAFECHA,CAB.CAFECHA) ,103)) 
			, TRAN_TRADE_TIME     =  LTRIM(CONVERT(VARCHAR(20),ISNULL(MLOG.CAFECHA,CAB.CAFECHA) ,103)) + ' ' + LEFT(LTRIM(CONVERT(VARCHAR(10),ISNULL(MLOG.CAHORA,CAB.CAHORA),108)), 5)
			, TRAN_INPUT_DATE     =  LTRIM(CONVERT(VARCHAR(20),ISNULL(MLOG.CAFECHA,CAB.CAFECHA) ,103)) 													
			, TRAN_SETTLE_DATE    =  LTRIM(CONVERT(VARCHAR(20),CAB.CAFECVCTO,103))--LTRIM(CONVERT(VARCHAR(20),CAB.CAFECEFECTIVA,103)) 
			, TRAN_MAT_DATE		 =  LTRIM(CONVERT(VARCHAR(20),CAB.CAFECVCTO,103)) 
			, TRAN_POSITION       =  0   -- VALOR FIJO
			, TRAN_CLOSE_POS      =  0   -- VALOR FIJO
			, TRAN_PRICE          =  0   -- VALOR FIJO
			, TRAN_PROCEEDS       =  0   -- VALOR FIJO
			, TRAN_RATE           =  0   -- VALOR FIJO
	FROM BACFWDSUDA..MFCA					AS CAB--CAB 
		LEFT	JOIN BACPARAMSUDA..CLIENTE	AS CL	ON CL.CLRUT	= CAB.CACODIGO AND CL.CLCODIGO = CAB.CACODCLI
		LEFT	JOIN BACPARAMSUDA..USUARIO	AS U  ON U.USUARIO= CAB.CAOPERADOR
		INNER JOIN BACSwapSUDA..SWAPGENERAL	AS P		ON 1=1
		INNER JOIN BACFWDSUDA..MFCA_LOG	AS MLOG ON MLOG.CANUMOPER			= CAB.CANUMOPER
															AND MLOG.CAESTADO				= 'M' 
															AND MLOG.CAFECMOD				= P.fechaproc
	WHERE CAB.CAANTICI	= 'A'
	AND	CAB.CANUMOPER	= CAB.NUMEROCONTRATOCLIENTE
	ORDER BY 1

	--- ================================================
	--- FORWARD - ANTICIPO - PARCIAL
	--- ================================================
	-->OPERACION ORIGINAL VIGENTE -->>20210713
	INSERT INTO #VM_BAC_TRANSACCTION
	SELECT DISTINCT TRAN_ID             =  CAB.CANUMOPER
			,'CPTY_ID' =	SUBSTRING(CAST(CL.CLRUT AS VARCHAR(12)), 1, 35) 
								+ CASE WHEN CL.SECUENCIA = 0 THEN '' ELSE CAST(cl.secuencia AS VARCHAR(9)) END
												 
												 				
			, SETTMET_ID          =  CASE CAB.CATIPMODA WHEN 'C' THEN 1 ELSE 0 END -->> 0-Physical-delivery // 1-Non-delivery
			, BS_ID               =  CASE CAB.CATIPOPER WHEN 'C' THEN 0 ELSE 1 END -->> 0-BUY // 1-SELL
         , USR_ID              =  ISNULL(U.IDTURING,ISNULL((SELECT tbcodigo1
																				FROM BACPARAMSUDA..TABLA_GENERAL_DETALLE  
																				WHERE TBCATEG = @VMETRIX_USR_ID_VMX AND NEMO = CAB.CAOPERADOR), 0))			
      	, INT_PTY_ID          =  97023000	--0 -- *** PENDIENTE DE DEFINICION ****
			, PORT_ID             =  CAB.CACODCART
										 *  10
										 +  CASE CAB.CALIBRO   WHEN 1 THEN 0 -->> NEGOCIACION // 0 - BANKING
													 WHEN 2 THEN 1 -->> TRADING     // 1 - TRADING
													 END -- LLAVE PARA TABLA PORTFOLIO
			, TRST_ID             =  3--ANTICIPO PARCIAL
			, INS_ID              =  CAB.CANUMOPER
			, CFT_ID              =  -1  -- VALOR FIJO
			, ASTT_ID             =  2	--20200916	--0   -- VALOR FIJO
			, TRAN_DEAL           =  CAB.CANUMOPER
			
			, TRAN_TRADE_DATE     =  LTRIM(CONVERT(VARCHAR(20),ISNULL(MLOG.CAFECHA,CAB.CAFECHA) ,103)) 
			, TRAN_TRADE_TIME     =  LTRIM(CONVERT(VARCHAR(20),ISNULL(MLOG.CAFECHA,CAB.CAFECHA) ,103)) + ' ' + LEFT(LTRIM(CONVERT(VARCHAR(10),ISNULL(MLOG.CAHORA,CAB.CAHORA),108)), 5)
			, TRAN_INPUT_DATE     =  LTRIM(CONVERT(VARCHAR(20),ISNULL(MLOG.CAFECHA,CAB.CAFECHA) ,103)) 													
			, TRAN_SETTLE_DATE    =  LTRIM(CONVERT(VARCHAR(20),MLOG.CAFECEFECTIVA,103)) 
			, TRAN_MAT_DATE		 =  LTRIM(CONVERT(VARCHAR(20),MLOG.CAFECVCTO,103)) 
			, TRAN_POSITION       =  0   -- VALOR FIJO
			, TRAN_CLOSE_POS      =  0   -- VALOR FIJO
			, TRAN_PRICE          =  0   -- VALOR FIJO
			, TRAN_PROCEEDS       =  0   -- VALOR FIJO
			, TRAN_RATE           =  0   -- VALOR FIJO
	FROM BACFWDSUDA..MFCA						AS CAB--CAB 
		LEFT	JOIN BACPARAMSUDA..CLIENTE		AS CL	ON CL.CLRUT		= CAB.CACODIGO AND CL.CLCODIGO = CAB.CACODCLI
		LEFT	JOIN BACPARAMSUDA..USUARIO		AS U  ON U.USUARIO	= CAB.CAOPERADOR
		INNER JOIN BACSwapSUDA..SWAPGENERAL	AS P	ON 1=1
		INNER JOIN BACFWDSUDA..MFCA			AS ANT ON	ANT.NUMEROCONTRATOCLIENTE	= CAB.CANUMOPER
															AND		ANT.CAFECHA						= P.FECHAPROC
															AND		ANT.CAANTICI					= 'A'	
		INNER JOIN BACFWDSUDA..MFCA_LOG	AS MLOG ON MLOG.CANUMOPER			= CAB.CANUMOPER
															AND MLOG.CAESTADO				= 'M' 
															AND MLOG.CAFECMOD				= P.FECHAPROC
	WHERE CAB.NUMEROCONTRATOCLIENTE = 0
	
	-->OPERACION NUEVA GENERADA POR ANTICIPO PARCIAL
	INSERT INTO #VM_BAC_TRANSACCTION
	SELECT DISTINCT TRAN_ID             =  ANT.CANUMOPER--CAB.CANUMOPER
			,'CPTY_ID' =	SUBSTRING(CAST(CL.CLRUT AS VARCHAR(12)), 1, 35) 
								+ CASE WHEN CL.SECUENCIA = 0 THEN '' ELSE CAST(cl.secuencia AS VARCHAR(9)) END
												 
												 				
			, SETTMET_ID          =  CASE CAB.CATIPMODA WHEN 'C' THEN 1 ELSE 0 END -->> 0-Physical-delivery // 1-Non-delivery
			, BS_ID               =  CASE CAB.CATIPOPER WHEN 'C' THEN 0 ELSE 1 END -->> 0-BUY // 1-SELL
         , USR_ID              =  ISNULL(U.IDTURING,ISNULL((SELECT tbcodigo1
																				FROM BACPARAMSUDA..TABLA_GENERAL_DETALLE  
																				WHERE TBCATEG = @VMETRIX_USR_ID_VMX AND NEMO = CAB.CAOPERADOR), 0))
      	, INT_PTY_ID          =  97023000	--0 -- *** PENDIENTE DE DEFINICION ****
			, PORT_ID             =  CAB.CACODCART
										 *  10
										 +  CASE CAB.CALIBRO   WHEN 1 THEN 0 -->> NEGOCIACION // 0 - BANKING
													 WHEN 2 THEN 1 -->> TRADING     // 1 - TRADING
													 END -- LLAVE PARA TABLA PORTFOLIO
			, TRST_ID             =  10--ANTICIPO PARCIAL
			, INS_ID              =  CAB.CANUMOPER
			, CFT_ID              =  -1  -- VALOR FIJO
			, ASTT_ID             =  2	--20200916	--0   -- VALOR FIJO
			, TRAN_DEAL           =  CAB.CANUMOPER
			
			, TRAN_TRADE_DATE     =  LTRIM(CONVERT(VARCHAR(20),ISNULL(MLOG.CAFECHA,CAB.CAFECHA) ,103)) 
			, TRAN_TRADE_TIME     =  LTRIM(CONVERT(VARCHAR(20),ISNULL(MLOG.CAFECHA,CAB.CAFECHA) ,103)) + ' ' + LEFT(LTRIM(CONVERT(VARCHAR(10),ISNULL(MLOG.CAHORA,CAB.CAHORA),108)), 5)
			, TRAN_INPUT_DATE     =  LTRIM(CONVERT(VARCHAR(20),ISNULL(MLOG.CAFECHA,CAB.CAFECHA) ,103)) 													
			, TRAN_SETTLE_DATE    =  LTRIM(CONVERT(VARCHAR(20),ANT.CAFECVCTO,103))--LTRIM(CONVERT(VARCHAR(20),ANT.CAFECEFECTIVA,103)) 
			, TRAN_MAT_DATE		 =  LTRIM(CONVERT(VARCHAR(20),ANT.CAFECVCTO,103)) 
			, TRAN_POSITION       =  0   -- VALOR FIJO
			, TRAN_CLOSE_POS      =  0   -- VALOR FIJO
			, TRAN_PRICE          =  0   -- VALOR FIJO
			, TRAN_PROCEEDS       =  0   -- VALOR FIJO
			, TRAN_RATE           =  0   -- VALOR FIJO
	FROM BACFWDSUDA..MFCA						AS CAB--CAB 
		LEFT	JOIN BACPARAMSUDA..CLIENTE		AS CL	ON CL.CLRUT		= CAB.CACODIGO AND CL.CLCODIGO = CAB.CACODCLI
		LEFT	JOIN BACPARAMSUDA..USUARIO		AS U  ON U.USUARIO	= CAB.CAOPERADOR
		INNER JOIN BACSwapSUDA..SWAPGENERAL	AS P	ON 1=1
		INNER JOIN BACFWDSUDA..MFCA			AS ANT ON	ANT.NUMEROCONTRATOCLIENTE	= CAB.CANUMOPER
															AND		ANT.CAFECHA						= P.FECHAPROC
															AND		ANT.CAANTICI					= 'A'	
		INNER JOIN BACFWDSUDA..MFCA_LOG	AS MLOG ON MLOG.CANUMOPER			= CAB.CANUMOPER
															AND MLOG.CAESTADO				= 'M' 
															AND MLOG.CAFECMOD				= P.FECHAPROC
	WHERE CAB.NUMEROCONTRATOCLIENTE = 0
	
	
	
	--- ================================================
	--- FORWARD - CABECERA - MODIFICADO
	--- ================================================
	-->OPERACION CARTERA -->>20210713
	INSERT INTO #VM_BAC_TRANSACCTION
	SELECT TRAN_ID             =  CAB.CANUMOPER

			,'CPTY_ID' =	SUBSTRING(CAST(CL.CLRUT AS VARCHAR(12)), 1, 35) 
								+ CASE WHEN CL.SECUENCIA = 0 THEN '' ELSE CAST(cl.secuencia AS VARCHAR(9)) END
												 
												 				
			, SETTMET_ID          =  CASE CAB.CATIPMODA WHEN 'C' THEN 1 ELSE 0 END -->> 0-Physical-delivery // 1-Non-delivery
			, BS_ID               =  CASE CAB.CATIPOPER WHEN 'C' THEN 0 ELSE 1 END -->> 0-BUY // 1-SELL
         , USR_ID              =  ISNULL(U.IDTURING,ISNULL((SELECT tbcodigo1
																				FROM BACPARAMSUDA..TABLA_GENERAL_DETALLE  
																				WHERE TBCATEG = @VMETRIX_USR_ID_VMX AND NEMO = CAB.CAOPERADOR), 0))
			, INT_PTY_ID          =  97023000	--0 -- *** PENDIENTE DE DEFINICION ****
			, PORT_ID             =  CAB.CACODCART
										 *  10
										 +  CASE CAB.CALIBRO   WHEN 1 THEN 0 -->> NEGOCIACION // 0 - BANKING
													 WHEN 2 THEN 1 -->> TRADING     // 1 - TRADING
													 END -- LLAVE PARA TABLA PORTFOLIO
			, TRST_ID             =  3
			, INS_ID              =  CAB.CANUMOPER
			, CFT_ID              =  -1  -- VALOR FIJO
			, ASTT_ID             =  2	--20200916	--0   -- VALOR FIJO
			, TRAN_DEAL           =  CAB.CANUMOPER
			, TRAN_TRADE_DATE     =  LTRIM(CONVERT(VARCHAR(20),CAB.CAFECHA,103)) 
			, TRAN_TRADE_TIME     =  LTRIM(CONVERT(VARCHAR(20),CAB.CAFECHA,103)) + ' ' + LEFT(LTRIM(CONVERT(VARCHAR(10),CAB.CAHORA,108)), 5)
			, TRAN_INPUT_DATE     =  LTRIM(CONVERT(VARCHAR(20),CAB.CAFECHA,103)) 
			, TRAN_SETTLE_DATE    =  LTRIM(CONVERT(VARCHAR(20),CAB.CAFECEFECTIVA,103)) 
			, TRAN_MAT_DATE     =  LTRIM(CONVERT(VARCHAR(20),CAB.CAFECVCTO,103)) 
			, TRAN_POSITION       =  0   -- VALOR FIJO
			, TRAN_CLOSE_POS      =  0   -- VALOR FIJO
			, TRAN_PRICE          =  0   -- VALOR FIJO
			, TRAN_PROCEEDS       =  0   -- VALOR FIJO
			, TRAN_RATE           =  0   -- VALOR FIJO
	FROM BACFWDSUDA..MFCA					AS MR--CAB 
		INNER JOIN BACSwapSUDA..SWAPGENERAL	AS P	ON 1=1
		INNER JOIN BACFWDSUDA..MFCA_LOG	AS CAB ON CAB.CANUMOPER	= MR.CANUMOPER
															AND CAB.CAESTADO	= 'M'
															AND CAB.CAFECMOD	= P.FECHAPROC
		LEFT	JOIN BACPARAMSUDA..CLIENTE	AS CL	ON CL.CLRUT	= CAB.CACODIGO AND CL.CLCODIGO = CAB.CACODCLI
		LEFT	JOIN BACPARAMSUDA..USUARIO	AS U  ON U.USUARIO= CAB.CAOPERADOR
	WHERE MR.CAANTICI       <> 'A'
	--AND CAB.CANUMOPER = @contrato
	ORDER BY 1
	

	-->OPERACION NUEVOS VALORES
	INSERT INTO #VM_BAC_TRANSACCTION
	SELECT TRAN_ID             =  CAB.CANUMOPER

			,'CPTY_ID' =	SUBSTRING(CAST(CL.CLRUT AS VARCHAR(12)), 1, 35) 
								+ CASE WHEN CL.SECUENCIA = 0 THEN '' ELSE CAST(cl.secuencia AS VARCHAR(9)) END
												 
												 				
			, SETTMET_ID          =  CASE CAB.CATIPMODA WHEN 'C' THEN 1 ELSE 0 END -->> 0-Physical-delivery // 1-Non-delivery
			, BS_ID               =  CASE CAB.CATIPOPER WHEN 'C' THEN 0 ELSE 1 END -->> 0-BUY // 1-SELL
--			, USR_ID              =  ISNULL(U.IDTURING,0)
         , USR_ID              =  ISNULL(U.IDTURING,ISNULL((SELECT tbcodigo1
																				FROM BACPARAMSUDA..TABLA_GENERAL_DETALLE  
																				WHERE TBCATEG = @VMETRIX_USR_ID_VMX AND NEMO = CAB.CAOPERADOR), 0))
			, INT_PTY_ID          =  97023000	--0 -- *** PENDIENTE DE DEFINICION ****
			, PORT_ID             =  CAB.CACODCART
										 *  10
										 +  CASE CAB.CALIBRO   WHEN 1 THEN 0 -->> NEGOCIACION // 0 - BANKING
													 WHEN 2 THEN 1 -->> TRADING     // 1 - TRADING
													 END -- LLAVE PARA TABLA PORTFOLIO
			, TRST_ID             =  10--VALORES ACTUALES
			, INS_ID              =  CAB.CANUMOPER
			, CFT_ID              =  -1  -- VALOR FIJO
			, ASTT_ID             =  2	--20200916	--0   -- VALOR FIJO
			, TRAN_DEAL           =  CAB.CANUMOPER
			, TRAN_TRADE_DATE     =  LTRIM(CONVERT(VARCHAR(20),CAB.CAFECHA,103)) 
			, TRAN_TRADE_TIME     =  LTRIM(CONVERT(VARCHAR(20),CAB.CAFECHA,103)) + ' ' + LEFT(LTRIM(CONVERT(VARCHAR(10),CAB.CAHORA,108)), 5)
			, TRAN_INPUT_DATE     =  LTRIM(CONVERT(VARCHAR(20),CAB.CAFECHA,103)) 
			, TRAN_SETTLE_DATE    =  LTRIM(CONVERT(VARCHAR(20),CAB.CAFECEFECTIVA,103)) 
			, TRAN_MAT_DATE     =  LTRIM(CONVERT(VARCHAR(20),CAB.CAFECVCTO,103)) 
			, TRAN_POSITION       =  0   -- VALOR FIJO
			, TRAN_CLOSE_POS      =  0   -- VALOR FIJO
			, TRAN_PRICE          =  0   -- VALOR FIJO
			, TRAN_PROCEEDS       =  0   -- VALOR FIJO
			, TRAN_RATE           =  0   -- VALOR FIJO
	FROM BACFWDSUDA..MFCA					AS CAB--CAB 
		INNER JOIN BACSwapSUDA..SWAPGENERAL	AS P	ON 1=1
		INNER JOIN BACFWDSUDA..MFCA_LOG	AS MR ON MR.CANUMOPER	= CAB.CANUMOPER
															AND MR.CAESTADO	= 'M'
															AND MR.CAFECMOD	= P.FECHAPROC
		LEFT	JOIN BACPARAMSUDA..CLIENTE	AS CL	ON CL.CLRUT	= CAB.CACODIGO AND CL.CLCODIGO = CAB.CACODCLI
		LEFT	JOIN BACPARAMSUDA..USUARIO	AS U  ON U.USUARIO= CAB.CAOPERADOR
	WHERE CAB.CAANTICI       <> 'A'
	--AND CAB.CANUMOPER = @contrato
	ORDER BY 1

	--- ================================================
	--- OPCIONES
	--- ================================================
	INSERT INTO #VM_BAC_TRANSACCTION
	SELECT TRAN_ID             =  CAST(CAB.CanumContrato AS VARCHAR(10)) + CAST(DET.CaNumEstructura AS VARCHAR(10))
			--, CPTY_ID             =  ISNULL(CAB.CaRutCliente,0)
			/*
	      , CPTY_ID = SUBSTRING(
								CAST(CL.clrut AS VARCHAR(12)), 1, 35) +		--+ CAST(CL.CLDV AS VARCHAR(12))
								(CASE WHEN (SELECT COUNT(1) FROM bacparamsuda..cliente cl2 
												WHERE cl2.clrut = CL.clrut AND 
													cl2.clvigente = 'S' AND 
													LTRIM(RTRIM(CL.Clnombre)) NOT LIKE('MALO_%') AND
													LTRIM(RTRIM(CL.Clnombre)) NOT LIKE('%NO USAR%') 
												GROUP BY cl2.clrut) > 1 
								THEN (LTRIM(RTRIM(cl.secuencia)))--(LTRIM(RTRIM(CL.clcodigo)))
							ELSE ''
							END)
			*/
			,'CPTY_ID' =	SUBSTRING(CAST(CL.CLRUT AS VARCHAR(12)), 1, 35) 
								+ CASE WHEN CL.SECUENCIA = 0 THEN '' ELSE CAST(cl.secuencia AS VARCHAR(9)) END

			
			--, SETTMET_ID          =  CASE DET.CaModalidad WHEN 'C' THEN 1 ELSE 0 END -->> 0-Physical-delivery // 1-Non-delivery
			, SETTMET_ID          = (SELECT (CASE D.CAMODALIDAD WHEN 'C' THEN 1 ELSE 0 END) 
												FROM CBMDBOPC..CADETCONTRATO D	
												WHERE D.CANUMCONTRATO = DET.CANUMCONTRATO
												AND	D.CANUMESTRUCTURA = 1)

			
			, BS_ID               =  CASE DET.CaCallPut WHEN 'BUY' THEN 0 ELSE 1 END -->> 0-BUY // 1-SELL
         , USR_ID              =  ISNULL(U.IDTURING,ISNULL((SELECT tbcodigo1
																				FROM BACPARAMSUDA..TABLA_GENERAL_DETALLE  
																				WHERE TBCATEG = @VMETRIX_USR_ID_VMX AND NEMO = CAB.CAOPERADOR), 0))      
			, INT_PTY_ID          =  97023000	--0 -- *** PENDIENTE DE DEFINICION ****
			, PORT_ID             =  CAB.CaCarteraFinanciera
										 *  10
										 +  CASE CAB.CaLibro   WHEN 1 THEN 0 -->> NEGOCIACION // 0 - BANKING
													 WHEN 2 THEN 1 -->> TRADING     // 1 - TRADING
													 END -- LLAVE PARA TABLA PORTFOLIO
			, TRST_ID             =  (CASE WHEN MOV.MoTipoTransaccion	= 'ANTICIPA' THEN 4
													ELSE (CASE WHEN DET.CaFechaVcto = @FECHA_OPT THEN 4 ELSE 3 END)--3   -- VALOR FIJO 3 =	Validated
											 END)
			, INS_ID              =  CAST(CAB.CanumContrato AS VARCHAR(10)) + CAST(DET.CaNumEstructura AS VARCHAR(10))
			, CFT_ID              =  -1  -- VALOR FIJO
			, ASTT_ID             =  2	--20200916	--0   -- VALOR FIJO
			, TRAN_DEAL           =  CAST(CAB.CanumContrato AS VARCHAR(10)) + CAST(DET.CaNumEstructura AS VARCHAR(10))
			, TRAN_TRADE_DATE     =  LTRIM(CONVERT(VARCHAR(20),CAB.CaFechaContrato,103)) 
			, TRAN_TRADE_TIME     =  LTRIM(CONVERT(VARCHAR(20),CAB.CaFechaCreacionRegistro,103)) + ' ' + LEFT(LTRIM(CONVERT(VARCHAR(10),CAB.CaFechaCreacionRegistro,108)), 5)
			, TRAN_INPUT_DATE     =  LTRIM(CONVERT(VARCHAR(20),CAB.CaFechaContrato,103)) 
			, TRAN_SETTLE_DATE    =  LTRIM(CONVERT(VARCHAR(20),DET.CAFECHAPAGMON1,103)) 
			, TRAN_MAT_DATE     =  LTRIM(CONVERT(VARCHAR(20),DET.CaFechaVcto,103))  -->>20210714
			, TRAN_POSITION       =  DET.CaMontoMon1   -- VALOR FIJO
			, TRAN_CLOSE_POS      =  0   -- VALOR FIJO
			, TRAN_PRICE          =  0   -- VALOR FIJO
			, TRAN_PROCEEDS       =  0   -- VALOR FIJO
			, TRAN_RATE           =  0   -- VALOR FIJO
 	FROM CbMdbOpc..CaEncContrato AS CAB LEFT JOIN CbMdbOpc..caDetContrato AS DET ON	DET.CaNumContrato = CAB.CanumContrato
 	-->>ANTICIPOS
 	LEFT JOIN CbMdbOpc..MoEncCOntrato	AS MOV ON		MOV.MoNumFolio					= CAB.CaNumFolio
																AND	MOV.MoNumContrato				= CAB.CaNumContrato
																AND	MOV.MoFechaCreacionRegistro= @FECHA_OPT
																AND	MOV.MoTipoTransaccion		IN ('ANTICIPA')
 	--<<ANTICIPOS																
		LEFT JOIN BACPARAMSUDA..USUARIO AS U   ON U.USUARIO = CAB.CAOPERADOR
		LEFT JOIN bacparamsuda..CLIENTE AS CL ON
			CL.clrut = CAB.CaRutCliente AND
			CL.CLCODIGO = CAB.CaCodigo
	WHERE
		CAB.CaEstado <> 'C' --Se excluyen las Cotizaciones  --PLL-20201113

--- ================================================
	--- OPCIONES ANTICIPADAS MODIFICADAS
	--- ================================================
	INSERT INTO #VM_BAC_TRANSACCTION
	SELECT TRAN_ID             =  CAST(CAB.CanumContrato AS VARCHAR(10)) + CAST(DET.CaNumEstructura AS VARCHAR(10))
			--, CPTY_ID             =  ISNULL(CAB.CaRutCliente,0)
			/*
	      , CPTY_ID = SUBSTRING(
								CAST(CL.clrut AS VARCHAR(12)), 1, 35) +		--+ CAST(CL.CLDV AS VARCHAR(12))
								(CASE WHEN (SELECT COUNT(1) FROM bacparamsuda..cliente cl2 
												WHERE cl2.clrut = CL.clrut AND 
													cl2.clvigente = 'S' AND 
													LTRIM(RTRIM(CL.Clnombre)) NOT LIKE('MALO_%') AND
													LTRIM(RTRIM(CL.Clnombre)) NOT LIKE('%NO USAR%') 
												GROUP BY cl2.clrut) > 1 
								THEN (LTRIM(RTRIM(cl.secuencia)))--(LTRIM(RTRIM(CL.clcodigo)))
							ELSE ''
							END)
			*/
			,'CPTY_ID' =	SUBSTRING(CAST(CL.CLRUT AS VARCHAR(12)), 1, 35) 
								+ CASE WHEN CL.SECUENCIA = 0 THEN '' ELSE CAST(cl.secuencia AS VARCHAR(9)) END

			
			--, SETTMET_ID          =  CASE DET.CaModalidad WHEN 'C' THEN 1 ELSE 0 END -->> 0-Physical-delivery // 1-Non-delivery
			, SETTMET_ID          = (SELECT (CASE D.CAMODALIDAD WHEN 'C' THEN 1 ELSE 0 END) 
												FROM CBMDBOPC..CADETCONTRATO D	
												WHERE D.CANUMCONTRATO = DET.CANUMCONTRATO
												AND	D.CANUMESTRUCTURA = 1)

			
			, BS_ID               =  CASE DET.CaCallPut WHEN 'BUY' THEN 0 ELSE 1 END -->> 0-BUY // 1-SELL
         , USR_ID              =  ISNULL(U.IDTURING,ISNULL((SELECT tbcodigo1
																				FROM BACPARAMSUDA..TABLA_GENERAL_DETALLE  
																				WHERE TBCATEG = @VMETRIX_USR_ID_VMX AND NEMO = CAB.CAOPERADOR), 0))      
			, INT_PTY_ID          =  97023000	--0 -- *** PENDIENTE DE DEFINICION ****
			, PORT_ID             =  CAB.CaCarteraFinanciera
										 *  10
										 +  CASE CAB.CaLibro   WHEN 1 THEN 0 -->> NEGOCIACION // 0 - BANKING
													 WHEN 2 THEN 1 -->> TRADING     // 1 - TRADING
													 END -- LLAVE PARA TABLA PORTFOLIO
			, TRST_ID             =  CASE MOV.MoTipoTransaccion	WHEN 'ANTICIPA' THEN 6
																					WHEN 'MODIFICA' THEN 10
												END 
			, INS_ID              =  CAST(CAB.CanumContrato AS VARCHAR(10)) + CAST(DET.CaNumEstructura AS VARCHAR(10))
			, CFT_ID              =  -1  -- VALOR FIJO
			, ASTT_ID             =  2	--20200916	--0   -- VALOR FIJO
			, TRAN_DEAL           =  CAST(CAB.CanumContrato AS VARCHAR(10)) + CAST(DET.CaNumEstructura AS VARCHAR(10))
			, TRAN_TRADE_DATE     =  LTRIM(CONVERT(VARCHAR(20),CAB.CaFechaContrato,103)) 
			, TRAN_TRADE_TIME     =  LTRIM(CONVERT(VARCHAR(20),CAB.CaFechaCreacionRegistro,103)) + ' ' + LEFT(LTRIM(CONVERT(VARCHAR(10),CAB.CaFechaCreacionRegistro,108)), 5)
			, TRAN_INPUT_DATE     =  LTRIM(CONVERT(VARCHAR(20),CAB.CaFechaContrato,103)) 
			, TRAN_SETTLE_DATE    =  LTRIM(CONVERT(VARCHAR(20),DET.CAFECHAPAGMON1,103)) -->>20210714
			, TRAN_MAT_DATE     =  LTRIM(CONVERT(VARCHAR(20),DET.CaFechaVcto,103)) 
			, TRAN_POSITION       =  DET.CaMontoMon1   -- VALOR FIJO
			, TRAN_CLOSE_POS      =  0   -- VALOR FIJO
			, TRAN_PRICE          =  0   -- VALOR FIJO
			, TRAN_PROCEEDS       =  0   -- VALOR FIJO
			, TRAN_RATE           =  0   -- VALOR FIJO
 	FROM CbMdbOpc..CaEncContrato AS CAB LEFT JOIN CbMdbOpc..caDetContrato AS DET ON DET.CaNumContrato = CAB.CanumContrato
 	INNER JOIN CbMdbOpc..MoEncCOntrato		 AS MOV ON		MOV.MoNumFolio					= CAB.CaNumFolio
 																	AND	MOV.MoNumContrato				= CAB.CaNumContrato
 																	AND	MOV.MoFechaCreacionRegistro= @FECHA_OPT
 																	AND	MOV.MoTipoTransaccion		IN ('MODIFICA','ANTICIPA')
		LEFT JOIN BACPARAMSUDA..USUARIO AS U   ON U.USUARIO = CAB.CAOPERADOR
		LEFT JOIN bacparamsuda..CLIENTE AS CL ON
			CL.clrut = CAB.CaRutCliente AND
			CL.CLCODIGO = CAB.CaCodigo
		
		
	---- ================================================
    ---- SALIDA INTERFAZ
    ---- ================================================
	INSERT INTO #VM_BAC_TRANSACCTION_SALIDA	--SE AGREGA PARA INCORPORAR LINEA DE ENCABEZADO A SALIDA -- PLL-20200512
		SELECT DISTINCT -->>20210713
			"ORDEN" = 1,		--SE AGREGA PARA INCORPORAR LINEA DE ENCABEZADO A SALIDA -- PLL-20200512
			LTRIM(TRAN_ID)             + @SEP 
         + LTRIM(CPTY_ID)             + @SEP 
         + LTRIM(SETTMET_ID)          + @SEP 
         + LTRIM(BS_ID)               + @SEP 
         + LTRIM(USR_ID)              + @SEP 
         + LTRIM(INT_PTY_ID)          + @SEP 
         + LTRIM(PORT_ID)             + @SEP 
         + LTRIM(TRST_ID)             + @SEP 
         + LTRIM(INS_ID)              + @SEP 
         + LTRIM(CFT_ID)              + @SEP 
         + LTRIM(ASTT_ID)             + @SEP 
         + LTRIM(TRAN_DEAL)           + @SEP 
         + LTRIM(TRAN_TRADE_DATE)     + @SEP 
         + LTRIM(TRAN_TRADE_TIME)     + @SEP 
         + LTRIM(TRAN_INPUT_DATE)     + @SEP 
         + LTRIM(TRAN_SETTLE_DATE)    + @SEP 
         + LTRIM(TRAN_MAT_DATE)       + @SEP 
         + LTRIM(TRAN_POSITION)       + @SEP 
         + LTRIM(TRAN_CLOSE_POS)      + @SEP 
         + LTRIM(TRAN_PRICE)          + @SEP 
         + LTRIM(TRAN_PROCEEDS)       + @SEP 
         + LTRIM(TRAN_RATE)			 AS REG_SALIDA 
      FROM #VM_BAC_TRANSACCTION
     --ORDER BY 1	-- se comenta porque no es necesario a este nivel-- PLL-20200512

	--SE AGREGA PARA INCORPORAR LINEA DE ENCABEZADO A SALIDA -- PLL-20200512
	--select '##VM_BAC_TRANSACCTION' as tabla,* from #VM_BAC_TRANSACCTION where TRAN_ID = 10700--aqui

	INSERT INTO #VM_BAC_TRANSACCTION_SALIDA
		SELECT 
			"ORDEN" = 0,
			"REG_SALIDA" = 'TRAN_ID'             + @SEP 
							+ 'CPTY_ID'             + @SEP 
							+ 'SETTMET_ID'          + @SEP 
							+ 'BS_ID'               + @SEP 
							+ 'USR_ID'              + @SEP 
							+ 'INT_PTY_ID'          + @SEP 
							+ 'PORT_ID'             + @SEP 
							+ 'TRST_ID'             + @SEP 
							+ 'INS_ID'              + @SEP 
							+ 'CFT_ID'              + @SEP 
							+ 'ASTT_ID'             + @SEP 
							+ 'TRAN_DEAL'           + @SEP 
							+ 'TRAN_TRADE_DATE'     + @SEP 
							+ 'TRAN_TRADE_TIME'     + @SEP 
							+ 'TRAN_INPUT_DATE'     + @SEP 
							+ 'TRAN_SETTLE_DATE'    + @SEP 
							+ 'TRAN_MAT_DATE'       + @SEP 
							+ 'TRAN_POSITION'       + @SEP 
							+ 'TRAN_CLOSE_POS'      + @SEP 
							+ 'TRAN_PRICE'          + @SEP 
							+ 'TRAN_PROCEEDS'       + @SEP 
							+ 'TRAN_RATE' 
		WHERE @Con_Linea_Encabezado = 'Y'

	SELECT REG_SALIDA FROM #VM_BAC_TRANSACCTION_SALIDA 
	ORDER BY ORDEN, 1
	--SE AGREGA PARA INCORPORAR LINEA DE ENCABEZADO A SALIDA -- PLL-20200512


	DROP TABLE #VM_BAC_TRANSACCTION
	DROP TABLE #VM_BAC_TRANSACCTION_SALIDA
END 
GO
