USE [Reportes]
GO
/****** Object:  StoredProcedure [dbo].[SP_RESULTADOS_OPERACIONALES_OPT]    Script Date: 16-05-2022 10:19:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_RESULTADOS_OPERACIONALES_OPT]
(
	@FECHA DATE=NULL
)
AS
BEGIN
SET NOCOUNT ON 
SET DATEFORMAT YMD

DECLARE @FECHA_PROC_FILTRO	DATE
DECLARE @FECHA_INI_FILTRO	DATE
--DECLARE @FECHA DATE
--SET @FECHA = '2017-12-15'

IF @FECHA IS NULL BEGIN
	SET @FECHA_PROC_FILTRO = (SELECT TOP 1 fechaproc FROM CbMdbOpc.dbo.OpcionesGeneral with(nolock))
END ELSE BEGIN
	SET @FECHA_PROC_FILTRO = @FECHA
END

SET @FECHA_INI_FILTRO = CONVERT(DATE,CONVERT(VARCHAR,YEAR(@FECHA_PROC_FILTRO)) + '-' + CONVERT(VARCHAR,MONTH(@FECHA_PROC_FILTRO)) + '-01')


/*************************************************************/
/* CUENTAS PERTENECIENTES AL ARCHIVO.						 */
/*************************************************************/
DECLARE @CUENTAS_RESULTADO TABLE
(
	CUENTA VARCHAR(20)
)
INSERT INTO @CUENTAS_RESULTADO
SELECT CUENTA FROM RNT_INT_MTX_CONTABLE
WHERE INTERFAZ = 'RESULTADO'

/*************************************************************/
/* LIMPIEZA Y GENERACION DE TMP'S							 */
/*************************************************************/
IF OBJECT_ID('TEMPDB..#TMP_RESULTADO_OPT') IS NOT NULL BEGIN
	DROP TABLE #TMP_RESULTADO_OPT
END

IF OBJECT_ID('TEMPDB..#TMP_DATOS_OPT') IS NOT NULL BEGIN
	DROP TABLE #TMP_DATOS_OPT
END

CREATE TABLE #TMP_RESULTADO_OPT
(
 NRO_OPERACION			NUMERIC(20)		DEFAULT(0)
,NRO_DOCUMENTO			NUMERIC(20)		DEFAULT(0)
,NRO_CORRELATIVO		NUMERIC(20)		DEFAULT(0)
,COD_CTA_CONT			VARCHAR(20)
,TIP_IE					CHAR(2)
,COD_DIVISA				VARCHAR(4)
,FEC_DATA				DATE --NUMBER(8)
,COD_ENTIDAD			VARCHAR(4)		DEFAULT('1769')
,COD_PRODUCTO			VARCHAR(4)		DEFAULT('OPT')
,COD_SUBPRODU			VARCHAR(4)
,IMP_IE_MO				NUMERIC(20,4)	DEFAULT(0) 
,IMP_IE_ML				NUMERIC(20,4)	DEFAULT(0)
,COD_CENTRO_CONT		VARCHAR(4)		DEFAULT('2230')
,IMP_SDO_IE_MO			NUMERIC(20,4)	DEFAULT(0)
,IMP_SDO_IE_ML			NUMERIC(20,4)	DEFAULT(0)
,T_FLUJO				NUMERIC			DEFAULT(1)
)

/********************************************************************/
/*	VALOR REPRESENTACION CONTABLE									*/
/********************************************************************/
DECLARE @VALOR_TC_CONTABLE TABLE
(
	codigo int,
	valor float,
	nemo varchar(3) null,	
	fecha date
)

INSERT INTO @VALOR_TC_CONTABLE
SELECT 
	 CODIGO_MONEDA = CASE CODIGO_MONEDA WHEN 994 THEN 13 ELSE CODIGO_MONEDA END
	,TIPO_CAMBIO
	,NEMO_MONEDA = CASE NEMO_MONEDA WHEN 'DO' THEN 'USD' ELSE NEMO_MONEDA END
	,FECHA
FROM BACPARAMSUDA.DBO.VALOR_MONEDA_CONTABLE
WHERE FECHA BETWEEN @FECHA_INI_FILTRO AND @FECHA_PROC_FILTRO

INSERT INTO @VALOR_TC_CONTABLE
SELECT 
	 VMCODIGO
	,VMVALOR
	,'UF'
	,VMFECHA
FROM BACPARAMSUDA.DBO.VALOR_MONEDA
WHERE 
		VMCODIGO = 998 
AND		VMFECHA BETWEEN @FECHA_INI_FILTRO AND @FECHA_PROC_FILTRO

INSERT INTO @VALOR_TC_CONTABLE
SELECT 
	999,1.0,'CLP',VMFECHA
FROM BACPARAMSUDA.DBO.VALOR_MONEDA
WHERE 
	VMCODIGO=998 
AND		VMFECHA BETWEEN @FECHA_INI_FILTRO AND @FECHA_PROC_FILTRO

UPDATE @VALOR_TC_CONTABLE
SET VALOR = 1
WHERE CODIGO=998

--INSERT INTO @VALOR_TC_CONTABLE 
--SELECT VMCODIGO,VMVALOR,
--(case VMCODIGO
--	when 994 then 'DO'
--	when 995 then 'DA'
--	when 997 then 'IVP'
--	when 998 then 'UF'
--	when 999 then 'CLP'
--end)
--,vmfecha FROM BACPARAMSUDA.DBO.VALOR_MONEDA 
--WHERE 
--VMFECHA BETWEEN @FECHA_INI_FILTRO AND @FECHA_PROC_FILTRO 
--AND VMCODIGO IN(994,995,998,997,999)

--INSERT INTO @VALOR_TC_CONTABLE 
--SELECT 999,1.0,'CLP',FECHA
--FROM @VALOR_TC_CONTABLE WHERE CODIGO=998

--INSERT INTO @VALOR_TC_CONTABLE 
--SELECT 
--	(CASE 
--		WHEN CODIGO_MONEDA = 994 THEN 13  
--		ELSE CODIGO_MONEDA  
--	END) 
--	,TIPO_CAMBIO 
--	,LTRIM(RTRIM(NEMO_MONEDA))
--	,Fecha
--FROM BACPARAMSUDA.DBO.VALOR_MONEDA_CONTABLE
--WHERE FECHA  between @fecha_ini_filtro and @FECHA_PROC_FILTRO
--AND CODIGO_MONEDA NOT IN (13,995,998,997,999)




/* data */
SELECT 
 NRO_OPERACION
,NRO_DOCUMENTO = NULL
,CORRELATIVO
,FECHA_CONTABLE
,CODIGO_DIVISA
,DESC_DIVISA
,TIPO_CAMBIO
,CUENTA
,TIPO_CUENTA
,DEBE = [D] 		
,HABER = [H] 
,COD_SUBPRODU =  NULL 
INTO #TMP_DATOS_OPT
from
(
SELECT 
 nro_operacion				=	vh.Operacion
,correlativo				=	1
,fecha_contable				=	convert(date,vh.fecha_ingreso)
,codigo_divisa				=	vd.Moneda
,desc_divisa				=	mn.nemo
,tipo_cambio				=	mn.valor
,cuenta						=	vd.Cuenta
,tipo_cuenta				=	pc.tipo_cuenta
,monto						=	(case when mn.codigo = 999 then round(vd.monto,0) else round(vd.monto,4) end) 
,tipo_monto					=	vd.Tipo_Monto
FROM
		   CbMdbOpc.dbo.OpcVoucher			as vh with(nolock)
inner join CbMdbOpc.dbo.OpcDetalleVoucher	as vd with(nolock)	on vh.Numero_Voucher = vd.Numero_Voucher
inner join BacParamSuda.dbo.plan_de_cuenta	as pc with(nolock)	on vd.Cuenta		 = pc.cuenta
inner join @valor_tc_contable				as mn				on mn.codigo		 = vd.Moneda	and vh.Fecha_Ingreso = mn.fecha
where
	vh.Fecha_Ingreso between @FECHA_INI_FILTRO and @FECHA_PROC_FILTRO --original	
and pc.cuenta in (select cuenta from @CUENTAS_RESULTADO)
) AS T1
PIVOT
(
	SUM(MONTO)
	FOR TIPO_MONTO IN ([D],[H])
) AS PVT
ORDER BY PVT.NRO_OPERACION

CREATE NONCLUSTERED INDEX IDX_TMP_DATOS_OPT_001 ON #TMP_DATOS_OPT (NRO_OPERACION,FECHA_CONTABLE,TIPO_CUENTA,CUENTA,CODIGO_DIVISA)


UPDATE #TMP_DATOS_OPT
SET 
 DEBE = (CASE WHEN ISNULL(DEBE,-1)=-1 THEN 0 ELSE DEBE END)
,HABER = (CASE WHEN ISNULL(HABER,-1)=-1 THEN 0 ELSE HABER END)


/****************************************************************/
/*	BASE REPORTE FINAL  										*/
/****************************************************************/
INSERT INTO #TMP_RESULTADO_OPT(
	NRO_OPERACION
	,NRO_CORRELATIVO
	,COD_CTA_CONT
	,COD_DIVISA
	,FEC_DATA
	,IMP_IE_MO
	,IMP_IE_ML
	,IMP_SDO_IE_MO
	,IMP_SDO_IE_ML	
	)
SELECT DISTINCT 
	NRO_OPERACION
	,CORRELATIVO
	,CUENTA
	,DESC_DIVISA
	,FEC_DATA		= @FECHA_PROC_FILTRO
	,NULL
	,NULL
	,NULL
	,NULL
FROM #TMP_DATOS_OPT


/****************************************************************/
/*	ACUMULADO DEL DIA   										*/
/****************************************************************/
UPDATE #TMP_RESULTADO_OPT
SET
	IMP_IE_MO  = T1.ACUM_DIA
	,IMP_IE_ML = T1.ACUM_DIA
FROM
		  #TMP_RESULTADO_OPT T2
LEFT JOIN (
SELECT 
	CUENTA,
	NRO_OPERACION,
	CORRELATIVO,
	ACUM_DIA = SUM(HABER-DEBE)
FROM #TMP_DATOS_OPT
WHERE FECHA_CONTABLE = @FECHA_PROC_FILTRO
GROUP BY CUENTA,NRO_OPERACION,CORRELATIVO
) AS T1
ON
	T2.COD_CTA_CONT = T1.CUENTA
AND T2.NRO_OPERACION = T1.NRO_OPERACION
AND T2.NRO_CORRELATIVO = T1.CORRELATIVO



UPDATE #TMP_RESULTADO_OPT
SET
	 IMP_IE_MO = 0
	,IMP_IE_ML = 0
	,IMP_SDO_IE_ML = 0
	,IMP_SDO_IE_MO = 0
WHERE
	IMP_IE_MO IS NULL




/****************************************************************/
/*	ACUMULADO DEL MES   										*/
/****************************************************************/
UPDATE #TMP_RESULTADO_OPT
SET
	IMP_SDO_IE_MO  = T1.ACUM_MES
	,IMP_SDO_IE_ML = T1.ACUM_MES
FROM
		  #TMP_RESULTADO_OPT T2
LEFT JOIN (
SELECT 
	CUENTA,
	NRO_OPERACION,
	CORRELATIVO,
	ACUM_MES = SUM(HABER-DEBE)
FROM #TMP_DATOS_OPT
WHERE FECHA_CONTABLE BETWEEN @FECHA_INI_FILTRO AND @FECHA_PROC_FILTRO
GROUP BY CUENTA,NRO_OPERACION,CORRELATIVO
) AS T1
ON
	T2.COD_CTA_CONT = T1.CUENTA
AND T2.NRO_OPERACION = T1.NRO_OPERACION
AND T2.NRO_CORRELATIVO = T1.CORRELATIVO


/**************************************************************************/

-- OTROS (ACTUALIZACION DATOS FALTANTES DESDE LA CARTERA
UPDATE #TMP_RESULTADO_OPT
SET 
	COD_SUBPRODU = T1.CaCodEstructura
FROM
	#TMP_RESULTADO_OPT
LEFT JOIN 
(
select distinct CaNumContrato,CaCodEstructura 
from CbMdbOpc.dbo.CaResEncContrato with(nolock)
where CaEncFechaRespaldo between @FECHA_INI_FILTRO and @FECHA_PROC_FILTRO
) as t1
on nro_operacion = t1.CaNumContrato

-- LIMPIEZA
DELETE FROM #TMP_RESULTADO_OPT
WHERE 
	IMP_IE_MO = 0
AND	IMP_SDO_IE_MO  = 0

DELETE FROM #TMP_RESULTADO_OPT
WHERE LTRIM(RTRIM(COD_CTA_CONT)) NOT IN (
SELECT DISTINCT LTRIM(RTRIM(CUENTA)) FROM Reportes.dbo.RNT_INT_MTX_CONTABLE
where INTERFAZ = 'RESULTADO'
)


select
 NRO_OPERACION		
,NRO_DOCUMENTO		
,NRO_CORRELATIVO	
,COD_CTA_CONT		
,TIP_IE				
,COD_DIVISA			
,FEC_DATA			
,COD_ENTIDAD		
,COD_PRODUCTO		
,COD_SUBPRODU		
,IMP_IE_MO			
,IMP_IE_ML			
,COD_CENTRO_CONT	
,IMP_SDO_IE_MO		
,IMP_SDO_IE_ML		
,T_FLUJO			
from #TMP_RESULTADO_OPT





/* VALIDACION DE CUENTAS*/
/*
SELECT  
 COD_CTA_CONT
,SUM(IMP_IE_MO)		[ACUMULADO DIA]
,SUM(IMP_SDO_IE_MO) [ACUMULADO MENSUAL]
FROM #TMP_RESULTADO_OPT
GROUP BY COD_CTA_CONT
ORDER BY COD_CTA_CONT
*/

DROP TABLE #TMP_DATOS_OPT
DROP TABLE #TMP_RESULTADO_OPT
END
GO
