USE [BacParamSuda]
GO
/****** Object:  Table [bacuser].[Contratos_Impresos]    Script Date: 13-05-2022 10:58:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bacuser].[Contratos_Impresos](
	[sistema] [varchar](4) NULL,
	[numero_contrato] [int] NULL
) ON [PRIMARY]
GO
