USE [BacParamSuda]
GO
/****** Object:  Table [dbo].[NGINE_OPERACIONES_CONFIRMADAS_ENVIO_PAGO]    Script Date: 13-05-2022 10:58:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGINE_OPERACIONES_CONFIRMADAS_ENVIO_PAGO](
	[Fecha_proceso] [datetime] NULL,
	[Envio] [varchar](2) NULL,
	[Sistema] [varchar](3) NULL,
	[Numero_operacion] [numeric](10, 0) NULL,
	[Tipo_operacion] [varchar](50) NULL,
	[Glosa_Tipo_operacion] [varchar](50) NULL,
	[Indicador] [varchar](3) NULL,
	[Fecha_operacion] [datetime] NULL,
	[Usuario] [varchar](15) NULL,
	[Moneda] [varchar](8) NULL,
	[Glosa_Moneda] [varchar](35) NULL,
	[Rut_cliente] [numeric](9, 0) NULL,
	[Dv_cliente] [varchar](1) NULL,
	[Sucursal] [numeric](3, 0) NULL,
	[Monto_operacion] [numeric](19, 4) NULL,
	[Forma_pago] [numeric](5, 0) NULL,
	[Glosa_Forma_pago] [varchar](30) NULL,
	[Codigo_valuta] [numeric](3, 0) NULL,
	[Nombre_cliente] [varchar](70) NULL,
	[Banco] [varchar](20) NULL,
	[CtaCteBenVendedor] [varchar](15) NULL,
	[Clave_abif] [varchar](20) NULL,
	[Cta_comprador] [varchar](3) NULL,
	[Codigo_dcv_comprador] [varchar](20) NULL,
	[Cta_vendedor] [varchar](3) NULL,
	[Codigo_dcv_vendedor] [varchar](20) NULL,
	[Monto_original] [numeric](19, 4) NULL,
	[Fecha_inicio] [datetime] NULL,
	[Tasa_interes] [numeric](19, 4) NULL,
	[Interes] [numeric](19, 4) NULL,
	[Monto_vencimiento] [numeric](19, 4) NULL,
	[Fecha_vencimiento] [datetime] NULL,
	[Reajustabilidad] [varchar](8) NULL,
	[Tasa_Pacto] [numeric](19, 4) NULL,
	[Monto_Final] [numeric](19, 4) NULL,
	[Monto_Nominal] [numeric](19, 4) NULL,
	[Tasa_descuento] [numeric](19, 4) NULL,
	[Valor_tasa] [numeric](19, 4) NULL,
	[Custodia] [varchar](10) NULL,
	[Numero_instrumentos] [numeric](10, 0) NULL,
	[Monto_total] [numeric](19, 4) NULL,
	[Codigo_mon_mx] [varchar](8) NULL,
	[Monto_mx] [numeric](19, 4) NULL,
	[Tasa_cambio] [numeric](19, 4) NULL,
	[Fecha_valor_mx] [datetime] NULL,
	[Forma_pago_neg] [numeric](5, 0) NULL,
	[Sesion] [varchar](15) NULL,
	[NombreClienteBen_3] [varchar](35) NULL,
	[NombreClienteBen_4] [varchar](35) NULL,
	[UsuarioMDP] [varchar](50) NULL,
	[UsuarioIngreso] [varchar](50) NULL,
	[CargoCtaCte] [varchar](1) NULL,
	[SobregiroCtaCte] [varchar](1) NULL,
	[PvpReferencia] [varchar](20) NULL,
	[PvpMoneda] [varchar](20) NULL,
	[PvpTasaCambio] [numeric](19, 4) NULL,
	[PvpMonto] [numeric](19, 4) NULL,
	[Cod_cliente] [numeric](9, 0) NULL,
	[Codigo_dcv2] [varchar](20) NULL,
	[Estado] [varchar](3) NULL
) ON [PRIMARY]
GO
