USE [BacParamSuda]
GO
/****** Object:  Table [dbo].[NGINE_WSURL_ACTION]    Script Date: 13-05-2022 10:58:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGINE_WSURL_ACTION](
	[Id_metodo] [numeric](3, 0) NULL,
	[glosa] [varchar](50) NULL,
	[wsurl] [varchar](120) NULL
) ON [PRIMARY]
GO
