USE [BacParamSuda]
GO
/****** Object:  Table [dbo].[FPAGO_CANAL]    Script Date: 13-05-2022 10:58:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FPAGO_CANAL](
	[Codigo_FormaPago] [numeric](9, 0) NOT NULL,
	[Codigo_Canal] [numeric](9, 0) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [Pk_FPAGO_CANAL] PRIMARY KEY CLUSTERED 
(
	[Codigo_FormaPago] ASC,
	[Codigo_Canal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FPAGO_CANAL] ADD  CONSTRAINT [Df_FPAGO_CANAL_Codigo_FormaPago]  DEFAULT (0) FOR [Codigo_FormaPago]
GO
ALTER TABLE [dbo].[FPAGO_CANAL] ADD  CONSTRAINT [Df_FPAGO_CANAL_Codigo_Canal]  DEFAULT (0) FOR [Codigo_Canal]
GO
ALTER TABLE [dbo].[FPAGO_CANAL] ADD  CONSTRAINT [Df_FPAGO_CANAL_Descripcion]  DEFAULT ('') FOR [Descripcion]
GO
