USE [BacParamSuda]
GO
/****** Object:  Table [dbo].[tmp_valor_ipc_actualizado]    Script Date: 13-05-2022 10:58:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_valor_ipc_actualizado](
	[vmfecha] [datetime] NOT NULL,
	[vmvalor] [float] NOT NULL
) ON [PRIMARY]
GO
