USE [BacParamSuda]
GO
/****** Object:  Table [dbo].[SADP_MODULOS_EXTERNOS]    Script Date: 13-05-2022 10:58:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SADP_MODULOS_EXTERNOS](
	[Nemo] [varchar](5) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
