USE [BacParamSuda]
GO
/****** Object:  Table [dbo].[REFERENCIA_MERCADO]    Script Date: 13-05-2022 10:58:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REFERENCIA_MERCADO](
	[Codigo] [int] NOT NULL,
	[Glosa] [varchar](50) NOT NULL,
	[Estado] [int] NOT NULL,
 CONSTRAINT [PK_REFERENCIA_MERCADO] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[REFERENCIA_MERCADO] ADD  CONSTRAINT [df_REFERENCIA_MERCADO_Codigo]  DEFAULT (0) FOR [Codigo]
GO
ALTER TABLE [dbo].[REFERENCIA_MERCADO] ADD  CONSTRAINT [df_REFERENCIA_MERCADO_Glosa]  DEFAULT ('') FOR [Glosa]
GO
ALTER TABLE [dbo].[REFERENCIA_MERCADO] ADD  CONSTRAINT [df_REFERENCIA_MERCADO_Estado]  DEFAULT (0) FOR [Estado]
GO
