USE [BacParamSuda]
GO
/****** Object:  Table [dbo].[Libro1]    Script Date: 13-05-2022 10:58:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libro1](
	[N1] [smalldatetime] NULL,
	[N2] [float] NULL
) ON [PRIMARY]
GO
