USE [BacParamSuda]
GO
/****** Object:  Table [dbo].[Perfiles_mod_motorpagos]    Script Date: 13-05-2022 10:58:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfiles_mod_motorpagos](
	[folio_perfil] [decimal](5, 0) NOT NULL
) ON [PRIMARY]
GO
