USE [BacParamSuda]
GO
/****** Object:  Table [dbo].[SADP_CUENTA_CAJA]    Script Date: 13-05-2022 10:58:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SADP_CUENTA_CAJA](
	[id_Registro] [numeric](10, 0) IDENTITY(1,1) NOT NULL,
	[iRutCliente] [int] NOT NULL,
	[iCodCliente] [smallint] NOT NULL,
	[dFechaSaldo] [datetime] NOT NULL,
	[fMontoSaldo] [numeric](21, 0) NOT NULL,
	[bEstado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Registro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SADP_CUENTA_CAJA] ADD  DEFAULT ((0)) FOR [iRutCliente]
GO
ALTER TABLE [dbo].[SADP_CUENTA_CAJA] ADD  DEFAULT ((0)) FOR [iCodCliente]
GO
ALTER TABLE [dbo].[SADP_CUENTA_CAJA] ADD  DEFAULT ('') FOR [dFechaSaldo]
GO
ALTER TABLE [dbo].[SADP_CUENTA_CAJA] ADD  DEFAULT ((0)) FOR [fMontoSaldo]
GO
ALTER TABLE [dbo].[SADP_CUENTA_CAJA] ADD  DEFAULT ((0)) FOR [bEstado]
GO
