USE [BacParamSuda]
GO
/****** Object:  Table [dbo].[TBL_REDUCCION_THRESHOLD]    Script Date: 13-05-2022 10:58:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_REDUCCION_THRESHOLD](
	[Sistema] [char](3) NOT NULL,
	[Producto] [varchar](5) NOT NULL,
	[Numero_Operacion] [numeric](9, 0) NOT NULL,
	[Segmento] [int] NOT NULL,
	[Clasificacion] [int] NOT NULL,
	[Descripcion] [char](6) NOT NULL,
	[Threshold] [float] NOT NULL,
	[PosicionInical] [int] NOT NULL,
	[PosicionActual] [int] NOT NULL,
 CONSTRAINT [Pk_TBL_REDUCCION_THRESHOLD] PRIMARY KEY CLUSTERED 
(
	[Sistema] ASC,
	[Producto] ASC,
	[Numero_Operacion] ASC,
	[Segmento] ASC,
	[Clasificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_REDUCCION_THRESHOLD] ADD  CONSTRAINT [df_TBL_REDUCCION_THRESHOLD_Sistema]  DEFAULT ('') FOR [Sistema]
GO
ALTER TABLE [dbo].[TBL_REDUCCION_THRESHOLD] ADD  CONSTRAINT [df_TBL_REDUCCION_THRESHOLD_Producto]  DEFAULT ('') FOR [Producto]
GO
ALTER TABLE [dbo].[TBL_REDUCCION_THRESHOLD] ADD  CONSTRAINT [df_TBL_REDUCCION_THRESHOLD_Numero_Operacion]  DEFAULT (0) FOR [Numero_Operacion]
GO
ALTER TABLE [dbo].[TBL_REDUCCION_THRESHOLD] ADD  CONSTRAINT [df_TBL_REDUCCION_THRESHOLD_Segmento]  DEFAULT (0) FOR [Segmento]
GO
ALTER TABLE [dbo].[TBL_REDUCCION_THRESHOLD] ADD  CONSTRAINT [df_TBL_REDUCCION_THRESHOLD_Clasificacion]  DEFAULT (0) FOR [Clasificacion]
GO
ALTER TABLE [dbo].[TBL_REDUCCION_THRESHOLD] ADD  CONSTRAINT [df_TBL_REDUCCION_THRESHOLD_Descripcion]  DEFAULT ('') FOR [Descripcion]
GO
ALTER TABLE [dbo].[TBL_REDUCCION_THRESHOLD] ADD  CONSTRAINT [df_TBL_REDUCCION_THRESHOLD_Threshold]  DEFAULT (0.0) FOR [Threshold]
GO
ALTER TABLE [dbo].[TBL_REDUCCION_THRESHOLD] ADD  CONSTRAINT [df_TBL_REDUCCION_THRESHOLD_PosicionInical]  DEFAULT (0) FOR [PosicionInical]
GO
ALTER TABLE [dbo].[TBL_REDUCCION_THRESHOLD] ADD  CONSTRAINT [df_TBL_REDUCCION_THRESHOLD_PosicionActual]  DEFAULT (0) FOR [PosicionActual]
GO
