USE [BacParamSuda]
GO
/****** Object:  Table [dbo].[CONFIGURACION_MENSAJE]    Script Date: 13-05-2022 10:58:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONFIGURACION_MENSAJE](
	[Rol] [int] NOT NULL,
	[Evento] [int] NOT NULL,
	[Estado] [int] NOT NULL,
 CONSTRAINT [Pk_CONFIGURACION_MENSAJE] PRIMARY KEY CLUSTERED 
(
	[Rol] ASC,
	[Evento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CONFIGURACION_MENSAJE] ADD  CONSTRAINT [df_CONFIGURACION_MENSAJE_Rol]  DEFAULT (0) FOR [Rol]
GO
ALTER TABLE [dbo].[CONFIGURACION_MENSAJE] ADD  CONSTRAINT [df_CONFIGURACION_MENSAJE_Evento]  DEFAULT (0) FOR [Evento]
GO
ALTER TABLE [dbo].[CONFIGURACION_MENSAJE] ADD  CONSTRAINT [df_CONFIGURACION_MENSAJE_Estado]  DEFAULT (0) FOR [Estado]
GO
