USE [BacParamSuda]
GO
/****** Object:  Table [dbo].[TBL_CODIFICACION_CARTERA_NORMATIVA]    Script Date: 13-05-2022 10:58:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CODIFICACION_CARTERA_NORMATIVA](
	[ccn_codigo_cartera] [char](10) NULL,
	[ccn_codigo_nuevo] [char](10) NULL
) ON [PRIMARY]
GO
