USE [BacParamSuda]
GO
/****** Object:  Table [dbo].[CLIENTES_MARCADOS_BILATERAL_II]    Script Date: 13-05-2022 10:58:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES_MARCADOS_BILATERAL_II](
	[RUT] [numeric](11, 0) NULL
) ON [PRIMARY]
GO
