USE [BacParamSuda]
GO
/****** Object:  Table [dbo].[USUARIO_ACTIVO]    Script Date: 13-05-2022 10:58:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO_ACTIVO](
	[Usuario] [char](15) NOT NULL,
	[Id_Sistema] [char](3) NOT NULL,
	[Terminal] [varchar](2) NOT NULL,
	[FechaProceso] [datetime] NOT NULL,
	[FechaSistema] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Usuario] ASC,
	[Id_Sistema] ASC,
	[Terminal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[USUARIO_ACTIVO] ADD  CONSTRAINT [DF__USUARIO_A__Termi__49E71FA4]  DEFAULT (' ') FOR [Terminal]
GO
ALTER TABLE [dbo].[USUARIO_ACTIVO] ADD  CONSTRAINT [DF__USUARIO_A__Fecha__4ADB43DD]  DEFAULT (' ') FOR [FechaProceso]
GO
ALTER TABLE [dbo].[USUARIO_ACTIVO] ADD  CONSTRAINT [DF__USUARIO_A__Fecha__4BCF6816]  DEFAULT (' ') FOR [FechaSistema]
GO
ALTER TABLE [dbo].[USUARIO_ACTIVO]  WITH CHECK ADD FOREIGN KEY([Usuario], [Id_Sistema])
REFERENCES [dbo].[CONTROL_USUARIO] ([Usuario], [Id_Sistema])
GO
