USE [BacParamSuda]
GO
/****** Object:  Table [dbo].[TBL_THRESHOLD_OPERACION]    Script Date: 13-05-2022 10:58:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_THRESHOLD_OPERACION](
	[Sistema] [char](3) NOT NULL,
	[Producto] [varchar](5) NOT NULL,
	[Rut_Cliente] [numeric](10, 0) NOT NULL,
	[Cod_Cliente] [int] NOT NULL,
	[Numero_Operacion] [numeric](9, 0) NOT NULL,
	[Threshold_Propuesto] [float] NOT NULL,
	[Threshold_Aplicado] [float] NOT NULL,
	[Rec] [float] NOT NULL,
 CONSTRAINT [Pk_TBL_THRESHOLD_OPERACION] PRIMARY KEY NONCLUSTERED 
(
	[Sistema] ASC,
	[Producto] ASC,
	[Rut_Cliente] ASC,
	[Cod_Cliente] ASC,
	[Numero_Operacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_THRESHOLD_OPERACION] ADD  CONSTRAINT [df_TBL_THRESHOLD_OPERACION_Sistema]  DEFAULT ('') FOR [Sistema]
GO
ALTER TABLE [dbo].[TBL_THRESHOLD_OPERACION] ADD  CONSTRAINT [df_TBL_THRESHOLD_OPERACION_Producto]  DEFAULT ('') FOR [Producto]
GO
ALTER TABLE [dbo].[TBL_THRESHOLD_OPERACION] ADD  CONSTRAINT [df_TBL_THRESHOLD_OPERACION_Rut_Cliente]  DEFAULT (0) FOR [Rut_Cliente]
GO
ALTER TABLE [dbo].[TBL_THRESHOLD_OPERACION] ADD  CONSTRAINT [df_TBL_THRESHOLD_OPERACION_Cod_Cliente]  DEFAULT (0) FOR [Cod_Cliente]
GO
ALTER TABLE [dbo].[TBL_THRESHOLD_OPERACION] ADD  CONSTRAINT [df_TBL_THRESHOLD_OPERACION_Numero_Operacion]  DEFAULT (0) FOR [Numero_Operacion]
GO
ALTER TABLE [dbo].[TBL_THRESHOLD_OPERACION] ADD  CONSTRAINT [df_TBL_THRESHOLD_OPERACION_Threshold_Propuesto]  DEFAULT (0.0) FOR [Threshold_Propuesto]
GO
ALTER TABLE [dbo].[TBL_THRESHOLD_OPERACION] ADD  CONSTRAINT [df_TBL_THRESHOLD_OPERACION_Threshold_Aplicado]  DEFAULT (0.0) FOR [Threshold_Aplicado]
GO
ALTER TABLE [dbo].[TBL_THRESHOLD_OPERACION] ADD  CONSTRAINT [df_TBL_THRESHOLD_OPERACION_Rec]  DEFAULT (0.0) FOR [Rec]
GO
