USE [BacParamSuda]
GO
/****** Object:  Table [dbo].[IndiceRelacionGLIBs]    Script Date: 13-05-2022 10:58:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IndiceRelacionGLIBs](
	[Producto] [int] NULL,
	[FechaEjecucion] [datetime] NULL,
	[IndiceGL] [int] NULL
) ON [PRIMARY]
GO
