USE [BacParamSuda]
GO
/****** Object:  Table [dbo].[TBL_ARCHIVOS_DCV]    Script Date: 13-05-2022 10:58:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ARCHIVOS_DCV](
	[Fecha] [datetime] NOT NULL,
	[Modulo] [char](3) NOT NULL,
	[Producto] [varchar](5) NOT NULL,
	[Contrato] [numeric](9, 0) NOT NULL,
	[Estado] [char](1) NOT NULL,
	[RutCliente] [numeric](11, 0) NOT NULL,
	[CodCliente] [int] NOT NULL,
	[Moneda] [int] NOT NULL,
	[MonedaCnv] [int] NOT NULL,
	[fPago] [int] NOT NULL,
	[Monto] [numeric](21, 4) NOT NULL,
	[Precio] [numeric](21, 4) NOT NULL,
	[FechaVcto] [datetime] NOT NULL,
	[IdGrupo] [numeric](9, 0) NOT NULL,
	[EstadoGrupo] [char](1) NOT NULL,
	[Reservado] [char](20) NOT NULL,
 CONSTRAINT [Pk_TBL_ARCHIVOS_DCV] PRIMARY KEY CLUSTERED 
(
	[Fecha] ASC,
	[Modulo] ASC,
	[Producto] ASC,
	[Contrato] ASC,
	[Estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_ARCHIVOS_DCV] ADD  CONSTRAINT [df_TBL_ARCHIVOS_DCV_Fecha]  DEFAULT ('') FOR [Fecha]
GO
ALTER TABLE [dbo].[TBL_ARCHIVOS_DCV] ADD  CONSTRAINT [df_TBL_ARCHIVOS_DCV_Modulo]  DEFAULT ('') FOR [Modulo]
GO
ALTER TABLE [dbo].[TBL_ARCHIVOS_DCV] ADD  CONSTRAINT [df_TBL_ARCHIVOS_DCV_Producto]  DEFAULT ('') FOR [Producto]
GO
ALTER TABLE [dbo].[TBL_ARCHIVOS_DCV] ADD  CONSTRAINT [df_TBL_ARCHIVOS_DCV_Contrato]  DEFAULT ((0)) FOR [Contrato]
GO
ALTER TABLE [dbo].[TBL_ARCHIVOS_DCV] ADD  CONSTRAINT [df_TBL_ARCHIVOS_DCV_Estado]  DEFAULT ('') FOR [Estado]
GO
ALTER TABLE [dbo].[TBL_ARCHIVOS_DCV] ADD  CONSTRAINT [df_TBL_ARCHIVOS_DCV_RutCliente]  DEFAULT ((0)) FOR [RutCliente]
GO
ALTER TABLE [dbo].[TBL_ARCHIVOS_DCV] ADD  CONSTRAINT [df_TBL_ARCHIVOS_DCV_CodCliente]  DEFAULT ((0)) FOR [CodCliente]
GO
ALTER TABLE [dbo].[TBL_ARCHIVOS_DCV] ADD  CONSTRAINT [df_TBL_ARCHIVOS_DCV_Moneda]  DEFAULT ((0)) FOR [Moneda]
GO
ALTER TABLE [dbo].[TBL_ARCHIVOS_DCV] ADD  CONSTRAINT [df_TBL_ARCHIVOS_DCV_MonedaCnv]  DEFAULT ((0)) FOR [MonedaCnv]
GO
ALTER TABLE [dbo].[TBL_ARCHIVOS_DCV] ADD  CONSTRAINT [df_TBL_ARCHIVOS_DCV_fPago]  DEFAULT ((0)) FOR [fPago]
GO
ALTER TABLE [dbo].[TBL_ARCHIVOS_DCV] ADD  CONSTRAINT [df_TBL_ARCHIVOS_DCV_Monto]  DEFAULT ((0)) FOR [Monto]
GO
ALTER TABLE [dbo].[TBL_ARCHIVOS_DCV] ADD  CONSTRAINT [df_TBL_ARCHIVOS_DCV_Precio]  DEFAULT ((0.0)) FOR [Precio]
GO
ALTER TABLE [dbo].[TBL_ARCHIVOS_DCV] ADD  CONSTRAINT [df_TBL_ARCHIVOS_DCV_FechaVcto]  DEFAULT ('') FOR [FechaVcto]
GO
ALTER TABLE [dbo].[TBL_ARCHIVOS_DCV] ADD  CONSTRAINT [df_TBL_ARCHIVOS_DCV_IdGrupo]  DEFAULT ((0)) FOR [IdGrupo]
GO
ALTER TABLE [dbo].[TBL_ARCHIVOS_DCV] ADD  CONSTRAINT [df_TBL_ARCHIVOS_DCV_EstadoGrupo]  DEFAULT ('') FOR [EstadoGrupo]
GO
ALTER TABLE [dbo].[TBL_ARCHIVOS_DCV] ADD  CONSTRAINT [df_TBL_ARCHIVOS_DCV_Reservado]  DEFAULT ('') FOR [Reservado]
GO
