USE [BacParamSuda]
GO
/****** Object:  Table [dbo].[CONTROL_USUARIO]    Script Date: 13-05-2022 10:58:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTROL_USUARIO](
	[Usuario] [char](15) NOT NULL,
	[Id_Sistema] [char](3) NOT NULL,
	[Nombre] [char](40) NOT NULL,
	[Terminal] [varchar](6) NOT NULL,
	[Bloqueado] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Usuario] ASC,
	[Id_Sistema] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CONTROL_USUARIO] ADD  CONSTRAINT [DF__CONTROL_U__Nombr__433A2215]  DEFAULT (' ') FOR [Nombre]
GO
ALTER TABLE [dbo].[CONTROL_USUARIO] ADD  CONSTRAINT [DF__CONTROL_U__Termi__442E464E]  DEFAULT (' ') FOR [Terminal]
GO
ALTER TABLE [dbo].[CONTROL_USUARIO] ADD  CONSTRAINT [DF__CONTROL_U__Bloqu__45226A87]  DEFAULT (' ') FOR [Bloqueado]
GO
