USE [BacParamSuda]
GO
/****** Object:  Table [dbo].[FLUJOCAJA_CONCEPTO]    Script Date: 13-05-2022 10:58:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FLUJOCAJA_CONCEPTO](
	[codigo_concepto] [numeric](3, 0) NOT NULL,
	[concepto] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[codigo_concepto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
GO
