USE [BacParamSuda]
GO
/****** Object:  Table [dbo].[VALOR_MONEDA1012]    Script Date: 13-05-2022 10:58:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VALOR_MONEDA1012](
	[Col001] [varchar](255) NULL,
	[Col002] [varchar](255) NULL,
	[Col003] [varchar](255) NULL,
	[Col004] [varchar](255) NULL,
	[Col005] [varchar](255) NULL,
	[Col006] [varchar](255) NULL,
	[Col007] [varchar](255) NULL,
	[Col008] [varchar](255) NULL,
	[Col009] [varchar](255) NULL,
	[Col010] [varchar](255) NULL,
	[Col011] [varchar](255) NULL,
	[Col012] [varchar](255) NULL,
	[Col013] [varchar](255) NULL,
	[Col014] [varchar](255) NULL,
	[Col015] [varchar](255) NULL,
	[Col016] [varchar](255) NULL,
	[Col017] [varchar](255) NULL,
	[Col018] [varchar](255) NULL,
	[Col019] [varchar](255) NULL,
	[Col020] [varchar](255) NULL,
	[Col021] [varchar](255) NULL,
	[Col022] [varchar](255) NULL,
	[Col023] [varchar](255) NULL,
	[Col024] [varchar](255) NULL,
	[Col025] [varchar](255) NULL,
	[Col026] [varchar](255) NULL,
	[Col027] [varchar](255) NULL,
	[Col028] [varchar](255) NULL,
	[Col029] [varchar](255) NULL,
	[Col030] [varchar](255) NULL
) ON [PRIMARY]
GO
