USE [BacParamSuda]
GO
/****** Object:  Table [dbo].[MATRIZ_ATRIBUCION]    Script Date: 13-05-2022 10:58:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATRIZ_ATRIBUCION](
	[Usuario] [char](15) NOT NULL,
	[Codigo_Producto] [char](5) NOT NULL,
	[Plazo_Desde] [numeric](5, 0) NOT NULL,
	[Plazo_Hasta] [numeric](5, 0) NOT NULL,
	[MontoInicio] [numeric](19, 4) NOT NULL,
	[MontoFinal] [numeric](19, 4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Usuario] ASC,
	[Codigo_Producto] ASC,
	[Plazo_Desde] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MATRIZ_ATRIBUCION] ADD  CONSTRAINT [DF__MATRIZ_AT__Plazo__36D44B30]  DEFAULT (0) FOR [Plazo_Hasta]
GO
ALTER TABLE [dbo].[MATRIZ_ATRIBUCION] ADD  CONSTRAINT [DF__MATRIZ_AT__Monto__37C86F69]  DEFAULT (0) FOR [MontoInicio]
GO
ALTER TABLE [dbo].[MATRIZ_ATRIBUCION] ADD  CONSTRAINT [DF__MATRIZ_AT__Monto__38BC93A2]  DEFAULT (0) FOR [MontoFinal]
GO
ALTER TABLE [dbo].[MATRIZ_ATRIBUCION]  WITH CHECK ADD FOREIGN KEY([Codigo_Producto])
REFERENCES [dbo].[PRODUCTO] ([codigo_producto])
GO
ALTER TABLE [dbo].[MATRIZ_ATRIBUCION]  WITH CHECK ADD FOREIGN KEY([Usuario])
REFERENCES [dbo].[USUARIO] ([usuario])
GO
