USE [BacParamSuda]
GO
/****** Object:  Table [dbo].[TBL_TICKET_ARTICULO_84]    Script Date: 13-05-2022 10:58:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TICKET_ARTICULO_84](
	[ID] [int] NULL
) ON [PRIMARY]
GO
