USE [BacParamSuda]
GO
/****** Object:  Table [dbo].[tbl_defecto_CtaBanco_cosif]    Script Date: 13-05-2022 10:58:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_defecto_CtaBanco_cosif](
	[archivo] [int] NULL,
	[ctaDefecto] [nvarchar](50) NULL,
	[texto] [nvarchar](100) NULL
) ON [PRIMARY]
GO
