USE [BacParamSuda]
GO
/****** Object:  Table [dbo].[TBL_CONTROL_HORARIO_COMEX]    Script Date: 13-05-2022 10:58:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CONTROL_HORARIO_COMEX](
	[Hora_Apertura] [char](10) NOT NULL,
	[Hora_Cierre] [char](10) NOT NULL,
	[Bloqueado] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_CONTROL_HORARIO_COMEX] ADD  CONSTRAINT [df_TBL_CONTROL_HORARIO_COMEX_Hora_Apertura]  DEFAULT ('00:00') FOR [Hora_Apertura]
GO
ALTER TABLE [dbo].[TBL_CONTROL_HORARIO_COMEX] ADD  CONSTRAINT [df_TBL_CONTROL_HORARIO_COMEX_Hora_Cierre]  DEFAULT ('00:00') FOR [Hora_Cierre]
GO
ALTER TABLE [dbo].[TBL_CONTROL_HORARIO_COMEX] ADD  CONSTRAINT [df_TBL_CONTROL_HORARIO_COMEX_Bloqueado]  DEFAULT ((0)) FOR [Bloqueado]
GO
