USE [BacParamSuda]
GO
/****** Object:  Table [dbo].[MASCARA_INSTRUMENTO]    Script Date: 13-05-2022 10:58:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASCARA_INSTRUMENTO](
	[msmascara] [char](12) NULL,
	[msnemo] [char](12) NULL,
	[msfamilia] [char](12) NULL,
	[msarchivo] [char](2) NULL
) ON [PRIMARY]
GO
