USE [BacParamSuda]
GO
/****** Object:  Table [dbo].[tabla_prueba]    Script Date: 13-05-2022 10:58:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tabla_prueba](
	[a] [nchar](10) NULL
) ON [PRIMARY]
GO
