USE [BacParamSuda]
GO
/****** Object:  Table [dbo].[TBL_PREPARA_OPERACIONES]    Script Date: 13-05-2022 10:58:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PREPARA_OPERACIONES](
	[ID_SISTEMA] [char](3) NOT NULL,
	[COD_OPERACION] [char](1) NOT NULL,
	[NRO_OPERACION] [numeric](7, 0) NOT NULL,
	[FECHA_PREPARA] [datetime] NOT NULL,
	[ESTADO] [char](1) NULL,
	[USUARIO_PREPARA] [varchar](15) NULL,
	[USUARIO_EJECUTA] [varchar](15) NULL,
	[FECHA_EJECUTA] [datetime] NULL,
	[OBSERVACION] [varchar](100) NULL,
 CONSTRAINT [PK_TBL_PREPARA_OPERACIONES] PRIMARY KEY NONCLUSTERED 
(
	[ID_SISTEMA] ASC,
	[COD_OPERACION] ASC,
	[NRO_OPERACION] ASC,
	[FECHA_PREPARA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
GO
