USE [BacParamSuda]
GO
/****** Object:  Table [dbo].[CODIGOS_FACILITY]    Script Date: 13-05-2022 10:58:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CODIGOS_FACILITY](
	[CODIGO_FACILITY] [char](4) NOT NULL,
	[DESCRIPCION] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO_FACILITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
