USE [BacParamSuda]
GO
/****** Object:  Table [dbo].[TBL_SEGMENTOSCOMERCIALES]    Script Date: 13-05-2022 10:58:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_SEGMENTOSCOMERCIALES](
	[SgmCod] [char](6) NOT NULL,
	[SgmNem] [char](10) NOT NULL,
	[SgmDesc] [varchar](40) NOT NULL,
	[RecMtdCod] [numeric](5, 0) NOT NULL,
 CONSTRAINT [Pk_TBL_SEGMENTOSCOMERCIALES] PRIMARY KEY CLUSTERED 
(
	[SgmCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_SEGMENTOSCOMERCIALES] ADD  CONSTRAINT [TBL_SEGMENTOSCOMERCIALES_SgmCod]  DEFAULT ('') FOR [SgmCod]
GO
ALTER TABLE [dbo].[TBL_SEGMENTOSCOMERCIALES] ADD  CONSTRAINT [TBL_SEGMENTOSCOMERCIALES_SgmNem]  DEFAULT ('') FOR [SgmNem]
GO
ALTER TABLE [dbo].[TBL_SEGMENTOSCOMERCIALES] ADD  CONSTRAINT [TBL_SEGMENTOSCOMERCIALES_SgmDesc]  DEFAULT ('') FOR [SgmDesc]
GO
ALTER TABLE [dbo].[TBL_SEGMENTOSCOMERCIALES] ADD  CONSTRAINT [TBL_SEGMENTOSCOMERCIALES_RecMtdCod]  DEFAULT ((0)) FOR [RecMtdCod]
GO
