USE [BacParamSuda]
GO
/****** Object:  Table [dbo].[FUSION_ClientesFindur]    Script Date: 13-05-2022 10:58:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FUSION_ClientesFindur](
	[rutCliente] [numeric](18, 0) NULL,
	[dvCliente] [char](1) NULL,
	[codigoClienteCorpbanca] [numeric](18, 0) NULL,
	[idAltamira] [int] NULL,
	[opeSpotDerivados] [varchar](50) NULL,
	[opeRentaFija] [varchar](50) NULL,
	[bancoReferencia] [varchar](50) NULL,
	[codigoSBIF] [numeric](18, 0) NULL,
	[institucionFinanciera] [varchar](50) NULL,
	[calidadJuridica] [varchar](50) NULL,
	[actividadEconomica] [varchar](50) NULL,
	[clasificacionRiesgoCredito] [varchar](50) NULL,
	[mercado] [int] NULL,
	[codigoBCCH] [numeric](18, 0) NULL,
	[centroCosto] [varchar](50) NULL,
	[organización] [int] NULL,
	[segmento] [varchar](50) NULL,
	[Apoderado1] [varchar](50) NULL,
	[Apoderado2] [varchar](50) NULL,
	[codigoAS400] [int] NULL,
	[secuencia] [int] NULL,
	[cnpj] [int] NULL,
	[clienteNoOFAC] [varchar](50) NULL,
	[fechaOFAC] [varchar](50) NULL,
	[KYC] [varchar](50) NULL,
	[codigoSucursal] [int] NULL,
	[condicionesGenerales] [varchar](50) NULL,
	[correosConfirmaciones] [varchar](50) NULL,
	[relacionContraparte] [int] NULL,
	[modalidadContratacion] [int] NULL,
	[taxIdDJ1820] [varchar](50) NULL,
	[codigoRelacionado] [int] NULL,
	[usPerson] [varchar](50) NULL,
	[nombreSINACOFI] [numeric](18, 0) NULL,
	[apoderado3] [varchar](50) NULL,
	[apoderado4] [varchar](50) NULL,
	[ejecutivo] [varchar](50) NULL,
	[jefeEjecutivo] [varchar](50) NULL,
	[codigoDCV] [varchar](50) NULL,
	[operaComDer] [varchar](50) NULL,
	[nombreCliente] [varchar](100) NULL,
	[direccionCliente] [char](70) NULL,
	[comuna] [numeric](18, 0) NULL,
	[telefono] [varchar](50) NULL,
	[bloqueado] [char](1) NULL,
	[motBloqueado] [varchar](2000) NULL,
	[vigente] [varchar](50) NULL,
	[compBilateral] [int] NULL,
	[codMetodologia] [numeric](18, 0) NULL,
	[derivados] [varchar](50) NULL,
	[fechaFirmaDerivados] [date] NULL,
	[pactos] [varchar](50) NULL,
	[fechaFirmaPactos] [date] NULL,
	[tipoCliente] [char](1) NULL
) ON [PRIMARY]
GO
