USE [BacParamSuda]
GO
/****** Object:  Table [dbo].[TBL_RESPONSABLES]    Script Date: 13-05-2022 10:58:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_RESPONSABLES](
	[Usuario] [varchar](15) NOT NULL,
	[Responsable] [varchar](30) NOT NULL,
	[Cargo] [varchar](80) NOT NULL,
	[Email] [varchar](60) NOT NULL,
 CONSTRAINT [PK_TBL_RESPONSABLES] PRIMARY KEY CLUSTERED 
(
	[Usuario] ASC,
	[Responsable] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_RESPONSABLES] ADD  CONSTRAINT [df_TBL_RESPONSABLES_Usuario]  DEFAULT ('') FOR [Usuario]
GO
ALTER TABLE [dbo].[TBL_RESPONSABLES] ADD  CONSTRAINT [df_TBL_RESPONSABLES_Responsable]  DEFAULT ('') FOR [Responsable]
GO
ALTER TABLE [dbo].[TBL_RESPONSABLES] ADD  CONSTRAINT [df_TBL_RESPONSABLES_Cargo]  DEFAULT ('') FOR [Cargo]
GO
ALTER TABLE [dbo].[TBL_RESPONSABLES] ADD  CONSTRAINT [df_TBL_RESPONSABLES_Email]  DEFAULT ('') FOR [Email]
GO
