USE [BacParamSuda]
GO
/****** Object:  Table [dbo].[ATRIBUCION_OPERADOR]    Script Date: 13-05-2022 10:58:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATRIBUCION_OPERADOR](
	[Usuario] [char](15) NOT NULL,
	[Nombre] [char](40) NOT NULL,
	[ClaseUsuario] [char](2) NOT NULL,
	[Codigo_Producto] [char](5) NOT NULL,
	[PlazoDesde] [numeric](5, 0) NOT NULL,
	[PlazoHasta] [numeric](5, 0) NOT NULL,
	[MontoMinimo] [numeric](19, 4) NOT NULL,
	[MontoMaximo] [numeric](19, 4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Usuario] ASC,
	[Codigo_Producto] ASC,
	[PlazoDesde] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ATRIBUCION_OPERADOR] ADD  CONSTRAINT [DF__ATRIBUCIO__Plazo__4F9FF8FA]  DEFAULT (0) FOR [PlazoHasta]
GO
ALTER TABLE [dbo].[ATRIBUCION_OPERADOR] ADD  CONSTRAINT [DF__ATRIBUCIO__Monto__50941D33]  DEFAULT (0) FOR [MontoMinimo]
GO
ALTER TABLE [dbo].[ATRIBUCION_OPERADOR] ADD  CONSTRAINT [DF__ATRIBUCIO__Monto__5188416C]  DEFAULT (0) FOR [MontoMaximo]
GO
ALTER TABLE [dbo].[ATRIBUCION_OPERADOR]  WITH CHECK ADD FOREIGN KEY([Codigo_Producto])
REFERENCES [dbo].[PRODUCTO] ([codigo_producto])
GO
ALTER TABLE [dbo].[ATRIBUCION_OPERADOR]  WITH CHECK ADD FOREIGN KEY([Usuario])
REFERENCES [dbo].[USUARIO] ([usuario])
GO
