USE [BacParamSuda]
GO
/****** Object:  Table [dbo].[plan_de_cuenta0116]    Script Date: 13-05-2022 10:58:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[plan_de_cuenta0116](
	[Col001] [varchar](255) NULL,
	[Col002] [varchar](255) NULL,
	[Col003] [varchar](255) NULL,
	[Col004] [varchar](255) NULL,
	[Col005] [varchar](255) NULL,
	[Col006] [varchar](255) NULL,
	[Col007] [varchar](255) NULL,
	[Col008] [varchar](255) NULL,
	[Col009] [varchar](255) NULL,
	[Col010] [varchar](255) NULL,
	[Col011] [varchar](255) NULL,
	[Col012] [varchar](255) NULL
) ON [PRIMARY]
GO
