USE [BacParamSuda]
GO
/****** Object:  Table [dbo].[FORMATO_INTERFACES_CONFIGURA]    Script Date: 13-05-2022 10:58:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FORMATO_INTERFACES_CONFIGURA](
	[ID_INTERFAZ] [numeric](4, 0) NOT NULL,
	[SISTEMA] [char](3) NOT NULL,
	[CODIGO] [char](10) NOT NULL,
	[SUBCODIGO] [int] NOT NULL,
	[NAME] [varchar](250) NULL,
	[VALUE] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_INTERFAZ] ASC,
	[SISTEMA] ASC,
	[CODIGO] ASC,
	[SUBCODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FORMATO_INTERFACES_CONFIGURA]  WITH CHECK ADD FOREIGN KEY([ID_INTERFAZ], [SISTEMA])
REFERENCES [dbo].[FORMATO_INTERFACES] ([Id_interfaz], [Sistema])
GO
