USE [BacParamSuda]
GO
/****** Object:  Table [dbo].[REFERENCIA_MERCADO_PRODUCTO]    Script Date: 13-05-2022 10:58:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REFERENCIA_MERCADO_PRODUCTO](
	[Producto] [int] NOT NULL,
	[Modalidad] [char](1) NOT NULL,
	[Referencia] [int] NOT NULL,
	[DiasValor] [numeric](5, 0) NOT NULL,
	[idTipoCambio] [smallint] NULL,
	[id_sistema] [char](3) NOT NULL,
 CONSTRAINT [PK_REFERENCIA_MERCADO_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[Producto] ASC,
	[Modalidad] ASC,
	[Referencia] ASC,
	[id_sistema] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[REFERENCIA_MERCADO_PRODUCTO] ADD  CONSTRAINT [df_REFERENCIA_MERCADO_PRODUCTO_Producto]  DEFAULT ((0)) FOR [Producto]
GO
ALTER TABLE [dbo].[REFERENCIA_MERCADO_PRODUCTO] ADD  CONSTRAINT [df_REFERENCIA_MERCADO_PRODUCTO_Modalidad]  DEFAULT ('') FOR [Modalidad]
GO
ALTER TABLE [dbo].[REFERENCIA_MERCADO_PRODUCTO] ADD  CONSTRAINT [df_REFERENCIA_MERCADO_PRODUCTO_Referencia]  DEFAULT ((0)) FOR [Referencia]
GO
ALTER TABLE [dbo].[REFERENCIA_MERCADO_PRODUCTO] ADD  CONSTRAINT [df_REFERENCIA_MERCADO_PRODUCTO_DiasValor]  DEFAULT ((0)) FOR [DiasValor]
GO
ALTER TABLE [dbo].[REFERENCIA_MERCADO_PRODUCTO] ADD  DEFAULT ((0)) FOR [idTipoCambio]
GO
ALTER TABLE [dbo].[REFERENCIA_MERCADO_PRODUCTO] ADD  CONSTRAINT [df_REFERENCIA_MERCADO_PRODUCTO_id_sistema]  DEFAULT ('') FOR [id_sistema]
GO
