USE [BacParamSuda]
GO
/****** Object:  Table [dbo].[PAIS]    Script Date: 13-05-2022 10:58:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAIS](
	[codigo_pais] [numeric](5, 0) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[COD_BCCH] [numeric](3, 0) NULL,
	[cod_swift] [char](2) NOT NULL,
	[COD_ITAU] [varchar](4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[codigo_pais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PAIS] ADD  CONSTRAINT [DF__PAIS__COD_BCCH__1C61176D]  DEFAULT (0) FOR [COD_BCCH]
GO
ALTER TABLE [dbo].[PAIS] ADD  DEFAULT ('') FOR [cod_swift]
GO
ALTER TABLE [dbo].[PAIS] ADD  DEFAULT ('') FOR [COD_ITAU]
GO
