USE [BacParamSuda]
GO
/****** Object:  Table [dbo].[FPAGO_CODIGO_DCV]    Script Date: 13-05-2022 10:58:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FPAGO_CODIGO_DCV](
	[fPago] [int] NOT NULL,
	[nCodigo] [int] NOT NULL,
 CONSTRAINT [Pk_FPAGO_CODIGO_DCV] PRIMARY KEY CLUSTERED 
(
	[fPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FPAGO_CODIGO_DCV] ADD  CONSTRAINT [df_FPAGO_CODIGO_DCV_fPago]  DEFAULT ((0)) FOR [fPago]
GO
ALTER TABLE [dbo].[FPAGO_CODIGO_DCV] ADD  CONSTRAINT [df_FPAGO_CODIGO_DCV_nCodigo]  DEFAULT ((0)) FOR [nCodigo]
GO
