USE [BacParamSuda]
GO
/****** Object:  Table [dbo].[SADP_REL_BCOFFMM_BANCOS]    Script Date: 13-05-2022 10:58:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SADP_REL_BCOFFMM_BANCOS](
	[codigo] [varchar](10) NULL,
	[rut] [numeric](9, 0) NULL,
	[dv] [char](1) NULL
) ON [PRIMARY]
GO
