USE [BacParamSuda]
GO
/****** Object:  Table [dbo].[perfil_detalle_cnt0116]    Script Date: 13-05-2022 10:58:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[perfil_detalle_cnt0116](
	[Col001] [varchar](255) NULL,
	[Col002] [varchar](255) NULL,
	[Col003] [varchar](255) NULL,
	[Col004] [varchar](255) NULL,
	[Col005] [varchar](255) NULL,
	[Col006] [varchar](255) NULL,
	[Col007] [varchar](255) NULL
) ON [PRIMARY]
GO
