USE [BacParamSuda]
GO
/****** Object:  Table [dbo].[CATEGORIA_CARTERASUPER]    Script Date: 13-05-2022 10:58:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA_CARTERASUPER](
	[codigo_carterasuper] [char](1) NOT NULL,
	[nombre_carterasuper] [char](20) NOT NULL
) ON [PRIMARY]
GO
