USE [BacParamSuda]
GO
/****** Object:  Table [dbo].[MONTO_ESCRITO_DECENA]    Script Date: 13-05-2022 10:58:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONTO_ESCRITO_DECENA](
	[glosa] [char](20) NOT NULL,
	[indice] [int] NOT NULL
) ON [PRIMARY]
GO
