USE [BacParamSuda]
GO
/****** Object:  Table [dbo].[TBL_PERSONAS_RELACIONADAS]    Script Date: 13-05-2022 10:58:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PERSONAS_RELACIONADAS](
	[CODIGO] [int] NULL,
	[NOMBRE] [varchar](150) NULL,
	[INDICADOR] [int] NULL
) ON [PRIMARY]
GO
