USE [BacParamSuda]
GO
/****** Object:  Table [dbo].[TBL_CARTERA_PRODUCTO_VOLCKER_RULE]    Script Date: 13-05-2022 10:58:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CARTERA_PRODUCTO_VOLCKER_RULE](
	[Id_Sistema] [char](3) NOT NULL,
	[Id_Producto] [varchar](5) NOT NULL,
	[Id_Cartera_VR] [numeric](9, 0) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_CARTERA_PRODUCTO_VOLCKER_RULE] ADD  DEFAULT ('') FOR [Id_Sistema]
GO
ALTER TABLE [dbo].[TBL_CARTERA_PRODUCTO_VOLCKER_RULE] ADD  DEFAULT ('') FOR [Id_Producto]
GO
ALTER TABLE [dbo].[TBL_CARTERA_PRODUCTO_VOLCKER_RULE] ADD  DEFAULT ((0)) FOR [Id_Cartera_VR]
GO
