USE [BacParamSuda]
GO
/****** Object:  Table [dbo].[AREA_PRODUCTO]    Script Date: 13-05-2022 10:58:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AREA_PRODUCTO](
	[codigo_area] [varchar](5) NOT NULL,
	[descripcion] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
