USE [BacParamSuda]
GO
/****** Object:  Table [dbo].[SADP_ESTADOALERTAS]    Script Date: 13-05-2022 10:58:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SADP_ESTADOALERTAS](
	[sEstado] [varchar](1) NOT NULL,
	[sDescripcion] [varchar](20) NOT NULL
) ON [PRIMARY]
GO
