USE [BacParamSuda]
GO
/****** Object:  Table [dbo].[TBL_REL_USUARIO_NORMATIVO]    Script Date: 13-05-2022 10:58:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_REL_USUARIO_NORMATIVO](
	[Ucn_Usuario] [char](15) NOT NULL,
	[Ucn_Sistema] [char](5) NOT NULL,
	[Ucn_Producto] [char](5) NOT NULL,
	[Ucn_Codigo_Lib] [char](10) NOT NULL,
	[Ucn_Codigo_CartN] [char](10) NOT NULL,
	[Ucn_Codigo_SubCartN] [char](10) NOT NULL,
	[Ucn_Default] [char](1) NOT NULL,
 CONSTRAINT [PK_TBL_REL_USUARIO_NORMATIVO] PRIMARY KEY NONCLUSTERED 
(
	[Ucn_Usuario] ASC,
	[Ucn_Sistema] ASC,
	[Ucn_Producto] ASC,
	[Ucn_Codigo_Lib] ASC,
	[Ucn_Codigo_CartN] ASC,
	[Ucn_Codigo_SubCartN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_REL_USUARIO_NORMATIVO] ADD  CONSTRAINT [TBL_RUCN_USUARIO]  DEFAULT ('') FOR [Ucn_Usuario]
GO
ALTER TABLE [dbo].[TBL_REL_USUARIO_NORMATIVO] ADD  CONSTRAINT [TBL_RUCN_SISTEMA]  DEFAULT ('') FOR [Ucn_Sistema]
GO
ALTER TABLE [dbo].[TBL_REL_USUARIO_NORMATIVO] ADD  CONSTRAINT [TBL_RUCN_PRODUCTO]  DEFAULT ('') FOR [Ucn_Producto]
GO
ALTER TABLE [dbo].[TBL_REL_USUARIO_NORMATIVO] ADD  CONSTRAINT [TBL_RUCN_CODLIB]  DEFAULT ('') FOR [Ucn_Codigo_Lib]
GO
ALTER TABLE [dbo].[TBL_REL_USUARIO_NORMATIVO] ADD  CONSTRAINT [TBL_RUCN_CODCARTN]  DEFAULT ('') FOR [Ucn_Codigo_CartN]
GO
ALTER TABLE [dbo].[TBL_REL_USUARIO_NORMATIVO] ADD  CONSTRAINT [TBL_RUCN_CODSUBCARTN]  DEFAULT ('') FOR [Ucn_Codigo_SubCartN]
GO
ALTER TABLE [dbo].[TBL_REL_USUARIO_NORMATIVO] ADD  CONSTRAINT [TBL_RUCN_DEFAULT]  DEFAULT ('') FOR [Ucn_Default]
GO
