USE [BacParamSuda]
GO
/****** Object:  Table [dbo].[GENERA_FOLIOS]    Script Date: 13-05-2022 10:58:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GENERA_FOLIOS](
	[codigo] [char](10) NOT NULL,
	[folio] [numeric](10, 0) NOT NULL
) ON [PRIMARY]
GO
