USE [BacParamSuda]
GO
/****** Object:  Table [dbo].[Parametros_ControlPreciosTasas]    Script Date: 13-05-2022 10:58:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parametros_ControlPreciosTasas](
	[codModulo] [char](3) NOT NULL,
	[ModoOperacion] [char](1) NOT NULL
) ON [PRIMARY]
GO
