USE [BacParamSuda]
GO
/****** Object:  Table [dbo].[DETALLE_MENU]    Script Date: 13-05-2022 10:58:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_MENU](
	[Modulo] [char](3) NOT NULL,
	[Opcion] [char](30) NOT NULL,
	[Nombre] [char](150) NOT NULL,
	[Descripcion] [varchar](255) NOT NULL,
 CONSTRAINT [Pk_DETALLE_MENU] PRIMARY KEY NONCLUSTERED 
(
	[Modulo] ASC,
	[Opcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DETALLE_MENU] ADD  CONSTRAINT [df_DETALLE_MENU_Modulo]  DEFAULT ('') FOR [Modulo]
GO
ALTER TABLE [dbo].[DETALLE_MENU] ADD  CONSTRAINT [df_DETALLE_MENU_Opcion]  DEFAULT ('') FOR [Opcion]
GO
ALTER TABLE [dbo].[DETALLE_MENU] ADD  CONSTRAINT [df_DETALLE_MENU_Nombre]  DEFAULT ('') FOR [Nombre]
GO
ALTER TABLE [dbo].[DETALLE_MENU] ADD  CONSTRAINT [df_DETALLE_MENU_Descripcion]  DEFAULT ('') FOR [Descripcion]
GO
