USE [BacParamSuda]
GO
/****** Object:  Table [dbo].[TBL_REG_MODIFICACIONES]    Script Date: 13-05-2022 10:58:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_REG_MODIFICACIONES](
	[FechaModificacion] [datetime] NOT NULL,
	[HoraModificacion] [varchar](8) NOT NULL,
	[Modulo] [char](3) NOT NULL,
	[FolioContrato] [numeric](10, 0) NOT NULL,
	[FolioModificacion] [numeric](10, 0) NOT NULL,
	[Correlativo] [numeric](9, 0) NOT NULL,
	[Item] [varchar](50) NOT NULL,
	[DatosOriginales] [varchar](255) NULL,
	[DatosNuevos] [varchar](255) NULL,
 CONSTRAINT [Pk_TBL_REG_MODIFICACIONES] PRIMARY KEY CLUSTERED 
(
	[FechaModificacion] ASC,
	[Modulo] ASC,
	[FolioContrato] ASC,
	[FolioModificacion] ASC,
	[Correlativo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_REG_MODIFICACIONES] ADD  CONSTRAINT [df_TBL_REG_MODIFICACIONES_FechaModificacion]  DEFAULT ('') FOR [FechaModificacion]
GO
ALTER TABLE [dbo].[TBL_REG_MODIFICACIONES] ADD  CONSTRAINT [df_TBL_REG_MODIFICACIONES_HoraModificacion]  DEFAULT ('') FOR [HoraModificacion]
GO
ALTER TABLE [dbo].[TBL_REG_MODIFICACIONES] ADD  CONSTRAINT [df_TBL_REG_MODIFICACIONES_Modulo]  DEFAULT ('') FOR [Modulo]
GO
ALTER TABLE [dbo].[TBL_REG_MODIFICACIONES] ADD  CONSTRAINT [df_TBL_REG_MODIFICACIONES_FolioContrato]  DEFAULT ((0)) FOR [FolioContrato]
GO
ALTER TABLE [dbo].[TBL_REG_MODIFICACIONES] ADD  CONSTRAINT [df_TBL_REG_MODIFICACIONES_FolioModificacion]  DEFAULT ((0)) FOR [FolioModificacion]
GO
ALTER TABLE [dbo].[TBL_REG_MODIFICACIONES] ADD  CONSTRAINT [df_TBL_REG_MODIFICACIONES_Correlativo]  DEFAULT ((0)) FOR [Correlativo]
GO
ALTER TABLE [dbo].[TBL_REG_MODIFICACIONES] ADD  CONSTRAINT [df_TBL_REG_MODIFICACIONES_Items]  DEFAULT ('') FOR [Item]
GO
ALTER TABLE [dbo].[TBL_REG_MODIFICACIONES] ADD  CONSTRAINT [df_TBL_REG_MODIFICACIONES_DatosOriginales]  DEFAULT ('') FOR [DatosOriginales]
GO
ALTER TABLE [dbo].[TBL_REG_MODIFICACIONES] ADD  CONSTRAINT [df_TBL_REG_MODIFICACIONES_DatosNuevos]  DEFAULT ('') FOR [DatosNuevos]
GO
