USE [Bacfwdsuda]
GO
/****** Object:  View [dbo].[view_perfil_cnt]    Script Date: 13-05-2022 10:34:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE VIEW [dbo].[view_perfil_cnt]
AS
SELECT * FROM BACPARAMSUDA..PERFIL_CNT

GO
