USE [Bacfwdsuda]
GO
/****** Object:  View [dbo].[VIEW_MARGEN_INVERSION_GLOBAL]    Script Date: 13-05-2022 10:34:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE VIEW [dbo].[VIEW_MARGEN_INVERSION_GLOBAL]
AS 
SELECT * FROM bacparamsuda..MARGEN_INVERSION_GLOBAL

GO
