USE [Bacfwdsuda]
GO
/****** Object:  View [dbo].[VIEW_MATRIZ_ATRIBUCION_INSTRUMENTO]    Script Date: 13-05-2022 10:34:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE VIEW [dbo].[VIEW_MATRIZ_ATRIBUCION_INSTRUMENTO]
AS 
select * from bacparamsuda..MATRIZ_ATRIBUCION_INSTRUMENTO

GO
