USE [Bacfwdsuda]
GO
/****** Object:  View [dbo].[VIEW_LINEA_AFILIADO]    Script Date: 13-05-2022 10:34:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE VIEW [dbo].[VIEW_LINEA_AFILIADO]
AS 
select * from bacparamsuda..LINEA_AFILIADO

GO
