USE [Bacfwdsuda]
GO
/****** Object:  View [dbo].[View_Ipc_Uf_Proyectada]    Script Date: 13-05-2022 10:34:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE VIEW [dbo].[View_Ipc_Uf_Proyectada]
AS 
SELECT * FROM BACPARAMSUDA..IPC_UF_PROYECTADA

GO
