USE [Bacfwdsuda]
GO
/****** Object:  View [dbo].[view_aprobacion_hedge]    Script Date: 13-05-2022 10:34:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE VIEW [dbo].[view_aprobacion_hedge]
AS
SELECT * FROM bacparamsuda..aprobacion_hedge

GO
