USE [BacParamSuda]
GO
/****** Object:  StoredProcedure [dbo].[SP_POSICIONHORARIA_ELIMINA]    Script Date: 13-05-2022 10:53:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Objeto:  procedimiento  almacenado dbo.Sp_PosicionHoraria_Elimina    fecha de la secuencia de comandos: 03/04/2001 15:18:11 ******/
CREATE PROCEDURE [dbo].[SP_POSICIONHORARIA_ELIMINA]
 --       (@CODIGO_GRUPO  VARCHAR (5))
AS BEGIN
SET NOCOUNT ON
  BEGIN TRANSACTION
  DELETE  FROM POSICION_GRUPO
  IF @@ERROR <> 0 BEGIN
   ROLLBACK TRANSACTION
   RETURN SELECT 'ERROR'
   
  END
  COMMIT TRANSACTION
   --WHERE @CODIGO_GRUPO= CODIGO_GRUPO
--  SELECT 'ELIMINADO EL CODIGO ' + @CODIGO_GRUPO
SET NOCOUNT OFF
END

GO
