USE [BacParamSuda]
GO
/****** Object:  StoredProcedure [dbo].[SP_SADP_UPDATE_CONTROL_CONECCION]    Script Date: 13-05-2022 10:53:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SADP_UPDATE_CONTROL_CONECCION]
	(	@iValor		SMALLINT	)
AS
BEGIN
	UPDATE SADP_CONTROL
	SET
		bConeccionListener = @iValor;
END 
GO
