USE [BacParamSuda]
GO
/****** Object:  StoredProcedure [dbo].[SP_BACTRASRECEPLINCRE_AYUDAPRODUCTO]    Script Date: 13-05-2022 10:53:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_BACTRASRECEPLINCRE_AYUDAPRODUCTO] (
	       @CODIGO_PRODUCTO    CHAR(5),
               @ID_SISTEMA   	   CHAR(3))
AS BEGIN
 SET NOCOUNT ON
 SELECT CODIGO_PRODUCTO	,
	DESCRIPCION	,
	ID_SISTEMA 	,
	CONTRA_MONEDA
  FROM PRODUCTO
  WHERE CODIGO_PRODUCTO = @CODIGO_PRODUCTO 
   AND       ID_SISTEMA = @ID_SISTEMA
 SET NOCOUNT OFF
END
GO
