USE [BacBonosExtSuda]
GO
/****** Object:  StoredProcedure [dbo].[SVC_RPT_IND_BAS]    Script Date: 11-05-2022 16:29:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

create procedure [dbo].[SVC_RPT_IND_BAS]  
(	
      @FECPRO		char(8)	
)
							
AS
BEGIN

	DECLARE @MES VARCHAR(20)

	IF DATEPART(MONTH, @FECPRO) = 1 BEGIN SELECT @MES = 'ENERO' END

	IF DATEPART(MONTH, @FECPRO) = 2 BEGIN SELECT @MES = 'FEBRERO'END

	IF DATEPART(MONTH, @FECPRO) = 3 BEGIN SELECT @MES = 'MARZO'END

	IF DATEPART(MONTH, @FECPRO) = 4 BEGIN SELECT @MES = 'ABRIL'END

	IF DATEPART(MONTH, @FECPRO) = 5 BEGIN SELECT @MES = 'MAYO'END

	IF DATEPART(MONTH, @FECPRO) = 6 BEGIN SELECT @MES = 'JUNIO'END

	IF DATEPART(MONTH, @FECPRO) = 7 BEGIN SELECT @MES = 'JULIO'END

	IF DATEPART(MONTH, @FECPRO) = 8 BEGIN SELECT @MES = 'AGOSTO'END

	IF DATEPART(MONTH, @FECPRO) = 9 BEGIN SELECT @MES = 'SEPTIEMBRE'END

	IF DATEPART(MONTH, @FECPRO) = 10 BEGIN SELECT @MES = 'OCTUBRE'END

	IF DATEPART(MONTH, @FECPRO) = 11 BEGIN SELECT @MES = 'NOVIEMBRE'END

	IF DATEPART(MONTH, @FECPRO) = 12 BEGIN SELECT @MES = 'DICIEMBRE'END


	CREATE TABLE #TEMP_BASILEA (	
			INSTRUMENTO	CHAR(35)	NOT NULL DEFAULT ' '	,
			FECVCTO		DATETIME	NOT NULL DEFAULT ' '	,
			MONEDA		NUMERIC(3)	NOT NULL DEFAULT 0	,
			GLOSA_MON	CHAR(4)		NOT NULL DEFAULT ' '	,
			CAP_MON_ORI	NUMERIC(19,4)	NOT NULL DEFAULT 0	,
			INT_MON_ORI	NUMERIC(19,4)	NOT NULL DEFAULT 0	,
			VAL_PRE_MON_ORI NUMERIC(19,4)	NOT NULL DEFAULT 0	,
			TIP_CAM_CIE	NUMERIC(19,4)	NOT NULL DEFAULT 0	,
			BASILEA		NUMERIC(1)	NOT NULL DEFAULT 0	,
			GLOSA_BASILEA	CHAR (50)	NOT NULL DEFAULT ' '	,
			FEC_IMP		DATETIME	NOT NULL DEFAULT ' '	,
			FEC_PRO		DATETIME	NOT NULL DEFAULT ' '	,
			TITULO		CHAR(70)	NOT NULL DEFAULT ' '	,
			SW		NUMERIC(1)	NOT NULL DEFAULT 0	)
	SET NOCOUNT ON


	INSERT INTO #TEMP_BASILEA (
			INSTRUMENTO	,--1
			FECVCTO		,--2
			MONEDA		,--3
			GLOSA_MON	,--4
			CAP_MON_ORI	,--5
			INT_MON_ORI	,--6
			VAL_PRE_MON_ORI ,--7
			TIP_CAM_CIE	,--8
			BASILEA		,--9
			GLOSA_BASILEA	,--10
			FEC_IMP		,--11
			FEC_PRO		,--12
			TITULO		,--13
			SW		)--14
				
	SELECT 	ID_INSTRUM 	,--1
		RSFECVCTO	,--2
		RSMONEMI	,--3
		(SELECT MNNEMO FROM VIEW_moneda WHERE MNCODMON = RSMONEMI ),--4
		RSNOMINAL					,--5
		RSINTERES					,--6
		RSVALCOMU					,--7
		ISNULL((SELECT VMVALOR FROM VIEW_valor_moneda WHERE VMCODIGO = RSMONEMI AND VMFECHA = RSFECPRO),0) ,--8
		BASILEA						,--9
		ISNULL((SELECT TBGLOSA  from VIEW_TABLA_GENERAL_DETALLE where tbCATEG = 1101 AND TBCODIGO1 = BASILEA), ''),--10
		B.ACFECPROC					,--11
		@FECPRO,--12
		('INFORME DE BASILEA DE ' + @MES + ' DEL '+ CONVERT(CHAR(4),DATEPART(YEAR, @FECPRO))) ,--13
		1--14
	FROM 	TEXT_RSU, text_arc_ctl_dri B
	WHERE	DATEPART(MONTH, RSFECPRO ) = DATEPART(MONTH, @FECPRO )
	AND	DATEPART(YEAR, RSFECPRO ) = DATEPART(YEAR, @FECPRO )


	IF NOT EXISTS(SELECT * FROM #TEMP_BASILEA WHERE DATEPART(MONTH, FEC_PRO ) = DATEPART(MONTH, @FECPRO ) AND DATEPART(YEAR, FEC_PRO ) = DATEPART(YEAR, @FECPRO ))	
	BEGIN

	INSERT INTO #TEMP_BASILEA
		SELECT  ' '	,
			' '	,
			0	,
			' '	,
			0	,
			0	,
			0	,
			0	,
			0	,
			' '	,
			' '	,
			' '	,
		('INFORME DE BASILEA DE ' + @MES + ' DEL '+ CONVERT(CHAR(4),DATEPART(YEAR, @FECPRO))) ,
			0	
		SELECT	*
		FROM 	#TEMP_BASILEA
	END
	ELSE
	BEGIN
		SELECT 	*
		FROM 	#TEMP_BASILEA
		ORDER BY	BASILEA 	
	END 

	SET NOCOUNT OFF
END

GO
