USE [MDParPasivo]
GO
/****** Object:  Table [dbo].[TIPO_GRUPO_CARTERA]    Script Date: 16-05-2022 11:12:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_GRUPO_CARTERA](
	[Codigo_Grupo_Cartera] [char](5) NOT NULL,
	[Descripcion] [char](50) NULL
) ON [PRIMARY]
GO
