USE [MDParPasivo]
GO
/****** Object:  Table [dbo].[RELACION_SWAP_STAR]    Script Date: 16-05-2022 11:12:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RELACION_SWAP_STAR](
	[NUMERO_OPERACION_SWAP] [numeric](10, 0) NOT NULL,
	[NUMERO_OPERACION_STAR] [numeric](10, 0) NOT NULL
) ON [PRIMARY]
GO
