USE [MDParPasivo]
GO
/****** Object:  Table [dbo].[ERRORES_LINEAS]    Script Date: 16-05-2022 11:12:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ERRORES_LINEAS](
	[Fecha_proceso] [datetime] NULL,
	[Mensaje] [varchar](255) NULL
) ON [PRIMARY]
GO
