USE [MDParPasivo]
GO
/****** Object:  Table [dbo].[MONEDA_VARIABILIDAD]    Script Date: 16-05-2022 11:12:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONEDA_VARIABILIDAD](
	[Codigo_Variabilidad] [char](3) NOT NULL,
	[Descripcion] [char](50) NOT NULL
) ON [PRIMARY]
GO
