USE [BacParamSuda]
GO
/****** Object:  View [dbo].[VIEW_GEN_CAPTACION]    Script Date: 13-05-2022 10:59:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE VIEW [dbo].[VIEW_GEN_CAPTACION]
AS
	SELECT * FROM BacTraderSuda..GEN_CAPTACION with(nolock)




GO
