USE [BacParamSuda]
GO
/****** Object:  View [dbo].[TBOMADELSUDA]    Script Date: 13-05-2022 10:59:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

create VIEW [dbo].[TBOMADELSUDA]
AS SELECT * FROM BACCAMSUDA..TBOMADELSUDA

GO
