USE [BacTraderSuda]
GO
/****** Object:  Table [dbo].[LCGP_VI]    Script Date: 13-05-2022 12:16:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LCGP_VI](
	[LCGP_OPERACION] [numeric](10, 0) NOT NULL,
	[LCGP_CORRELATIVO] [numeric](10, 0) NOT NULL,
	[LCGP_OPERACION_ORIGINAL] [numeric](10, 0) NOT NULL,
	[LCGP_CORRELATIVO_ORIGINAL] [numeric](10, 0) NOT NULL,
	[LCGP_OPERADOR] [char](15) NOT NULL,
	[LCGP_FECHA] [datetime] NOT NULL
) ON [PRIMARY]
GO
