USE [BacTraderSuda]
GO
/****** Object:  Table [dbo].[ESTADO_DE_ACCION]    Script Date: 13-05-2022 12:16:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO_DE_ACCION](
	[Codigo_Estado_de_Accion] [int] NOT NULL,
	[Descripcion] [char](12) NULL,
 CONSTRAINT [PK_ESTADO_DE_ACCION] PRIMARY KEY NONCLUSTERED 
(
	[Codigo_Estado_de_Accion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
