USE [BacTraderSuda]
GO
/****** Object:  Table [dbo].[MDPD]    Script Date: 13-05-2022 12:16:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MDPD](
	[pdcodmon] [numeric](3, 0) NULL
) ON [PRIMARY]
GO
