USE [BacTraderSuda]
GO
/****** Object:  Table [dbo].[LETRA_HIPOTECARIA_SERIE]    Script Date: 13-05-2022 12:16:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LETRA_HIPOTECARIA_SERIE](
	[letra_serie] [varchar](15) NOT NULL,
	[nemotecnico] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[letra_serie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LETRA_HIPOTECARIA_SERIE] ADD  CONSTRAINT [DF__LETRA_HIP__nemot__51D32586]  DEFAULT ('') FOR [nemotecnico]
GO
