USE [BacTraderSuda]
GO
/****** Object:  Table [dbo].[TBL_ERRORES_RELACION_PAE]    Script Date: 13-05-2022 12:16:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ERRORES_RELACION_PAE](
	[FechaProceso] [datetime] NOT NULL,
	[Modulo] [varchar](3) NOT NULL,
	[NumPrestamo] [numeric](12, 0) NOT NULL,
	[NumDerivado] [numeric](12, 0) NOT NULL,
	[Mensaje] [varchar](1000) NOT NULL,
	[Evento] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_ERRORES_RELACION_PAE] ADD  CONSTRAINT [df_TBL_ERRORES_RELACION_PAE_FechaRelacion]  DEFAULT ('') FOR [FechaProceso]
GO
ALTER TABLE [dbo].[TBL_ERRORES_RELACION_PAE] ADD  CONSTRAINT [df_TBL_ERRORES_RELACION_PAE_Modulo]  DEFAULT ('') FOR [Modulo]
GO
ALTER TABLE [dbo].[TBL_ERRORES_RELACION_PAE] ADD  CONSTRAINT [df_TBL_ERRORES_RELACION_PAE_NumPrestamo]  DEFAULT ((0)) FOR [NumPrestamo]
GO
ALTER TABLE [dbo].[TBL_ERRORES_RELACION_PAE] ADD  CONSTRAINT [df_TBL_ERRORES_RELACION_PAE_NumDerivado]  DEFAULT ((0)) FOR [NumDerivado]
GO
ALTER TABLE [dbo].[TBL_ERRORES_RELACION_PAE] ADD  CONSTRAINT [df_TBL_ERRORES_RELACION_PAE_Mensaje]  DEFAULT ('') FOR [Mensaje]
GO
ALTER TABLE [dbo].[TBL_ERRORES_RELACION_PAE] ADD  CONSTRAINT [df_TBL_ERRORES_RELACION_PAE_Evento]  DEFAULT ('') FOR [Evento]
GO
