USE [BacTraderSuda]
GO
/****** Object:  Table [dbo].[ESTADOS_DCV]    Script Date: 13-05-2022 12:16:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADOS_DCV](
	[Estado] [char](1) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [Pk_EstadoDcv] PRIMARY KEY NONCLUSTERED 
(
	[Estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ESTADOS_DCV] ADD  CONSTRAINT [df_EstadosDcv_Estado]  DEFAULT ('') FOR [Estado]
GO
ALTER TABLE [dbo].[ESTADOS_DCV] ADD  CONSTRAINT [df_EstadosDcv_Descripcion]  DEFAULT ('') FOR [Descripcion]
GO
