USE [BacTraderSuda]
GO
/****** Object:  Table [dbo].[GEN_SISTEMAS]    Script Date: 13-05-2022 12:16:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GEN_SISTEMAS](
	[entidad] [char](3) NULL,
	[sistema] [char](20) NULL
) ON [PRIMARY]
GO
