USE [BacTraderSuda]
GO
/****** Object:  Table [dbo].[mdvp]    Script Date: 13-05-2022 12:16:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mdvp](
	[RUT_CARTERA] [numeric](18, 0) NULL,
	[TIPO_CARTERA] [numeric](18, 0) NULL,
	[CARTERA] [char](3) NULL,
	[NUMDOCU] [numeric](10, 0) NULL,
	[NUMOPER] [numeric](10, 0) NULL,
	[CORRELA] [numeric](3, 0) NULL,
	[INSTSER] [char](10) NULL,
	[FECEMIS] [datetime] NULL,
	[RUTEMIS] [numeric](9, 0) NULL,
	[GENEMIS] [char](5) NULL,
	[MONEMIS] [numeric](3, 0) NULL,
	[TASEMIS] [numeric](8, 4) NULL,
	[BASEEMIS] [numeric](3, 0) NULL,
	[FECVENC] [datetime] NULL,
	[FECPCUP] [datetime] NULL,
	[NOMINAL] [numeric](18, 4) NULL,
	[RUTCLI] [numeric](9, 0) NULL,
	[CODCLI] [numeric](8, 0) NULL,
	[FECCOMP] [datetime] NULL,
	[VALCOMP] [numeric](18, 4) NULL,
	[TIRCOMP] [numeric](8, 4) NULL,
	[BASECOMP] [numeric](3, 0) NULL,
	[VALCOMU] [numeric](18, 4) NULL,
	[TIRVENTA] [numeric](8, 4) NULL,
	[CODIGO] [numeric](5, 0) NULL,
	[INST] [char](6) NULL,
	[NUMCONTRATO] [numeric](8, 0) NULL,
	[TASACONTRATO] [numeric](10, 6) NULL,
	[FECHAPAGO] [datetime] NULL,
	[VALORCONTABLE] [numeric](18, 4) NULL,
	[FECUCUP] [datetime] NULL,
	[VENTAVALOR] [numeric](18, 4) NULL,
	[VENTAFORPAGO] [numeric](3, 0) NULL,
	[VENTAFECPAGO] [datetime] NULL,
	[VENTAFECHAREAL] [datetime] NULL,
	[INTERES] [numeric](18, 4) NULL,
	[REAJUSTE] [numeric](18, 4) NULL,
	[MASCARA] [char](12) NULL,
	[RUTCLICOMP] [numeric](9, 0) NULL,
	[SERIADO] [char](1) NULL,
	[VALMERCADO] [numeric](19, 4) NULL,
	[UTIL_MCDO] [numeric](19, 4) NULL,
	[PER_MCDO] [numeric](19, 4) NULL,
	[INTDEVANNO] [numeric](19, 4) NULL,
	[READEVANNO] [numeric](19, 4) NULL,
	[DIFMCDOANNO] [numeric](19, 4) NULL,
	[INTERESVENTA] [numeric](19, 4) NULL,
	[UTIL_X_VENTA] [numeric](19, 4) NULL,
	[PERD_X_VENTA] [numeric](19, 4) NULL,
	[VALCOMPANNO] [numeric](19, 4) NULL
) ON [PRIMARY]
GO
