USE [BacTraderSuda]
GO
/****** Object:  Table [dbo].[MDDESNUM]    Script Date: 13-05-2022 12:16:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MDDESNUM](
	[glosa] [char](20) NOT NULL,
	[indice] [int] NOT NULL
) ON [PRIMARY]
GO
