USE [BacTraderSuda]
GO
/****** Object:  Table [dbo].[MD_VOLATILIDAD]    Script Date: 13-05-2022 12:16:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MD_VOLATILIDAD](
	[moneda] [numeric](4, 0) NULL,
	[volatilidad] [float] NULL
) ON [PRIMARY]
GO
