USE [BacTraderSuda]
GO
/****** Object:  Table [dbo].[MDPA]    Script Date: 13-05-2022 12:16:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MDPA](
	[parutcart] [numeric](9, 0) NULL,
	[panumoper] [numeric](9, 0) NULL,
	[papapimp] [numeric](3, 0) NULL,
	[paconimp] [numeric](3, 0) NULL
) ON [PRIMARY]
GO
