USE [BacTraderSuda]
GO
/****** Object:  Table [dbo].[MDCL_CTA]    Script Date: 13-05-2022 12:16:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MDCL_CTA](
	[rut] [float] NULL,
	[ctacte] [float] NULL
) ON [PRIMARY]
GO
