USE [BacTraderSuda]
GO
/****** Object:  Table [dbo].[MD_PORC_PFE]    Script Date: 13-05-2022 12:16:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MD_PORC_PFE](
	[plazo_ini] [numeric](5, 0) NULL,
	[plazo_fin] [numeric](5, 0) NULL,
	[porcentaje] [float] NULL
) ON [PRIMARY]
GO
