USE [BacTraderSuda]
GO
/****** Object:  Table [dbo].[MDOP]    Script Date: 13-05-2022 12:16:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MDOP](
	[opcodigo] [int] NULL,
	[opbase] [int] NULL,
	[opcompdias] [int] NULL,
	[opmoneda] [int] NULL,
	[opdesreaj] [char](5) NULL,
	[opfecfl] [int] NULL,
	[opadelfil] [int] NULL
) ON [PRIMARY]
GO
