USE [BacTraderSuda]
GO
/****** Object:  Table [dbo].[MDMP]    Script Date: 13-05-2022 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MDMP](
	[mptipoper] [char](4) NULL,
	[mpmoneda] [numeric](3, 0) NULL
) ON [PRIMARY]
GO
