USE [BacTraderSuda]
GO
/****** Object:  Table [dbo].[Eliminar]    Script Date: 13-05-2022 12:16:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Eliminar](
	[CLRUT] [float] NULL,
	[CLDV] [nvarchar](6) NULL
) ON [PRIMARY]
GO
