USE [BacLineas]
GO
/****** Object:  Table [dbo].[LCRRIEPARMDAPON]    Script Date: 13-05-2022 10:44:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LCRRIEPARMDAPON](
	[codigo_riesgo] [int] NOT NULL,
	[lcrgrumdacod] [char](8) NOT NULL,
	[lcrpla] [float] NOT NULL,
	[lcrpon] [float] NOT NULL,
	[lcrTipoBID_ASK] [varchar](3) NOT NULL,
 CONSTRAINT [PK_LCRRIEPARMDAPON] PRIMARY KEY CLUSTERED 
(
	[codigo_riesgo] ASC,
	[lcrgrumdacod] ASC,
	[lcrpla] ASC,
	[lcrTipoBID_ASK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LCRRIEPARMDAPON] ADD  CONSTRAINT [df_LCRRIEPARMDAPON_codigo_riesgo]  DEFAULT (0) FOR [codigo_riesgo]
GO
ALTER TABLE [dbo].[LCRRIEPARMDAPON] ADD  CONSTRAINT [df_LCRRIEPARMDAPON_lcrgrumdacod]  DEFAULT ('') FOR [lcrgrumdacod]
GO
ALTER TABLE [dbo].[LCRRIEPARMDAPON] ADD  CONSTRAINT [df_LCRRIEPARMDAPON_lcrpla]  DEFAULT (0.0) FOR [lcrpla]
GO
ALTER TABLE [dbo].[LCRRIEPARMDAPON] ADD  CONSTRAINT [df_LCRRIEPARMDAPON_lcrpon]  DEFAULT (0.0) FOR [lcrpon]
GO
ALTER TABLE [dbo].[LCRRIEPARMDAPON] ADD  DEFAULT ('NA') FOR [lcrTipoBID_ASK]
GO
