USE [BacLineas]
GO
/****** Object:  Table [dbo].[ParametrosDboParametrizacion_Fwd_RF_Fmto]    Script Date: 13-05-2022 10:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParametrosDboParametrizacion_Fwd_RF_Fmto](
	[Codigo_Moneda_BAC] [numeric](38, 0) NULL,
	[Curva] [nvarchar](255) NULL
) ON [PRIMARY]
GO
