USE [BacLineas]
GO
/****** Object:  Table [dbo].[MATRIZ_ATRIBUCION_INSTRUMENTO]    Script Date: 13-05-2022 10:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATRIZ_ATRIBUCION_INSTRUMENTO](
	[Usuario] [char](15) NOT NULL,
	[Id_Sistema] [char](3) NOT NULL,
	[Codigo_Producto] [char](5) NOT NULL,
	[Plazo_Desde] [numeric](5, 0) NOT NULL,
	[Plazo_Hasta] [numeric](5, 0) NOT NULL,
	[Monto_Maximo_Operacion] [numeric](19, 4) NOT NULL,
	[Monto_Maximo_Acumulado] [numeric](19, 4) NOT NULL,
	[Acumulado_Diario] [numeric](19, 4) NOT NULL,
 CONSTRAINT [PK_MATRIZ_ATRIBUCION_INSTRUMENTO] PRIMARY KEY NONCLUSTERED 
(
	[Usuario] ASC,
	[Id_Sistema] ASC,
	[Codigo_Producto] ASC,
	[Plazo_Desde] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MATRIZ_ATRIBUCION_INSTRUMENTO] ADD  CONSTRAINT [DF__MATRIZ_AT__Plazo__5A293FBC]  DEFAULT (0) FOR [Plazo_Hasta]
GO
ALTER TABLE [dbo].[MATRIZ_ATRIBUCION_INSTRUMENTO] ADD  CONSTRAINT [DF__MATRIZ_AT__Monto__5B1D63F5]  DEFAULT (0) FOR [Monto_Maximo_Operacion]
GO
ALTER TABLE [dbo].[MATRIZ_ATRIBUCION_INSTRUMENTO] ADD  CONSTRAINT [DF__MATRIZ_AT__Monto__5C11882E]  DEFAULT (0) FOR [Monto_Maximo_Acumulado]
GO
ALTER TABLE [dbo].[MATRIZ_ATRIBUCION_INSTRUMENTO] ADD  CONSTRAINT [DF__MATRIZ_AT__Acumu__5D05AC67]  DEFAULT (0) FOR [Acumulado_Diario]
GO
ALTER TABLE [dbo].[MATRIZ_ATRIBUCION_INSTRUMENTO]  WITH NOCHECK ADD  CONSTRAINT [FK__MATRIZ_ATRIBUCIO__5EEDF4D9] FOREIGN KEY([Id_Sistema], [Codigo_Producto])
REFERENCES [dbo].[PRODUCTO_SISTEMA] ([Id_Sistema], [Codigo_Producto])
GO
ALTER TABLE [dbo].[MATRIZ_ATRIBUCION_INSTRUMENTO] NOCHECK CONSTRAINT [FK__MATRIZ_ATRIBUCIO__5EEDF4D9]
GO
