USE [BacLineas]
GO
/****** Object:  Table [dbo].[TBL_AGRPROD]    Script Date: 13-05-2022 10:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_AGRPROD](
	[Id_Sistema] [char](3) NOT NULL,
	[Id_Grupo] [char](5) NOT NULL,
 CONSTRAINT [Pk_TBL_AGRPROD] PRIMARY KEY CLUSTERED 
(
	[Id_Sistema] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_AGRPROD] ADD  CONSTRAINT [TBL_AGRPROD_Id_Sistema]  DEFAULT ('') FOR [Id_Sistema]
GO
ALTER TABLE [dbo].[TBL_AGRPROD] ADD  CONSTRAINT [TBL_AGRPROD_Id_Grupo]  DEFAULT ('') FOR [Id_Grupo]
GO
