USE [BacLineas]
GO
/****** Object:  Table [dbo].[LCRPondDivisa]    Script Date: 13-05-2022 10:44:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LCRPondDivisa](
	[LCRDivModCod] [char](3) NOT NULL,
	[LCRDivProCod] [char](5) NOT NULL,
	[LCRDivGruMdaCod] [char](8) NOT NULL,
	[LCRDivPla] [float] NOT NULL,
	[LCRDivPon] [float] NOT NULL,
 CONSTRAINT [PK_LCR_POND_TASA] PRIMARY KEY NONCLUSTERED 
(
	[LCRDivModCod] ASC,
	[LCRDivProCod] ASC,
	[LCRDivGruMdaCod] ASC,
	[LCRDivPla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
GO
