USE [BacLineas]
GO
/****** Object:  Table [dbo].[TBL_PLAZOS_LINEAS]    Script Date: 13-05-2022 10:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PLAZOS_LINEAS](
	[Pll_IdSistema] [char](3) NOT NULL,
	[Pll_Moneda] [char](10) NOT NULL,
	[Pll_Codigo] [char](10) NOT NULL,
	[Pll_Desde] [numeric](9, 4) NOT NULL,
	[Pll_Hasta] [numeric](9, 4) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_PLAZOS_LINEAS] ADD  CONSTRAINT [CT_PLL_IDSISTEMA]  DEFAULT ('') FOR [Pll_IdSistema]
GO
ALTER TABLE [dbo].[TBL_PLAZOS_LINEAS] ADD  CONSTRAINT [CT_PLL_MONEDA]  DEFAULT ('') FOR [Pll_Moneda]
GO
ALTER TABLE [dbo].[TBL_PLAZOS_LINEAS] ADD  CONSTRAINT [CT_PLL_CODIGO]  DEFAULT ('') FOR [Pll_Codigo]
GO
ALTER TABLE [dbo].[TBL_PLAZOS_LINEAS] ADD  CONSTRAINT [CT_PLL_DESDE]  DEFAULT (0) FOR [Pll_Desde]
GO
ALTER TABLE [dbo].[TBL_PLAZOS_LINEAS] ADD  CONSTRAINT [CT_PLL_HASTA]  DEFAULT (0) FOR [Pll_Hasta]
GO
