USE [BacLineas]
GO
/****** Object:  Table [dbo].[CCBMapeoMoneda]    Script Date: 13-05-2022 10:44:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCBMapeoMoneda](
	[CCBCodMoneda] [int] NOT NULL,
	[BACCodMoneda] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CCBCodMoneda] ASC,
	[BACCodMoneda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
GO
