USE [BacLineas]
GO
/****** Object:  Table [dbo].[DEBUG_VALORES]    Script Date: 13-05-2022 10:44:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEBUG_VALORES](
	[Variable01] [char](80) NULL,
	[Valor01] [float] NULL,
	[Variable02] [char](80) NULL,
	[Valor02] [float] NULL
) ON [PRIMARY]
GO
