USE [BacLineas]
GO
/****** Object:  Table [dbo].[TBL_FACTOR_PONDERACION_DIVISAS]    Script Date: 13-05-2022 10:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_FACTOR_PONDERACION_DIVISAS](
	[Fpd_Id_Sistema] [char](3) NOT NULL,
	[Fpd_Moneda] [numeric](5, 0) NOT NULL,
	[Fpd_Plazo] [float] NOT NULL,
	[Fpd_Factor] [float] NOT NULL,
 CONSTRAINT [PK_FPL_FACTOR_PONDERACION_DIVISAS] PRIMARY KEY CLUSTERED 
(
	[Fpd_Id_Sistema] ASC,
	[Fpd_Moneda] ASC,
	[Fpd_Plazo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_FACTOR_PONDERACION_DIVISAS] ADD  CONSTRAINT [CT_FPd_ID_SISTEMA]  DEFAULT ('') FOR [Fpd_Id_Sistema]
GO
ALTER TABLE [dbo].[TBL_FACTOR_PONDERACION_DIVISAS] ADD  CONSTRAINT [CT_FPd_MONEDA]  DEFAULT (0) FOR [Fpd_Moneda]
GO
ALTER TABLE [dbo].[TBL_FACTOR_PONDERACION_DIVISAS] ADD  CONSTRAINT [CT_FPd_PLAZOS]  DEFAULT (0) FOR [Fpd_Plazo]
GO
ALTER TABLE [dbo].[TBL_FACTOR_PONDERACION_DIVISAS] ADD  CONSTRAINT [CT_FPd_FACTOR]  DEFAULT (0) FOR [Fpd_Factor]
GO
