USE [MDParPasivo]
GO
/****** Object:  StoredProcedure [dbo].[SP_ELI_INT_LINEAS]    Script Date: 16-05-2022 11:09:33 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[SP_ELI_INT_LINEAS]
AS
BEGIN
 SET NOCOUNT ON
 BEGIN TRANSACTION

  DELETE FROM CARTERA_LINEAS_STAR
  
  IF @@ERROR <> 0
  BEGIN
   ROLLBACK TRANSACTION
   RETURN
  END

 COMMIT TRANSACTION
 SET NOCOUNT OFF
 
END 

GO
