USE [MDParPasivo]
GO
/****** Object:  StoredProcedure [dbo].[SP_ELI_ENDEUDAMIENTO]    Script Date: 16-05-2022 11:09:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROC [dbo].[SP_ELI_ENDEUDAMIENTO]
AS
BEGIN

   SET DATEFORMAT dmy

      DELETE LINEA_ENDEUDAMIENTO_BANCO     
      SELECT 'SI'

END




GO
