USE [MDParPasivo]
GO
/****** Object:  StoredProcedure [dbo].[Sp_MDRCEliminaGrpCar]    Script Date: 16-05-2022 11:09:34 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[Sp_MDRCEliminaGrpCar]
AS
BEGIN      
SET NOCOUNT ON 
SET DATEFORMAT dmy
   DELETE FROM TIPO_GRUPO_CARTERA
SET NOCOUNT OFF
SELECT 0
END


GO
