USE [CbMdbOpc]
GO
/****** Object:  Table [dbo].[CaDetContrato_MIGRA_20201016]    Script Date: 16-05-2022 10:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaDetContrato_MIGRA_20201016](
	[CaNumContrato] [numeric](8, 0) NOT NULL,
	[CaNumEstructura] [numeric](6, 0) NOT NULL,
	[CaVinculacion] [varchar](15) NULL,
	[CaTipoOpc] [varchar](1) NULL,
	[CaSubyacente] [varchar](5) NULL,
	[CaTipoPayOff] [varchar](2) NULL,
	[CaCallPut] [varchar](5) NULL,
	[CaCVOpc] [varchar](3) NULL,
	[CaTipoEmisionPT] [varchar](3) NULL,
	[CaFechaInicioOpc] [datetime] NULL,
	[CaFechaFijacion] [datetime] NULL,
	[CaFechaVcto] [datetime] NULL,
	[CaFormaPagoMon1] [numeric](3, 0) NULL,
	[CaFechaPagMon1] [datetime] NULL,
	[CaFormaPagoMon2] [numeric](3, 0) NULL,
	[CaFechaPagMon2] [datetime] NULL,
	[CaFechaPagoEjer] [datetime] NULL,
	[CaCodMon1] [numeric](5, 0) NULL,
	[CaMontoMon1] [numeric](21, 6) NULL,
	[CaCodMon2] [numeric](5, 0) NULL,
	[CaMontoMon2] [numeric](21, 6) NULL,
	[CaModalidad] [varchar](1) NULL,
	[CaMdaCompensacion] [numeric](5, 0) NULL,
	[CaBenchComp] [numeric](5, 0) NULL,
	[CaParStrike] [varchar](7) NULL,
	[CaStrike] [float] NULL,
	[CaPorcStrike] [numeric](15, 7) NULL,
	[CaTipoEjercicio] [varchar](2) NULL,
	[CaCurveMon1] [varchar](20) NULL,
	[CaCurveMon2] [varchar](20) NULL,
	[CaCurveSmile] [varchar](20) NULL,
	[CaWf_mon1] [float] NULL,
	[CaWf_mon2] [float] NULL,
	[CaVol] [float] NULL,
	[CaFwd_teo] [float] NULL,
	[CaDelta_spot] [float] NULL,
	[CaDelta_spot_num] [float] NULL,
	[CaDelta_fwd] [float] NULL,
	[CaDelta_fwd_num] [float] NULL,
	[CaGamma_spot] [float] NULL,
	[CaGamma_spot_num] [float] NULL,
	[CaGamma_fwd] [float] NULL,
	[CaGamma_fwd_num] [float] NULL,
	[CaVega] [float] NULL,
	[CaVega_num] [float] NULL,
	[CaVanna_spot] [float] NULL,
	[CaVanna_spot_num] [float] NULL,
	[CaVanna_fwd] [float] NULL,
	[CaVanna_fwd_num] [float] NULL,
	[CaVolga] [float] NULL,
	[CaVolga_num] [float] NULL,
	[CaTheta] [float] NULL,
	[CaTheta_num] [float] NULL,
	[CaRho] [float] NULL,
	[CaRho_num] [float] NULL,
	[CaRhof] [float] NULL,
	[CaRhof_num] [float] NULL,
	[CaCharm_spot] [float] NULL,
	[CaCharm_spot_num] [float] NULL,
	[CaCharm_fwd] [float] NULL,
	[CaCharm_fwd_num] [float] NULL,
	[CaZomma_spot] [float] NULL,
	[CaZomma_spot_num] [float] NULL,
	[CaZomma_fwd] [float] NULL,
	[CaZomma_fwd_num] [float] NULL,
	[CaSpeed_spot] [float] NULL,
	[CaSpeed_spot_num] [float] NULL,
	[CaSpeed_fwd] [float] NULL,
	[CaSpeed_fwd_num] [float] NULL,
	[CaVrDet] [float] NULL,
	[CaSpotDet] [float] NULL,
	[CaSpotDetCosto] [float] NULL,
	[CaWf_Mon1_Costo] [float] NULL,
	[CaWf_Mon2_Costo] [float] NULL,
	[CaVol_Costo] [float] NULL,
	[CaFwd_Teo_Costo] [float] NULL,
	[CaVr_CostoDet] [float] NULL,
	[CaPrimaBSSpotDet] [float] NULL,
	[CaIteAsoSis] [varchar](3) NULL,
	[CaIteAsoCon] [numeric](8, 0) NULL,
	[CaFormaPagoComp] [numeric](3, 0) NULL,
	[CaVrDetML] [numeric](21, 4) NULL,
	[CaPrimaInicialDet] [float] NULL,
	[CaWf_ML] [float] NULL,
	[CaPrimaInicialDetML] [numeric](21, 4) NULL
) ON [PRIMARY]
GO
