USE [CbMdbOpc]
GO
/****** Object:  Table [dbo].[CntError]    Script Date: 16-05-2022 10:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CntError](
	[Mensaje] [varchar](250) NOT NULL
) ON [PRIMARY]
GO
