USE [CbMdbOpc]
GO
/****** Object:  Table [dbo].[OpcionTipo]    Script Date: 16-05-2022 10:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OpcionTipo](
	[OpcTipCod] [char](1) NOT NULL,
	[OpcTipDsc] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OpcTipCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
GO
