USE [CbMdbOpc]
GO
/****** Object:  Table [dbo].[CaEncContrato_20130618]    Script Date: 16-05-2022 10:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaEncContrato_20130618](
	[CaNumFolio] [numeric](8, 0) NULL,
	[CaTipoTransaccion] [varchar](10) NULL,
	[CaNumContrato] [numeric](8, 0) NOT NULL,
	[CaFechaContrato] [datetime] NOT NULL,
	[CaEstado] [varchar](1) NOT NULL,
	[CaCarteraFinanciera] [varchar](6) NOT NULL,
	[CaLibro] [varchar](6) NOT NULL,
	[CaCarNormativa] [varchar](6) NOT NULL,
	[CaSubCarNormativa] [varchar](6) NOT NULL,
	[CaRutCliente] [numeric](9, 0) NOT NULL,
	[CaCodigo] [numeric](9, 0) NOT NULL,
	[CaTipoContrapartida] [varchar](8) NOT NULL,
	[CaOperador] [varchar](15) NOT NULL,
	[CaCodEstructura] [varchar](10) NOT NULL,
	[CaCVEstructura] [varchar](1) NOT NULL,
	[CaSistema] [varchar](3) NOT NULL,
	[CaMonPrimaTrf] [numeric](5, 0) NOT NULL,
	[CaPrimaTrf] [float] NOT NULL,
	[CaPrimaTrfML] [float] NOT NULL,
	[CaMonPrimaCosto] [numeric](5, 0) NOT NULL,
	[CaPrimaCosto] [float] NOT NULL,
	[CaPrimaCostoML] [float] NOT NULL,
	[CaCodMonPagPrima] [numeric](5, 0) NOT NULL,
	[CaPrimaInicial] [float] NOT NULL,
	[CafPagoPrima] [numeric](3, 0) NOT NULL,
	[CaMonCarryPrima] [numeric](5, 0) NOT NULL,
	[CaCarryPrima] [float] NOT NULL,
	[CaParM2Spot] [float] NOT NULL,
	[CaParMdaPrima] [float] NOT NULL,
	[CaFechaPagoPrima] [datetime] NOT NULL,
	[CaFecValorizacion] [datetime] NOT NULL,
	[CaMon_vr] [numeric](5, 0) NOT NULL,
	[CaVr] [float] NOT NULL,
	[CaMondelta] [numeric](5, 0) NOT NULL,
	[CaMon_gamma] [numeric](5, 0) NOT NULL,
	[CaMon_vega] [numeric](5, 0) NOT NULL,
	[CaMon_vanna] [numeric](5, 0) NOT NULL,
	[CaMon_volga] [numeric](5, 0) NOT NULL,
	[CaMon_theta] [numeric](5, 0) NOT NULL,
	[CaMon_rho] [numeric](5, 0) NOT NULL,
	[CaMon_rhof] [numeric](5, 0) NOT NULL,
	[CaMon_charm] [numeric](5, 0) NOT NULL,
	[CaMon_zomma] [numeric](5, 0) NOT NULL,
	[CaMon_speed] [numeric](5, 0) NOT NULL,
	[CaPrimaBSSpotCont] [float] NOT NULL,
	[CaDeltaSpotCont] [float] NOT NULL,
	[CaDeltaForwardCont] [float] NOT NULL,
	[CaGammaSpotCont] [float] NOT NULL,
	[CaVegaCont] [float] NOT NULL,
	[CaVannaSpotCont] [float] NOT NULL,
	[CaVolgaCont] [float] NOT NULL,
	[CaThetaCont] [float] NOT NULL,
	[CaRhoDomCont] [float] NOT NULL,
	[CaRhoForCont] [float] NOT NULL,
	[CaCharmSpotCont] [float] NOT NULL,
	[CaZommaSpotCont] [float] NOT NULL,
	[CaSpeedSpotCont] [float] NOT NULL,
	[CaFechaUnwind] [datetime] NOT NULL,
	[CaNominalUnwind] [numeric](21, 4) NOT NULL,
	[CaUnwindMon] [numeric](5, 0) NOT NULL,
	[CaUnwind] [numeric](21, 4) NOT NULL,
	[CaUnwindML] [numeric](21, 4) NOT NULL,
	[CaFormPagoUnwind] [numeric](3, 0) NOT NULL,
	[CaUnwindTransfMon] [numeric](5, 0) NOT NULL,
	[CaUnwindTransf] [numeric](21, 4) NOT NULL,
	[CaUnwindTransfML] [numeric](21, 4) NOT NULL,
	[CaVr_Costo] [float] NOT NULL,
	[CaGlosa] [varchar](80) NOT NULL,
	[CaUnwindCostoMon] [numeric](5, 0) NOT NULL,
	[CaUnwindCosto] [numeric](21, 4) NOT NULL,
	[CaUnwindCostoML] [numeric](21, 4) NOT NULL,
	[CaGammaFwdCont] [float] NOT NULL,
	[CaVannaFwdCont] [float] NOT NULL,
	[CaCharmFwdCont] [float] NOT NULL,
	[CaZommaFwdCont] [float] NOT NULL,
	[CaSpeedFwdCont] [float] NOT NULL,
	[CaImpreso] [varchar](1) NOT NULL,
	[CaPrimaInicialML] [numeric](21, 4) NOT NULL,
	[CaFechaCreacionRegistro] [datetime] NOT NULL,
	[CaResultadoVentasML] [numeric](21, 4) NULL,
	[CaRelacionaPAE] [numeric](1, 0) NOT NULL
) ON [PRIMARY]
GO
