USE [BacSwapSuda]
GO
/****** Object:  Table [dbo].[CARTERARES]    Script Date: 13-05-2022 11:14:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARTERARES](
	[Fecha_Proceso] [datetime] NULL,
	[numero_operacion] [numeric](7, 0) NOT NULL,
	[numero_flujo] [numeric](3, 0) NOT NULL,
	[tipo_flujo] [numeric](1, 0) NOT NULL,
	[tipo_swap] [numeric](1, 0) NOT NULL,
	[cartera_inversion] [numeric](2, 0) NOT NULL,
	[tipo_operacion] [char](1) NOT NULL,
	[codigo_cliente] [numeric](9, 0) NOT NULL,
	[rut_cliente] [numeric](9, 0) NOT NULL,
	[fecha_cierre] [datetime] NOT NULL,
	[fecha_inicio] [datetime] NOT NULL,
	[fecha_termino] [datetime] NOT NULL,
	[fecha_inicio_flujo] [datetime] NOT NULL,
	[fecha_vence_flujo] [datetime] NOT NULL,
	[fecha_fijacion_tasa] [datetime] NOT NULL,
	[compra_moneda] [numeric](3, 0) NOT NULL,
	[compra_capital] [numeric](19, 4) NOT NULL,
	[compra_amortiza] [numeric](19, 4) NOT NULL,
	[compra_saldo] [numeric](19, 4) NOT NULL,
	[compra_interes] [numeric](19, 4) NOT NULL,
	[compra_spread] [numeric](10, 6) NOT NULL,
	[compra_codigo_tasa] [numeric](3, 0) NOT NULL,
	[compra_valor_tasa] [numeric](10, 6) NOT NULL,
	[compra_valor_tasa_hoy] [numeric](10, 6) NOT NULL,
	[compra_codamo_capital] [numeric](3, 0) NOT NULL,
	[compra_mesamo_capital] [numeric](3, 0) NOT NULL,
	[compra_codamo_interes] [numeric](3, 0) NOT NULL,
	[compra_mesamo_interes] [numeric](3, 0) NOT NULL,
	[compra_base] [numeric](3, 0) NOT NULL,
	[venta_moneda] [numeric](3, 0) NOT NULL,
	[venta_capital] [numeric](19, 4) NOT NULL,
	[venta_amortiza] [numeric](19, 4) NOT NULL,
	[venta_saldo] [numeric](19, 4) NOT NULL,
	[venta_interes] [numeric](19, 4) NOT NULL,
	[venta_spread] [numeric](10, 6) NOT NULL,
	[venta_codigo_tasa] [numeric](3, 0) NOT NULL,
	[venta_valor_tasa] [numeric](10, 6) NOT NULL,
	[venta_valor_tasa_hoy] [numeric](10, 6) NOT NULL,
	[venta_codamo_capital] [numeric](3, 0) NOT NULL,
	[venta_mesamo_capital] [numeric](3, 0) NOT NULL,
	[venta_codamo_interes] [numeric](3, 0) NOT NULL,
	[venta_mesamo_interes] [numeric](3, 0) NOT NULL,
	[venta_base] [numeric](3, 0) NOT NULL,
	[operador] [char](10) NOT NULL,
	[operador_cliente] [numeric](10, 0) NOT NULL,
	[estado_flujo] [numeric](1, 0) NOT NULL,
	[modalidad_pago] [char](1) NOT NULL,
	[pagamos_moneda] [numeric](3, 0) NOT NULL,
	[pagamos_documento] [numeric](3, 0) NOT NULL,
	[pagamos_monto] [numeric](19, 4) NOT NULL,
	[pagamos_monto_USD] [numeric](19, 4) NOT NULL,
	[pagamos_monto_CLP] [numeric](19, 4) NOT NULL,
	[recibimos_moneda] [numeric](3, 0) NOT NULL,
	[recibimos_documento] [numeric](3, 0) NOT NULL,
	[recibimos_monto] [numeric](19, 4) NOT NULL,
	[recibimos_monto_USD] [numeric](19, 4) NOT NULL,
	[recibimos_monto_CLP] [numeric](19, 4) NOT NULL,
	[observaciones] [char](99) NOT NULL,
	[fecha_modifica] [datetime] NOT NULL,
	[devengo_dias] [numeric](9, 0) NULL,
	[devengo_monto] [numeric](19, 4) NOT NULL,
	[devengo_monto_peso] [numeric](20, 0) NOT NULL,
	[devengo_monto_acum] [numeric](19, 4) NOT NULL,
	[devengo_monto_ayer] [numeric](19, 4) NOT NULL,
	[devengo_compra] [numeric](19, 4) NOT NULL,
	[devengo_compra_acum] [numeric](19, 4) NOT NULL,
	[devengo_compra_acum_peso] [numeric](19, 0) NOT NULL,
	[devengo_compra_ayer] [numeric](19, 4) NOT NULL,
	[devengo_compra_ayer_peso] [numeric](19, 0) NOT NULL,
	[devengo_venta] [numeric](19, 4) NOT NULL,
	[devengo_venta_acum] [numeric](19, 4) NOT NULL,
	[devengo_venta_acum_peso] [numeric](19, 0) NOT NULL,
	[devengo_venta_ayer] [numeric](19, 4) NOT NULL,
	[devengo_venta_ayer_peso] [numeric](19, 0) NOT NULL,
	[fecha_valoriza] [datetime] NOT NULL,
	[compra_zcr] [float] NOT NULL,
	[compra_mercado_tasa] [float] NOT NULL,
	[compra_mercado] [numeric](19, 4) NOT NULL,
	[compra_mercado_usd] [numeric](19, 4) NOT NULL,
	[compra_mercado_clp] [numeric](19, 4) NOT NULL,
	[compra_duration_tasa] [float] NOT NULL,
	[compra_duration_monto] [numeric](19, 4) NOT NULL,
	[compra_duration_monto_usd] [numeric](19, 4) NOT NULL,
	[compra_duration_monto_clp] [numeric](19, 0) NOT NULL,
	[compra_valor_presente] [numeric](19, 4) NOT NULL,
	[venta_zcr] [float] NOT NULL,
	[venta_mercado_tasa] [float] NOT NULL,
	[venta_mercado] [numeric](19, 4) NOT NULL,
	[venta_mercado_usd] [numeric](19, 4) NOT NULL,
	[venta_mercado_clp] [numeric](19, 4) NOT NULL,
	[venta_duration_tasa] [float] NOT NULL,
	[venta_duration_monto] [numeric](19, 4) NOT NULL,
	[venta_duration_monto_usd] [numeric](19, 4) NOT NULL,
	[venta_duration_monto_clp] [numeric](19, 0) NOT NULL,
	[venta_valor_presente] [numeric](19, 4) NOT NULL,
	[monto_mtm] [numeric](19, 4) NOT NULL,
	[monto_mtm_usd] [numeric](19, 4) NOT NULL,
	[monto_mtm_clp] [numeric](19, 4) NOT NULL,
	[compra_valorizada] [numeric](19, 4) NOT NULL,
	[compra_variacion] [numeric](19, 4) NOT NULL,
	[venta_valorizada] [numeric](19, 4) NOT NULL,
	[venta_variacion] [numeric](19, 4) NOT NULL,
	[valorizacion_dia] [numeric](19, 4) NOT NULL,
	[estado] [char](1) NOT NULL,
	[Estado_oper_lineas] [char](1) NOT NULL,
	[Observacion_Lineas] [char](255) NOT NULL,
	[Observacion_Limites] [char](255) NOT NULL,
	[Especial] [numeric](1, 0) NOT NULL,
	[Capital_Pesos_Actual] [numeric](21, 0) NOT NULL,
	[Capital_Pesos_Ayer] [numeric](21, 0) NOT NULL,
	[Hora] [char](8) NOT NULL,
	[Tasa_Compra_Curva] [numeric](12, 8) NOT NULL,
	[Tasa_Venta_Curva] [numeric](12, 8) NOT NULL,
	[Activo_MO_C08] [numeric](19, 4) NOT NULL,
	[Pasivo_MO_C08] [numeric](19, 4) NOT NULL,
	[Activo_USD_C08] [numeric](19, 4) NOT NULL,
	[Pasivo_USD_C08] [numeric](19, 4) NOT NULL,
	[Activo_CLP_C08] [numeric](19, 0) NOT NULL,
	[Pasivo_CLP_C08] [numeric](19, 0) NOT NULL,
	[Tasa_Compra_CurvaVR] [numeric](12, 8) NOT NULL,
	[Tasa_Venta_CurvaVR] [numeric](12, 8) NOT NULL,
	[Activo_FlujoMO] [numeric](19, 4) NOT NULL,
	[Activo_FlujoUSD] [numeric](19, 4) NOT NULL,
	[Activo_FlujoCLP] [numeric](19, 4) NOT NULL,
	[Pasivo_FlujoMO] [numeric](19, 4) NOT NULL,
	[Pasivo_FlujoUSD] [numeric](19, 4) NOT NULL,
	[Pasivo_FlujoCLP] [numeric](19, 4) NOT NULL,
	[Valor_RazonableMO] [numeric](19, 4) NOT NULL,
	[Valor_RazonableUSD] [numeric](19, 4) NOT NULL,
	[Valor_RazonableCLP] [numeric](19, 4) NOT NULL,
	[Monto_Spread] [float] NOT NULL,
	[Monto_diferido_inicial] [float] NOT NULL,
	[Monto_diferido_diario] [float] NOT NULL,
	[Monto_diferido_acumulado] [float] NOT NULL,
	[TC_MO_Inicial] [float] NOT NULL,
	[Monto_TC_Diario] [float] NOT NULL,
	[Monto_TC_Acumulado] [float] NOT NULL,
	[Monto_Reajuste_Diario] [float] NOT NULL,
	[Monto_Reajuste_Acumulado] [float] NOT NULL,
	[Monto_Valorizacion] [float] NOT NULL,
	[Monto_Capital_TC_ini] [float] NOT NULL,
	[cre_area_responsable] [char](6) NULL,
	[cre_cartera_normativa] [char](6) NULL,
	[cre_subcartera_normativa] [char](6) NULL,
	[cre_libro] [char](6) NULL,
	[DevAntPromCam] [float] NULL,
	[vRazAjustado_Mo] [numeric](21, 4) NOT NULL,
	[vRazAjustado_Mn] [numeric](21, 4) NOT NULL,
	[vRazAjustado_Do] [numeric](21, 4) NOT NULL,
	[vRazActivoAjus_Mo] [numeric](21, 4) NOT NULL,
	[vRazPasivoAjus_Mo] [numeric](21, 4) NOT NULL,
	[vRazActivoAjus_Mn] [numeric](21, 0) NOT NULL,
	[vRazPasivoAjus_Mn] [numeric](21, 0) NOT NULL,
	[vRazActivoAjus_Do] [numeric](21, 4) NOT NULL,
	[vRazPasivoAjus_Do] [numeric](21, 4) NOT NULL,
	[vTasaActivaAjusta] [numeric](21, 4) NOT NULL,
	[vTasaPasivaAjusta] [numeric](21, 4) NOT NULL,
	[vDurMacaulActivo] [float] NOT NULL,
	[vDurMacaulPasivo] [float] NOT NULL,
	[vDurModifiActivo] [float] NOT NULL,
	[vDurModifiPasivo] [float] NOT NULL,
	[vDurConvexActivo] [float] NOT NULL,
	[vDurConvexPasivo] [float] NOT NULL,
	[FeriadoFlujoChile] [int] NOT NULL,
	[FeriadoFlujoEEUU] [int] NOT NULL,
	[FeriadoFlujoEnglan] [int] NOT NULL,
	[FeriadoLiquiChile] [int] NOT NULL,
	[FeriadoLiquiEEUU] [int] NOT NULL,
	[FeriadoLiquiEnglan] [int] NOT NULL,
	[Convencion] [varchar](25) NOT NULL,
	[DiasReset] [int] NOT NULL,
	[FechaEfectiva] [datetime] NOT NULL,
	[PrimerPago] [datetime] NOT NULL,
	[PenultimoPago] [datetime] NOT NULL,
	[Madurez] [datetime] NOT NULL,
	[Note] [varchar](255) NOT NULL,
	[IntercPrinc] [int] NOT NULL,
	[Tikker] [varchar](255) NOT NULL,
	[FechaLiquidacion] [datetime] NOT NULL,
	[FechaReset] [datetime] NOT NULL,
	[CompraTasaProyectada] [float] NOT NULL,
	[VentaTasaProyectada] [float] NOT NULL,
	[estado_sinacofi] [char](50) NULL,
	[fecha_sinacofi] [datetime] NULL,
	[Moneda_Valorizacion] [numeric](5, 0) NULL,
	[Valor_Mercado_Activo_Mda_Val] [numeric](18, 6) NULL,
	[Devengo_Recibido_Mda_Val] [numeric](18, 6) NULL,
	[Valor_Mercado_Pasivo_Mda_Val] [numeric](18, 6) NULL,
	[Devengo_Pagar_Mda_Val] [numeric](18, 6) NULL,
	[Principal_Mda_Val] [numeric](18, 6) NULL,
	[Devengo_Neto_Mda_Val] [numeric](18, 6) NULL,
	[Valor_Mercado_Mda_Val] [numeric](18, 6) NULL,
	[Porcentaje_Margen] [numeric](10, 6) NULL,
	[Monto_Margen] [numeric](18, 6) NULL,
	[Monto_Margen_CLP] [numeric](18, 6) NULL,
	[OrigenCurva] [char](2) NOT NULL,
	[Valor_RazonableMOParPrx] [numeric](19, 4) NOT NULL,
	[Valor_RazonableUSDParPrx] [numeric](19, 4) NOT NULL,
	[Valor_RazonableCLPParPrx] [numeric](19, 4) NOT NULL,
	[ActivoTir] [float] NOT NULL,
	[PasivoTir] [float] NOT NULL,
	[ActivoTirCnv] [float] NOT NULL,
	[PasivoTirCnv] [float] NOT NULL,
	[FxRate] [float] NOT NULL,
	[Compra_amortiza_Prc] [float] NOT NULL,
	[Venta_amortiza_Prc] [float] NOT NULL,
	[Compra_Flujo_Adicional] [float] NOT NULL,
	[Venta_Flujo_Adicional] [float] NOT NULL,
	[FechaValuta] [datetime] NOT NULL,
	[CompraPerResetCod] [numeric](10, 0) NOT NULL,
	[VentaPerResetCod] [numeric](10, 0) NOT NULL,
	[CompraLiqDefault] [char](7) NOT NULL,
	[VentaLiqDefault] [char](7) NOT NULL,
	[CompraResetDefault] [char](7) NOT NULL,
	[VentaResetDefault] [char](7) NOT NULL,
	[Compra_DV01_Forward] [float] NOT NULL,
	[Venta_DV01_Forward] [float] NOT NULL,
	[Compra_DV01_Descuento] [float] NOT NULL,
	[Venta_DV01_Descuento] [float] NOT NULL,
	[Compra_curva_TIR] [varchar](20) NOT NULL,
	[Venta_curva_TIR] [varchar](20) NOT NULL,
	[Compra_Curva_Descont] [varchar](20) NOT NULL,
	[Venta_Curva_Descont] [varchar](20) NOT NULL,
	[Compra_Curva_Forward] [varchar](20) NOT NULL,
	[Venta_Curva_Forward] [varchar](20) NOT NULL,
	[Monto_LCR_Matriz] [numeric](15, 0) NOT NULL,
	[Monto_LCR_Ajuste_AVR] [numeric](15, 0) NOT NULL,
	[Trader_Contraparte] [varchar](60) NOT NULL,
	[Especifica_Negocio] [varchar](60) NOT NULL,
	[Compra_Tasa_Forward_larga] [float] NOT NULL,
	[Compra_Tasa_Forward_corta] [float] NOT NULL,
	[PlazoFlujo] [numeric](10, 0) NOT NULL,
	[PortaFolio] [varchar](80) NOT NULL,
	[Threshold] [char](1) NOT NULL,
	[bEarlyTermination] [bit] NOT NULL,
	[FechaInicio] [datetime] NOT NULL,
	[Periodicidad] [tinyint] NOT NULL,
	[ReferenciaUSDCLP] [int] NULL,
	[ReferenciaMEXUSD] [int] NULL,
	[FechaUSDCLP] [date] NULL,
	[FechaMEXUSD] [date] NULL,
	[InterNocIni] [bit] NOT NULL,
	[InterNocFin] [bit] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT (0) FOR [Monto_Spread]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT (0) FOR [Monto_diferido_inicial]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT (0) FOR [Monto_diferido_diario]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT (0) FOR [Monto_diferido_acumulado]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT (0) FOR [TC_MO_Inicial]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT (0) FOR [Monto_TC_Diario]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT (0) FOR [Monto_TC_Acumulado]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT (0) FOR [Monto_Reajuste_Diario]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT (0) FOR [Monto_Reajuste_Acumulado]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT (0) FOR [Monto_Valorizacion]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT (0) FOR [Monto_Capital_TC_ini]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT ('') FOR [cre_area_responsable]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT ('') FOR [cre_cartera_normativa]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT ('') FOR [cre_subcartera_normativa]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT ('') FOR [cre_libro]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT (0.0) FOR [DevAntPromCam]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  CONSTRAINT [df_carteraRes_vRazAjustado_Mo]  DEFAULT (0.0) FOR [vRazAjustado_Mo]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  CONSTRAINT [df_carteraRes_vRazAjustado_Mn]  DEFAULT (0.0) FOR [vRazAjustado_Mn]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  CONSTRAINT [df_carteraRes_vRazAjustado_Do]  DEFAULT (0.0) FOR [vRazAjustado_Do]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  CONSTRAINT [df_carteraRes_vRazActivoAjus_Mo]  DEFAULT (0.0) FOR [vRazActivoAjus_Mo]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  CONSTRAINT [df_carteraRes_vRazPasivoAjus_Mo]  DEFAULT (0.0) FOR [vRazPasivoAjus_Mo]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  CONSTRAINT [df_carteraRes_vRazActivoAjus_Mn]  DEFAULT (0.0) FOR [vRazActivoAjus_Mn]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  CONSTRAINT [df_carteraRes_vRazPasivoAjus_Mn]  DEFAULT (0.0) FOR [vRazPasivoAjus_Mn]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  CONSTRAINT [df_carteraRes_vRazActivoAjus_Do]  DEFAULT (0.0) FOR [vRazActivoAjus_Do]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  CONSTRAINT [df_carteraRes_vRazPasivoAjus_Do]  DEFAULT (0.0) FOR [vRazPasivoAjus_Do]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  CONSTRAINT [df_carteraRes_vTasaActivaAjusta]  DEFAULT (0.0) FOR [vTasaActivaAjusta]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  CONSTRAINT [df_carteraRes_vTasaPasivaAjusta]  DEFAULT (0.0) FOR [vTasaPasivaAjusta]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  CONSTRAINT [df_carteraRes_vDurMacaulActivo]  DEFAULT (0.0) FOR [vDurMacaulActivo]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  CONSTRAINT [df_carteraRes_vDurMacaulPasivo]  DEFAULT (0.0) FOR [vDurMacaulPasivo]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  CONSTRAINT [df_carteraRes_vDurModifiActivo]  DEFAULT (0.0) FOR [vDurModifiActivo]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  CONSTRAINT [df_carteraRes_vDurModifiPasivo]  DEFAULT (0.0) FOR [vDurModifiPasivo]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  CONSTRAINT [df_carteraRes_vDurConvexActivo]  DEFAULT (0.0) FOR [vDurConvexActivo]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  CONSTRAINT [df_carteraRes_vDurConvexPasivo]  DEFAULT (0.0) FOR [vDurConvexPasivo]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  CONSTRAINT [dfCResFerFluj_Chi]  DEFAULT (0) FOR [FeriadoFlujoChile]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  CONSTRAINT [dfCResFerFluj_Usa]  DEFAULT (0) FOR [FeriadoFlujoEEUU]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  CONSTRAINT [dfCResFerFluj_Eng]  DEFAULT (0) FOR [FeriadoFlujoEnglan]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  CONSTRAINT [dfCResFerLiqu_Chi]  DEFAULT (0) FOR [FeriadoLiquiChile]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  CONSTRAINT [dfCResFerLiqu_Usa]  DEFAULT (0) FOR [FeriadoLiquiEEUU]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  CONSTRAINT [dfCResFerLiqu_Eng]  DEFAULT (0) FOR [FeriadoLiquiEnglan]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  CONSTRAINT [dfCResConvencion]  DEFAULT ('Siguiente Modificado') FOR [Convencion]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  CONSTRAINT [dfCResDiasReset]  DEFAULT (0) FOR [DiasReset]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  CONSTRAINT [dfCResFechaEfectiva]  DEFAULT ('19000101') FOR [FechaEfectiva]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  CONSTRAINT [dfCResPrimerPago]  DEFAULT ('19000101') FOR [PrimerPago]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  CONSTRAINT [dfCResPenultimoPago]  DEFAULT ('19000101') FOR [PenultimoPago]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  CONSTRAINT [dfCResMadurez]  DEFAULT ('19000101') FOR [Madurez]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  CONSTRAINT [dfCResNote]  DEFAULT ('') FOR [Note]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  CONSTRAINT [dfCResIntercPrinc]  DEFAULT (0) FOR [IntercPrinc]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  CONSTRAINT [dfCResTikker]  DEFAULT ('') FOR [Tikker]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  CONSTRAINT [dfCResLiquidacion]  DEFAULT ('') FOR [FechaLiquidacion]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  CONSTRAINT [dfCResReset]  DEFAULT ('') FOR [FechaReset]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  CONSTRAINT [dfCResComTasProy]  DEFAULT (0.0) FOR [CompraTasaProyectada]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  CONSTRAINT [dfCResVenTasProy]  DEFAULT (0.0) FOR [VentaTasaProyectada]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  CONSTRAINT [dfCarRes_OrigenCurva]  DEFAULT ('') FOR [OrigenCurva]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT (0) FOR [Valor_RazonableMOParPrx]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT (0) FOR [Valor_RazonableUSDParPrx]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT (0) FOR [Valor_RazonableCLPParPrx]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT (0.0) FOR [ActivoTir]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT (0.0) FOR [PasivoTir]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT (0.0) FOR [ActivoTirCnv]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT (0.0) FOR [PasivoTirCnv]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT (0.0) FOR [FxRate]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT (0.0) FOR [Compra_amortiza_Prc]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT (0.0) FOR [Venta_amortiza_Prc]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT (0.0) FOR [Compra_Flujo_Adicional]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT (0.0) FOR [Venta_Flujo_Adicional]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT ('19000101') FOR [FechaValuta]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT (0) FOR [CompraPerResetCod]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT (0) FOR [VentaPerResetCod]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT ('') FOR [CompraLiqDefault]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT ('') FOR [VentaLiqDefault]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT ('') FOR [CompraResetDefault]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT ('') FOR [VentaResetDefault]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT (0.0) FOR [Compra_DV01_Forward]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT (0.0) FOR [Venta_DV01_Forward]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT (0.0) FOR [Compra_DV01_Descuento]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT (0.0) FOR [Venta_DV01_Descuento]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT ('') FOR [Compra_curva_TIR]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT ('') FOR [Venta_curva_TIR]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT ('') FOR [Compra_Curva_Descont]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT ('') FOR [Venta_Curva_Descont]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT ('') FOR [Compra_Curva_Forward]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT ('') FOR [Venta_Curva_Forward]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT (0) FOR [Monto_LCR_Matriz]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT (0) FOR [Monto_LCR_Ajuste_AVR]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT ('') FOR [Trader_Contraparte]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT ('') FOR [Especifica_Negocio]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT (0.0) FOR [Compra_Tasa_Forward_larga]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT (0.0) FOR [Compra_Tasa_Forward_corta]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT (0) FOR [PlazoFlujo]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT ('') FOR [PortaFolio]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  CONSTRAINT [df_CARTERARES_Threshold]  DEFAULT ('') FOR [Threshold]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  CONSTRAINT [DF_CARTERARES_bEarlyTermination]  DEFAULT ((0)) FOR [bEarlyTermination]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT ('1900-01-01') FOR [FechaInicio]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  DEFAULT ((0)) FOR [Periodicidad]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  CONSTRAINT [DF_CARTERARES_InterNocIni]  DEFAULT ((0)) FOR [InterNocIni]
GO
ALTER TABLE [dbo].[CARTERARES] ADD  CONSTRAINT [DF_CARTERARES_InterNocFin]  DEFAULT ((0)) FOR [InterNocFin]
GO
