USE [BacSwapSuda]
GO
/****** Object:  Table [dbo].[FLUJOS_VCTOS_SPOT]    Script Date: 13-05-2022 11:14:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FLUJOS_VCTOS_SPOT](
	[FechaProceso] [datetime] NOT NULL,
	[NumeroOperacion] [numeric](7, 0) NOT NULL,
	[TipoOperacion] [char](1) NOT NULL,
	[TipoSwap] [numeric](1, 0) NOT NULL,
	[RutCliente] [numeric](9, 0) NOT NULL,
	[CodCliente] [numeric](9, 0) NOT NULL,
	[Moneda] [numeric](3, 0) NOT NULL,
	[Monto] [float] NOT NULL,
	[MonedaCNV] [numeric](3, 0) NOT NULL,
	[MontoCNV] [float] NOT NULL,
	[TipoCambio] [float] NOT NULL,
	[Paridad] [float] NOT NULL,
	[ForPagEntre] [int] NOT NULL,
	[ForPagRecib] [int] NOT NULL,
	[FechaInicio] [datetime] NOT NULL,
	[FechaVcto] [datetime] NOT NULL,
	[FechaLiq] [datetime] NOT NULL,
	[FechaValuta1] [datetime] NOT NULL,
	[FechaValuta2] [datetime] NOT NULL,
	[Operador] [char](15) NOT NULL,
	[Estado] [int] NOT NULL,
	[EstadoEnvio] [int] NOT NULL,
	[NumOperSpot] [numeric](7, 0) NOT NULL,
	[VentaCodigoTasa] [numeric](3, 0) NOT NULL,
	[CompraCodigoTasa] [numeric](3, 0) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FLUJOS_VCTOS_SPOT] ADD  CONSTRAINT [FLUJOS_VCTOS_SPOT_FechaProceso]  DEFAULT ('') FOR [FechaProceso]
GO
ALTER TABLE [dbo].[FLUJOS_VCTOS_SPOT] ADD  CONSTRAINT [FLUJOS_VCTOS_SPOT_NumeroOperacion]  DEFAULT ((0)) FOR [NumeroOperacion]
GO
ALTER TABLE [dbo].[FLUJOS_VCTOS_SPOT] ADD  CONSTRAINT [FLUJOS_VCTOS_SPOT_TipoOperacion]  DEFAULT ('') FOR [TipoOperacion]
GO
ALTER TABLE [dbo].[FLUJOS_VCTOS_SPOT] ADD  CONSTRAINT [FLUJOS_VCTOS_SPOT_TipoSwap]  DEFAULT ((0)) FOR [TipoSwap]
GO
ALTER TABLE [dbo].[FLUJOS_VCTOS_SPOT] ADD  CONSTRAINT [FLUJOS_VCTOS_SPOT_RutCliente]  DEFAULT ((0)) FOR [RutCliente]
GO
ALTER TABLE [dbo].[FLUJOS_VCTOS_SPOT] ADD  CONSTRAINT [FLUJOS_VCTOS_SPOT_CodCliente]  DEFAULT ((0)) FOR [CodCliente]
GO
ALTER TABLE [dbo].[FLUJOS_VCTOS_SPOT] ADD  CONSTRAINT [FLUJOS_VCTOS_SPOT_Moneda]  DEFAULT ((0)) FOR [Moneda]
GO
ALTER TABLE [dbo].[FLUJOS_VCTOS_SPOT] ADD  CONSTRAINT [FLUJOS_VCTOS_SPOT_Monto]  DEFAULT ((0.0)) FOR [Monto]
GO
ALTER TABLE [dbo].[FLUJOS_VCTOS_SPOT] ADD  CONSTRAINT [FLUJOS_VCTOS_SPOT_MonedaCNV]  DEFAULT ((0)) FOR [MonedaCNV]
GO
ALTER TABLE [dbo].[FLUJOS_VCTOS_SPOT] ADD  CONSTRAINT [FLUJOS_VCTOS_SPOT_MontoCNV]  DEFAULT ((0.0)) FOR [MontoCNV]
GO
ALTER TABLE [dbo].[FLUJOS_VCTOS_SPOT] ADD  CONSTRAINT [FLUJOS_VCTOS_SPOT_TipoCambio]  DEFAULT ((0.0)) FOR [TipoCambio]
GO
ALTER TABLE [dbo].[FLUJOS_VCTOS_SPOT] ADD  CONSTRAINT [FLUJOS_VCTOS_SPOT_Paridad]  DEFAULT ((0.0)) FOR [Paridad]
GO
ALTER TABLE [dbo].[FLUJOS_VCTOS_SPOT] ADD  CONSTRAINT [FLUJOS_VCTOS_SPOT_ForPagEntre]  DEFAULT ((0)) FOR [ForPagEntre]
GO
ALTER TABLE [dbo].[FLUJOS_VCTOS_SPOT] ADD  CONSTRAINT [FLUJOS_VCTOS_SPOT_ForPagRecib]  DEFAULT ((0)) FOR [ForPagRecib]
GO
ALTER TABLE [dbo].[FLUJOS_VCTOS_SPOT] ADD  CONSTRAINT [FLUJOS_VCTOS_SPOT_FechaInicio]  DEFAULT ('') FOR [FechaInicio]
GO
ALTER TABLE [dbo].[FLUJOS_VCTOS_SPOT] ADD  CONSTRAINT [FLUJOS_VCTOS_SPOT_FechaVcto]  DEFAULT ('') FOR [FechaVcto]
GO
ALTER TABLE [dbo].[FLUJOS_VCTOS_SPOT] ADD  CONSTRAINT [FLUJOS_VCTOS_SPOT_FechaLiq]  DEFAULT ('') FOR [FechaLiq]
GO
ALTER TABLE [dbo].[FLUJOS_VCTOS_SPOT] ADD  CONSTRAINT [FLUJOS_VCTOS_SPOT_FechaValuta1]  DEFAULT ('') FOR [FechaValuta1]
GO
ALTER TABLE [dbo].[FLUJOS_VCTOS_SPOT] ADD  CONSTRAINT [FLUJOS_VCTOS_SPOT_FechaValuta2]  DEFAULT ('') FOR [FechaValuta2]
GO
ALTER TABLE [dbo].[FLUJOS_VCTOS_SPOT] ADD  CONSTRAINT [FLUJOS_VCTOS_SPOT_Operador]  DEFAULT ('') FOR [Operador]
GO
ALTER TABLE [dbo].[FLUJOS_VCTOS_SPOT] ADD  CONSTRAINT [FLUJOS_VCTOS_SPOT_Estado]  DEFAULT ((0)) FOR [Estado]
GO
ALTER TABLE [dbo].[FLUJOS_VCTOS_SPOT] ADD  CONSTRAINT [FLUJOS_VCTOS_SPOT_EstadoEnvio]  DEFAULT ((0)) FOR [EstadoEnvio]
GO
ALTER TABLE [dbo].[FLUJOS_VCTOS_SPOT] ADD  CONSTRAINT [FLUJOS_VCTOS_SPOT_NumOperSpot]  DEFAULT ((0)) FOR [NumOperSpot]
GO
ALTER TABLE [dbo].[FLUJOS_VCTOS_SPOT] ADD  CONSTRAINT [FLUJOS_VCTOS_SPOT_VentaCodigoTasa]  DEFAULT ((0)) FOR [VentaCodigoTasa]
GO
ALTER TABLE [dbo].[FLUJOS_VCTOS_SPOT] ADD  CONSTRAINT [FLUJOS_VCTOS_SPOT_CompraCodigoTasa]  DEFAULT ((0)) FOR [CompraCodigoTasa]
GO
