USE [CbMdbOpc]
GO
/****** Object:  View [dbo].[tbl_CaResDetContrato]    Script Date: 16-05-2022 10:16:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
create view [dbo].[tbl_CaResDetContrato]
as
select * from CaResDetContrato
GO
