USE [BacSwapSuda]
GO
/****** Object:  View [dbo].[view_PLAN_DE_CUENTA]    Script Date: 13-05-2022 11:17:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE  VIEW [dbo].[view_PLAN_DE_CUENTA]
AS
SELECT * FROM bacparamsuda..PLAN_DE_CUENTA

GO
