USE [BacSwapSuda]
GO
/****** Object:  View [dbo].[view_LINEA_CHEQUEAR]    Script Date: 13-05-2022 11:17:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
create view [dbo].[view_LINEA_CHEQUEAR]
as
select * from baclineas..LINEA_CHEQUEAR

GO
