USE [BacSwapSuda]
GO
/****** Object:  View [dbo].[view_Periodo_Amortizacion]    Script Date: 13-05-2022 11:17:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE View [dbo].[view_Periodo_Amortizacion]
AS
 SELECT *
 FROM bacparamsuda..PERIODO_AMORTIZACION

GO
