USE [BacSwapSuda]
GO
/****** Object:  View [dbo].[view_canasta]    Script Date: 13-05-2022 11:17:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO




CREATE VIEW [dbo].[view_canasta]
AS SELECT * FROM bacparamsuda..canasta




GO
