USE [BacCamSuda]
GO
/****** Object:  StoredProcedure [dbo].[SP_INTRADAY_ACTUALIZA_DETALLES]    Script Date: 11-05-2022 16:43:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_INTRADAY_ACTUALIZA_DETALLES]
  (
    @NUMOPE NUMERIC(7)
   ,@RECIBIMOS NUMERIC(2)
   ,@ENTREGAMOS NUMERIC(2)
   ,@VALUTAENTRE DATETIME
   ,@VALUTARECIB DATETIME
   ,@CONTABILIZA CHAR(1)
   ,@PRECIO NUMERIC(10,4)
--   ,@UNIDADES 
   ,@OBSERVA VARCHAR(255)
   ,@RETIRO NUMERIC(1)
  )
AS
BEGIN
 UPDATE MEMO
  SET 
   moentre   = @ENTREGAMOS
   ,morecib  = @RECIBIMOS
   ,movaluta1  = @VALUTARECIB
   ,movaluta2  = @VALUTAENTRE
--          FORMA_PAGO_CLI_NAC = @ENTREGAMOS
--   ,FORMA_PAGO_CLI_EXT = @RECIBIMOS
--   ,VALUTA_CLI_NAC  = @VALUTARECIB
--   ,VALUTA_CLI_EXT  = @VALUTAENTRE
   ,contabiliza  = @CONTABILIZA
   ,moticam  = @PRECIO
   ,observacion  = @OBSERVA
   ,movamos  = @RETIRO
           
  WHERE  monumope  = @NUMOPE
END 
GO
