USE [BacCamSuda]
GO
/****** Object:  StoredProcedure [dbo].[SP_INF_FECHA_VALUTA]    Script Date: 11-05-2022 16:43:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_INF_FECHA_VALUTA](
     @usuario CHAR(40)
        )
     
AS
BEGIN
  DECLARE  @acfecproc   char(10),
           @acfecprox   char(10),
           @uf_hoy      float,
           @uf_man      float,
           @ivp_hoy     float,
           @ivp_man     float,
           @do_hoy      float,
           @do_man      float,
           @da_hoy      float,
           @da_man      float,
           @acnomprop   char(40),
           @rut_empresa char(12),
           @hora        char(8),
           @OMA         CHAR(3),
           @Fecha_Proceso DATETIME           
   EXECUTE Sp_Base_Del_Informe
           @acfecproc   OUTPUT,
           @acfecprox   OUTPUT,
           @uf_hoy      OUTPUT,
           @uf_man      OUTPUT,
           @ivp_hoy     OUTPUT,
           @ivp_man     OUTPUT,
           @do_hoy      OUTPUT,
           @do_man      OUTPUT,
           @da_hoy      OUTPUT,
           @da_man      OUTPUT,
           @acnomprop   OUTPUT,
           @rut_empresa OUTPUT,
           @hora        OUTPUT,
           @OMA         OUTPUT
 SET NOCOUNT ON
 SELECT @Fecha_Proceso = acfecpro FROM meac
 SELECT  'Nombre_Cliente' = ISNULL(clnombre,'CLIENTE NO EXISTE'),
  'Moneda'  = mocodmon  ,
  'Moneda_Cnv'  = mocodcnv ,
  'Monto_Mx'  = momonmo ,
  'Monto_USD'  = moussme ,
  'Tipo_Cambio'  = moticam ,
  'Paridad'  = moparme ,
  'Monto_Pesos'  = momonpe ,
  'Recibimos'  = ISNULL(a.glosa,'FORMA PAGO NO EXISTE'),
  'Entregamos'  = ISNULL(b.glosa,'FORMA PAGO NO EXISTE'),
  'Fecha_Valor'  = CASE WHEN motipope = 'C' THEN movaluta1 ELSE movaluta2 END,
  'Tipo_Moneda'  = CASE WHEN mocodcnv = 'CLP' THEN 'L' ELSE 'X' END,
  'Tipo_Operacion' = CASE WHEN motipope = 'C' THEN 'COMPRA' ELSE 'VENTA' END,
  'Tipo_Mercado'  = CASE WHEN motipmer = 'EMPR' THEN 'EMPRESAS' ELSE 'PUNTAS' END,
  'fecha_SERV'         = CONVERT( CHAR(10) , GETDATE(), 103),
  'acfecproc'        =@acfecproc,
  'acfecprox'         =@acfecprox,
  'uf_hoy'        =@uf_hoy,
  'uf_man'        =@uf_man,
  'ivp_hoy'        =@ivp_hoy,
  'ivp_man'        =@ivp_man,
  'do_hoy'        =@do_hoy,
  'do_man'        =@do_man,
  'da_hoy'        =@da_hoy,
  'da_man'        =@da_man,
  'pmnomprop'        =@acnomprop,
  'rut_empresa'        =@rut_empresa,
  'usuario'  =@usuario

  INTO #Fecha_Valuta
  FROM  memo LEFT OUTER JOIN view_forma_de_pago a ON morecib = a.codigo 
   LEFT OUTER JOIN view_forma_de_pago b ON moentre = b.codigo
   LEFT OUTER JOIN view_cliente ON morutcli = clrut
  WHERE motipmer IN ('EMPR','PTAS')
   AND (MOESTATUS = ' ' OR MOESTATUS = 'M')


/*REQ.7619 CASS 06-01-2011

  select * FROM  memo   ,
   view_forma_de_pago a ,
   view_forma_de_pago b ,
   view_cliente
  WHERE morutcli *= clrut
  AND   morecib  *= a.codigo
  AND   moentre  *= b.codigo
  AND   motipmer IN ('EMPR','PTAS')
                AND (MOESTATUS = ' ' OR MOESTATUS = 'M')
*/

 INSERT #Fecha_Valuta
 SELECT 'Nombre_Cliente' = ISNULL(clnombre,'CLIENTE NO EXISTE'),
  'Moneda'  = mocodmon  ,
  'Moneda_Cnv'  = mocodcnv ,
  'Monto_Mx'  = momonmo ,
  'Monto_USD'  = moussme ,
  'Tipo_Cambio'  = moticam ,
  'Paridad'  = moparme ,
  'Monto_Pesos'  = momonpe ,
  'Recibimos'  = ISNULL(a.glosa,'FORMA PAGO NO EXISTE'),
  'Entregamos'  = ISNULL(b.glosa,'FORMA PAGO NO EXISTE'),
  'Fecha_Valor'  = CASE WHEN motipope = 'C' THEN movaluta1 ELSE movaluta2 END,
  'Tipo_Moneda'  = CASE WHEN mocodcnv = 'CLP' THEN 'L' ELSE 'X' END,
  'Tipo_Operacion' = CASE WHEN motipope = 'C' THEN 'COMPRA' ELSE 'VENTA' END,
  'Tipo_Mercado'  = CASE WHEN motipmer = 'EMPR' THEN 'EMPRESAS' ELSE 'PUNTAS' END,
  'fecha_SERV'         = CONVERT( CHAR(10) , GETDATE(), 103),
  'acfecproc'        =@acfecproc,
  'acfecprox'         =@acfecprox,
  'uf_hoy'        =@uf_hoy,
  'uf_man'        =@uf_man,
  'ivp_hoy'        =@ivp_hoy,
  'ivp_man'        =@ivp_man,
  'do_hoy'        =@do_hoy,
  'do_man'        =@do_man,
  'da_hoy'        =@da_hoy,
  'da_man'        =@da_man,
  'pmnomprop'        =@acnomprop,
  'rut_empresa'        =@rut_empresa,
  'usuario'  =@usuario 
  FROM  memoh LEFT OUTER JOIN view_forma_de_pago a ON morecib = a.codigo 
   LEFT OUTER JOIN view_forma_de_pago b ON moentre = b.codigo
   LEFT OUTER JOIN view_cliente ON morutcli = clrut
  WHERE  motipmer IN ('EMPR','PTAS')
  AND   @Fecha_Proceso <= (CASE WHEN motipope = 'C' THEN movaluta1 ELSE movaluta2 END)

/* REQ. 7619 CASS 06-01-2011     
  FROM  memoh   ,
   view_forma_de_pago a ,
   view_forma_de_pago b ,
   view_cliente
  WHERE morutcli *= clrut
  AND   morecib  *= a.codigo
  AND   moentre  *= b.codigo
  AND   motipmer IN ('EMPR','PTAS')
  AND   @Fecha_Proceso <= (CASE WHEN motipope = 'C' THEN movaluta1 ELSE movaluta2 END)
*/

 SET NOCOUNT OFF
 SELECT Nombre_Cliente ,
  Moneda  ,
  Moneda_Cnv ,
  Monto_Mx ,
  Monto_USD ,
  Tipo_Cambio ,
  Paridad  ,
  Monto_Pesos ,
  Recibimos ,
  Entregamos ,
  'Fecha_Valor'= CONVERT(CHAR(10),Fecha_Valor,103) ,
  Tipo_Moneda ,
  Tipo_Operacion ,
  'Fecha_Proceso' = CONVERT(CHAR(10),@Fecha_Proceso,103) ,
  'Hora' = @Hora ,
  Tipo_Mercado,
  'fecha_SERV'    = CONVERT( CHAR(10) , GETDATE(), 103),
  'acfecproc' =@acfecproc,
  'acfecprox'  =@acfecprox,
  'uf_hoy' =@uf_hoy,
  'uf_man' =@uf_man,
  'ivp_hoy' =@ivp_hoy,
  'ivp_man' =@ivp_man,
  'do_hoy' =@do_hoy,
  'do_man' =@do_man,
  'da_hoy' =@da_hoy,
  'da_man' =@da_man,
  'pmnomprop' =@acnomprop,
  'rut_empresa'   =@rut_empresa,
  'usuario' =@usuario
 FROM #Fecha_Valuta
 ORDER BY Nombre_Cliente
END

GO
