USE [BacBonosExtSuda]
GO
/****** Object:  Table [dbo].[BAC_CNT_DETALLE_VOUCHER]    Script Date: 11-05-2022 16:31:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAC_CNT_DETALLE_VOUCHER](
	[Numero_Voucher] [numeric](10, 0) NOT NULL,
	[Correlativo] [numeric](5, 0) NOT NULL,
	[Cuenta] [char](20) NOT NULL,
	[Tipo_Monto] [char](1) NOT NULL,
	[Monto] [float] NOT NULL,
	[MonedaCuenta] [numeric](5, 0) NOT NULL,
	[CtaCorresponsal] [char](10) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BAC_CNT_DETALLE_VOUCHER] ADD  CONSTRAINT [DF__BAC_CNT_D__Numer__1C52FD19]  DEFAULT (0) FOR [Numero_Voucher]
GO
ALTER TABLE [dbo].[BAC_CNT_DETALLE_VOUCHER] ADD  CONSTRAINT [DF__BAC_CNT_D__Corre__1D472152]  DEFAULT (0) FOR [Correlativo]
GO
ALTER TABLE [dbo].[BAC_CNT_DETALLE_VOUCHER] ADD  CONSTRAINT [DF__BAC_CNT_D__Cuent__1E3B458B]  DEFAULT (' ') FOR [Cuenta]
GO
ALTER TABLE [dbo].[BAC_CNT_DETALLE_VOUCHER] ADD  CONSTRAINT [DF__BAC_CNT_D__Tipo___1F2F69C4]  DEFAULT (' ') FOR [Tipo_Monto]
GO
ALTER TABLE [dbo].[BAC_CNT_DETALLE_VOUCHER] ADD  CONSTRAINT [DF__BAC_CNT_D__Monto__20238DFD]  DEFAULT (0) FOR [Monto]
GO
ALTER TABLE [dbo].[BAC_CNT_DETALLE_VOUCHER] ADD  CONSTRAINT [DF__BAC_CNT_D__Moned__2117B236]  DEFAULT (0) FOR [MonedaCuenta]
GO
ALTER TABLE [dbo].[BAC_CNT_DETALLE_VOUCHER] ADD  CONSTRAINT [DF_BAC_CNT_DETALLE_VOUCHER_CtaCorresponsal]  DEFAULT (' ') FOR [CtaCorresponsal]
GO
