USE [BacBonosExtSuda]
GO
/****** Object:  Table [dbo].[text_mvt_dri_ppa]    Script Date: 11-05-2022 16:31:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[text_mvt_dri_ppa](
	[mofecpro] [datetime] NOT NULL,
	[morutcart] [numeric](9, 0) NOT NULL,
	[monumoper] [numeric](10, 0) NOT NULL,
	[monumdocu] [numeric](10, 0) NOT NULL,
	[mocorrelativo] [numeric](18, 0) NOT NULL,
	[motipoper] [char](3) NOT NULL,
	[cod_nemo] [char](20) NOT NULL,
	[cod_familia] [numeric](4, 0) NOT NULL,
	[id_instrum] [char](20) NOT NULL,
	[morutcli] [numeric](9, 0) NOT NULL,
	[mocodcli] [numeric](9, 0) NOT NULL,
	[mofecemi] [datetime] NOT NULL,
	[mofecven] [datetime] NOT NULL,
	[mofecneg] [datetime] NOT NULL,
	[momonemi] [numeric](3, 0) NOT NULL,
	[momonpag] [numeric](3, 0) NOT NULL,
	[momontoemi] [numeric](19, 4) NOT NULL,
	[motasemi] [numeric](19, 7) NOT NULL,
	[mobasemi] [numeric](3, 0) NOT NULL,
	[morutemi] [numeric](9, 0) NULL,
	[mofecpago] [datetime] NOT NULL,
	[monominal] [numeric](19, 4) NOT NULL,
	[movpresen] [numeric](19, 4) NOT NULL,
	[movalvenc] [numeric](19, 4) NOT NULL,
	[momtps] [numeric](19, 4) NOT NULL,
	[momtum] [numeric](19, 4) NOT NULL,
	[motir] [numeric](19, 7) NOT NULL,
	[mopvp] [numeric](19, 7) NOT NULL,
	[movpar] [numeric](19, 7) NOT NULL,
	[moint_compra] [numeric](19, 4) NOT NULL,
	[moprincipal] [numeric](19, 4) NOT NULL,
	[movalcomp] [float] NOT NULL,
	[movalcomu] [float] NOT NULL,
	[mointeres] [numeric](19, 4) NOT NULL,
	[moreajuste] [numeric](19, 4) NOT NULL,
	[moutilidad] [numeric](19, 4) NOT NULL,
	[moperdida] [numeric](19, 4) NOT NULL,
	[movalven] [numeric](19, 4) NOT NULL,
	[monumucup] [numeric](3, 0) NOT NULL,
	[monumpcup] [numeric](3, 0) NOT NULL,
	[mousuario] [char](12) NULL,
	[mostatreg] [char](1) NOT NULL,
	[moobserv] [char](70) NOT NULL,
	[basilea] [numeric](1, 0) NOT NULL,
	[tipo_tasa] [numeric](3, 0) NOT NULL,
	[encaje] [char](1) NOT NULL,
	[monto_encaje] [numeric](19, 4) NOT NULL,
	[codigo_carterasuper] [char](1) NOT NULL,
	[tipo_cartera_financiera] [char](2) NOT NULL,
	[sucursal] [smallint] NOT NULL,
	[corr_bco_nombre] [char](50) NOT NULL,
	[corr_bco_cta] [char](30) NOT NULL,
	[corr_bco_aba] [char](9) NOT NULL,
	[corr_bco_pais] [char](15) NOT NULL,
	[corr_bco_ciud] [char](15) NOT NULL,
	[corr_bco_swift] [char](30) NOT NULL,
	[corr_bco_ref] [char](30) NOT NULL,
	[corr_cli_nombre] [char](50) NOT NULL,
	[corr_cli_cta] [char](30) NOT NULL,
	[corr_cli_aba] [char](9) NOT NULL,
	[corr_cli_pais] [char](15) NOT NULL,
	[corr_cli_ciud] [char](15) NOT NULL,
	[corr_cli_swift] [char](30) NOT NULL,
	[corr_cli_ref] [char](30) NOT NULL,
	[operador_contraparte] [char](30) NOT NULL,
	[operador_Banco] [char](30) NOT NULL,
	[calce] [char](1) NOT NULL,
	[tipo_inversion] [char](2) NULL,
	[para_quien] [char](1) NOT NULL,
	[nombre_custodia] [char](30) NOT NULL,
	[confirmacion] [numeric](1, 0) NOT NULL,
	[forma_pago] [numeric](3, 0) NOT NULL,
	[base_tasa] [char](20) NOT NULL,
	[cod_emi] [numeric](1, 0) NULL,
	[mofecucup] [datetime] NOT NULL,
	[mofecpcup] [datetime] NOT NULL,
	[mohoraop] [datetime] NOT NULL,
	[cusip] [char](12) NOT NULL,
	[CapitalPeso] [numeric](24, 0) NOT NULL,
	[InteresPeso] [numeric](24, 0) NOT NULL,
	[SwImpresion] [numeric](1, 0) NOT NULL,
	[movpressb] [float] NOT NULL,
	[modifsb] [float] NOT NULL,
	[Hora] [char](8) NOT NULL,
	[DurMacaulay] [float] NULL,
	[DurModificada] [float] NULL,
	[Convexidad] [float] NULL,
	[Id_Area_Responsable] [char](10) NULL,
	[Id_Libro] [char](10) NULL,
	[moDigitador] [char](15) NOT NULL,
	[Resultado_Dif_Precio] [numeric](21, 4) NOT NULL,
	[Resultado_Dif_Mercado] [numeric](21, 4) NOT NULL,
	[ValorMercado_prop] [numeric](21, 4) NOT NULL
) ON [PRIMARY]
GO
