USE [BacCamSuda]
GO
/****** Object:  Table [dbo].[COSTODEFONDO]    Script Date: 11-05-2022 16:44:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COSTODEFONDO](
	[ENTIDAD] [char](2) NOT NULL,
	[COSTOCOMPRA] [numeric](15, 4) NOT NULL,
	[COSTOVENTA] [numeric](15, 4) NOT NULL,
	[HORA] [char](8) NOT NULL,
	[FECHA] [datetime] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[COSTODEFONDO] ADD  CONSTRAINT [DF__COSTODEFO__ENTID__34B88F42]  DEFAULT ('') FOR [ENTIDAD]
GO
ALTER TABLE [dbo].[COSTODEFONDO] ADD  CONSTRAINT [DF__COSTODEFO__COSTO__35ACB37B]  DEFAULT (0) FOR [COSTOCOMPRA]
GO
ALTER TABLE [dbo].[COSTODEFONDO] ADD  CONSTRAINT [DF__COSTODEFO__COSTO__36A0D7B4]  DEFAULT (0) FOR [COSTOVENTA]
GO
ALTER TABLE [dbo].[COSTODEFONDO] ADD  CONSTRAINT [DF__COSTODEFON__HORA__3794FBED]  DEFAULT ('') FOR [HORA]
GO
ALTER TABLE [dbo].[COSTODEFONDO] ADD  CONSTRAINT [DF__COSTODEFO__FECHA__38892026]  DEFAULT ('') FOR [FECHA]
GO
