USE [BacCamSuda]
GO
/****** Object:  Table [dbo].[PARAMETROS_OPERADORES_SPT]    Script Date: 11-05-2022 16:44:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARAMETROS_OPERADORES_SPT](
	[Punta] [numeric](19, 2) NOT NULL,
	[Empresa] [numeric](19, 2) NOT NULL,
	[Moneda] [numeric](19, 2) NOT NULL,
	[Posicion] [numeric](19, 2) NOT NULL,
	[Vb21446] [numeric](19, 2) NOT NULL,
	[Cierre_Mesa] [char](1) NOT NULL,
	[Costo_Fondo] [char](1) NOT NULL,
	[Supervisor] [char](1) NOT NULL,
	[Intraday_Minimo] [numeric](19, 2) NOT NULL,
	[Intraday_Maximo] [numeric](19, 2) NOT NULL,
	[Overnigth_Minimo] [numeric](19, 2) NOT NULL,
	[Overnigth_Maximo] [numeric](19, 2) NOT NULL,
	[Usuario] [char](15) NOT NULL,
	[Lineas] [char](1) NOT NULL,
	[Swift] [char](1) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PARAMETROS_OPERADORES_SPT] ADD  CONSTRAINT [DF__PARAMETRO__Punta__1AB72F6F]  DEFAULT (0) FOR [Punta]
GO
ALTER TABLE [dbo].[PARAMETROS_OPERADORES_SPT] ADD  CONSTRAINT [DF__PARAMETRO__Empre__1BAB53A8]  DEFAULT (0) FOR [Empresa]
GO
ALTER TABLE [dbo].[PARAMETROS_OPERADORES_SPT] ADD  CONSTRAINT [DF__PARAMETRO__Moned__1C9F77E1]  DEFAULT (0) FOR [Moneda]
GO
ALTER TABLE [dbo].[PARAMETROS_OPERADORES_SPT] ADD  CONSTRAINT [DF__PARAMETRO__Posic__1D939C1A]  DEFAULT (0) FOR [Posicion]
GO
ALTER TABLE [dbo].[PARAMETROS_OPERADORES_SPT] ADD  CONSTRAINT [DF__PARAMETRO__Vb214__1E87C053]  DEFAULT (0) FOR [Vb21446]
GO
ALTER TABLE [dbo].[PARAMETROS_OPERADORES_SPT] ADD  CONSTRAINT [DF__PARAMETRO__Cierr__1F7BE48C]  DEFAULT ('N') FOR [Cierre_Mesa]
GO
ALTER TABLE [dbo].[PARAMETROS_OPERADORES_SPT] ADD  CONSTRAINT [DF__PARAMETRO__Costo__207008C5]  DEFAULT ('N') FOR [Costo_Fondo]
GO
ALTER TABLE [dbo].[PARAMETROS_OPERADORES_SPT] ADD  CONSTRAINT [DF__PARAMETRO__Super__21642CFE]  DEFAULT ('N') FOR [Supervisor]
GO
ALTER TABLE [dbo].[PARAMETROS_OPERADORES_SPT] ADD  CONSTRAINT [DF__PARAMETRO__Intra__22585137]  DEFAULT (0) FOR [Intraday_Minimo]
GO
ALTER TABLE [dbo].[PARAMETROS_OPERADORES_SPT] ADD  CONSTRAINT [DF__PARAMETRO__Intra__234C7570]  DEFAULT (0) FOR [Intraday_Maximo]
GO
ALTER TABLE [dbo].[PARAMETROS_OPERADORES_SPT] ADD  CONSTRAINT [DF__PARAMETRO__Overn__244099A9]  DEFAULT (0) FOR [Overnigth_Minimo]
GO
ALTER TABLE [dbo].[PARAMETROS_OPERADORES_SPT] ADD  CONSTRAINT [DF__PARAMETRO__Overn__2534BDE2]  DEFAULT (0) FOR [Overnigth_Maximo]
GO
ALTER TABLE [dbo].[PARAMETROS_OPERADORES_SPT] ADD  CONSTRAINT [DF__PARAMETRO__Usuar__2628E21B]  DEFAULT ('') FOR [Usuario]
GO
ALTER TABLE [dbo].[PARAMETROS_OPERADORES_SPT] ADD  CONSTRAINT [DF_PARAMETROS_OPERADORES_SPT_Lineas]  DEFAULT ('N') FOR [Lineas]
GO
ALTER TABLE [dbo].[PARAMETROS_OPERADORES_SPT] ADD  CONSTRAINT [DF_PARAMETROS_OPERADORES_SPT_Swift]  DEFAULT ('N') FOR [Swift]
GO
