USE [BacCamSuda]
GO
/****** Object:  Table [dbo].[COSTOS_COMEX_IBS]    Script Date: 11-05-2022 16:44:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COSTOS_COMEX_IBS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[NEMO] [varchar](6) NOT NULL,
	[SEGMENTO] [varchar](50) NOT NULL,
	[CODMONEDA] [numeric](5, 0) NOT NULL,
	[MONTOMAX] [numeric](18, 4) NOT NULL,
	[SPREAD_TRADING_COMPRA] [numeric](18, 4) NOT NULL,
	[SPREAD_TRADING_VENTA] [numeric](18, 4) NOT NULL,
	[ENTRE_DESDE] [numeric](18, 4) NOT NULL,
	[ENTRE_HASTA] [numeric](18, 4) NOT NULL,
	[SPREAD_COMPRA] [numeric](18, 4) NOT NULL,
	[SPREAD_VENTA] [numeric](18, 4) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[COSTOS_COMEX_IBS] ADD  CONSTRAINT [DF_COSTOS_COMEX_IBS_FECHA]  DEFAULT ('') FOR [FECHA]
GO
ALTER TABLE [dbo].[COSTOS_COMEX_IBS] ADD  CONSTRAINT [DF_COSTOS_COMEX_IBS_NEMO]  DEFAULT ('') FOR [NEMO]
GO
ALTER TABLE [dbo].[COSTOS_COMEX_IBS] ADD  CONSTRAINT [DF_COSTOS_COMEX_IBS_SEGMENTO]  DEFAULT ('') FOR [SEGMENTO]
GO
ALTER TABLE [dbo].[COSTOS_COMEX_IBS] ADD  CONSTRAINT [DF_COSTOS_COMEX_IBS_CODMONEDA]  DEFAULT ('') FOR [CODMONEDA]
GO
ALTER TABLE [dbo].[COSTOS_COMEX_IBS] ADD  CONSTRAINT [DF_COSTOS_COMEX_IBS_MONTOMAX]  DEFAULT ((0.0)) FOR [MONTOMAX]
GO
ALTER TABLE [dbo].[COSTOS_COMEX_IBS] ADD  CONSTRAINT [DF_COSTOS_COMEX_IBS_SPREAD_TRADING_COMPRA]  DEFAULT ((0.0)) FOR [SPREAD_TRADING_COMPRA]
GO
ALTER TABLE [dbo].[COSTOS_COMEX_IBS] ADD  CONSTRAINT [DF_COSTOS_COMEX_IBS_SPREAD_TRADING_VENTA]  DEFAULT ((0.0)) FOR [SPREAD_TRADING_VENTA]
GO
ALTER TABLE [dbo].[COSTOS_COMEX_IBS] ADD  CONSTRAINT [DF_COSTOS_COMEX_IBS_ENTRE_DESDE]  DEFAULT ((0.0)) FOR [ENTRE_DESDE]
GO
ALTER TABLE [dbo].[COSTOS_COMEX_IBS] ADD  CONSTRAINT [DF_COSTOS_COMEX_IBS_ENTRE_HASTA]  DEFAULT ((0.0)) FOR [ENTRE_HASTA]
GO
ALTER TABLE [dbo].[COSTOS_COMEX_IBS] ADD  CONSTRAINT [DF_COSTOS_COMEX_IBS_SPREAD_COMPRA]  DEFAULT ((0.0)) FOR [SPREAD_COMPRA]
GO
ALTER TABLE [dbo].[COSTOS_COMEX_IBS] ADD  CONSTRAINT [DF_COSTOS_COMEX_IBS_SPREAD_VENTA]  DEFAULT ((0.0)) FOR [SPREAD_VENTA]
GO
