USE [BacCamSuda]
GO
/****** Object:  Table [dbo].[mfmo_tmp]    Script Date: 11-05-2022 16:44:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mfmo_tmp](
	[monumoper] [numeric](10, 0) NOT NULL,
	[mocodpos1] [numeric](2, 0) NOT NULL,
	[mocodmon1] [numeric](3, 0) NOT NULL,
	[mocodsuc1] [numeric](3, 0) NOT NULL,
	[mocodpos2] [numeric](2, 0) NOT NULL,
	[mocodmon2] [numeric](3, 0) NOT NULL,
	[mocodcart] [numeric](9, 0) NOT NULL,
	[mocodigo] [numeric](9, 0) NOT NULL,
	[mocodcli] [numeric](9, 0) NOT NULL,
	[motipoper] [char](1) NOT NULL,
	[motipmoda] [char](1) NOT NULL,
	[mofecha] [datetime] NOT NULL,
	[motipcam] [float] NOT NULL,
	[momdausd] [numeric](3, 0) NOT NULL,
	[momtomon1] [numeric](21, 4) NOT NULL,
	[moequusd1] [numeric](21, 4) NOT NULL,
	[moequmon1] [numeric](21, 4) NOT NULL,
	[momtomon2] [numeric](21, 4) NOT NULL,
	[moequusd2] [numeric](21, 4) NOT NULL,
	[moequmon2] [numeric](21, 4) NOT NULL,
	[moparmon1] [float] NOT NULL,
	[mopremon1] [float] NOT NULL,
	[moparmon2] [float] NOT NULL,
	[mopremon2] [float] NOT NULL,
	[moestado] [char](1) NOT NULL,
	[moretiro] [char](1) NOT NULL,
	[mocontraparte] [numeric](9, 0) NOT NULL,
	[moobserv] [varchar](255) NOT NULL,
	[mospread] [float] NOT NULL,
	[motasadolar] [float] NOT NULL,
	[motasaufclp] [float] NOT NULL,
	[moprecal] [float] NOT NULL,
	[moplazo] [numeric](6, 0) NOT NULL,
	[mofecvcto] [datetime] NOT NULL,
	[molock] [char](15) NOT NULL,
	[mooperador] [char](15) NOT NULL,
	[motasfwdcmp] [float] NOT NULL,
	[motasfwdvta] [float] NOT NULL,
	[mocalcmpdol] [float] NOT NULL,
	[mocalcmpspr] [float] NOT NULL,
	[mocalvtadol] [float] NOT NULL,
	[mocalvtaspr] [float] NOT NULL,
	[motasausd] [float] NOT NULL,
	[motasacon] [float] NOT NULL,
	[momtomon1ini] [numeric](21, 4) NOT NULL,
	[momtomon1fin] [numeric](21, 4) NOT NULL,
	[momtomon2ini] [numeric](21, 4) NOT NULL,
	[momtomon2fin] [numeric](21, 4) NOT NULL,
	[modiferen] [float] NOT NULL,
	[mofpagomn] [numeric](3, 0) NOT NULL,
	[mofpagomx] [numeric](3, 0) NOT NULL,
	[mobroker] [numeric](9, 0) NOT NULL,
	[mopremio] [numeric](21, 4) NOT NULL,
	[motipopc] [char](1) NOT NULL,
	[mohora] [char](8) NOT NULL,
	[mopreciopunta] [float] NOT NULL,
	[moremunera_linea] [numeric](10, 4) NOT NULL,
	[motasa_efectiva_moneda1] [float] NOT NULL,
	[motasa_efectiva_moneda2] [float] NOT NULL,
	[mooperrelaspot] [char](2) NULL,
	[SwImpresion] [numeric](1, 0) NOT NULL,
	[motasaEfectMon1] [float] NOT NULL,
	[motasaEfectMon2] [float] NOT NULL,
	[motipcamSpot] [float] NOT NULL,
	[motipcamFwd] [float] NOT NULL,
	[mofecEfectiva] [datetime] NOT NULL,
	[moserie] [varchar](12) NULL,
	[moseriado] [char](1) NULL,
	[motipcamPtosFwd] [float] NOT NULL,
	[mocartera_normativa] [char](6) NULL,
	[mosubcartera_normativa] [char](6) NULL,
	[molibro] [char](6) NULL,
	[moArea_Responsable] [char](6) NULL,
	[estado_sinacofi] [char](25) NOT NULL,
	[fecha_estado_sina] [datetime] NOT NULL,
	[mocosto_usdclp] [float] NOT NULL,
	[mocosto_mxusd] [float] NOT NULL,
	[mocosto_mxclp] [float] NOT NULL,
	[mofijaTCRef] [datetime] NOT NULL,
	[mofijaPRRef] [datetime] NOT NULL,
	[moSpotTipCam] [float] NOT NULL,
	[moSpotParidad] [float] NOT NULL,
	[numerospot] [numeric](9, 0) NOT NULL,
	[Resultado_Mesa] [float] NOT NULL,
	[moDigitador] [char](15) NOT NULL,
	[Threshold] [char](1) NOT NULL,
	[MoFechaStarting] [datetime] NOT NULL,
	[MoFechaFijacionStarting] [datetime] NOT NULL,
	[MoPuntosFwdCierre] [float] NOT NULL,
	[MoPuntosTransfObs] [float] NOT NULL,
	[MoPuntosTransfFwd] [float] NOT NULL,
	[MoTasaPriPzoFijObs] [float] NOT NULL,
	[MoTasaSecPzoFijObs] [float] NOT NULL,
	[MoDelta] [float] NOT NULL,
	[moNroOpeMxClp] [numeric](9, 0) NOT NULL
) ON [PRIMARY]
GO
