USE [BacCamSuda]
GO
/****** Object:  Table [dbo].[adtb07]    Script Date: 11-05-2022 16:44:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adtb07](
	[CODI_OPERA] [float] NULL,
	[CONC_OPERA] [nvarchar](40) NULL,
	[OP_CONCEP] [nvarchar](1) NULL,
	[CODI_OMA] [float] NULL
) ON [PRIMARY]
GO
