USE [BacCamSuda]
GO
/****** Object:  Table [dbo].[TBAFECTOAPOSICION]    Script Date: 11-05-2022 16:44:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBAFECTOAPOSICION](
	[codigo] [numeric](2, 0) NOT NULL,
	[nemo] [char](4) NOT NULL,
	[futuro] [char](1) NOT NULL,
	[rentabilidad] [char](1) NOT NULL,
	[trading] [char](1) NOT NULL,
	[posicion] [char](1) NOT NULL,
	[hedge] [char](1) NOT NULL,
	[glosa] [char](30) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBAFECTOAPOSICION] ADD  CONSTRAINT [DF__TBAFECTOA__codig__619EADA4]  DEFAULT (0) FOR [codigo]
GO
ALTER TABLE [dbo].[TBAFECTOAPOSICION] ADD  CONSTRAINT [DF__TBAFECTOAP__nemo__6292D1DD]  DEFAULT (' ') FOR [nemo]
GO
ALTER TABLE [dbo].[TBAFECTOAPOSICION] ADD  CONSTRAINT [DF__TBAFECTOA__futur__6386F616]  DEFAULT (' ') FOR [futuro]
GO
ALTER TABLE [dbo].[TBAFECTOAPOSICION] ADD  CONSTRAINT [DF__TBAFECTOA__renta__647B1A4F]  DEFAULT (' ') FOR [rentabilidad]
GO
ALTER TABLE [dbo].[TBAFECTOAPOSICION] ADD  CONSTRAINT [DF__TBAFECTOA__tradi__656F3E88]  DEFAULT (' ') FOR [trading]
GO
ALTER TABLE [dbo].[TBAFECTOAPOSICION] ADD  CONSTRAINT [DF__TBAFECTOA__posic__666362C1]  DEFAULT (' ') FOR [posicion]
GO
ALTER TABLE [dbo].[TBAFECTOAPOSICION] ADD  CONSTRAINT [DF__TBAFECTOA__hedge__675786FA]  DEFAULT (' ') FOR [hedge]
GO
ALTER TABLE [dbo].[TBAFECTOAPOSICION] ADD  CONSTRAINT [DF__TBAFECTOA__glosa__684BAB33]  DEFAULT (' ') FOR [glosa]
GO
