USE [BacCamSuda]
GO
/****** Object:  Table [dbo].[meac]    Script Date: 11-05-2022 16:44:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[meac](
	[ACENTIDA] [char](2) NOT NULL,
	[ACNOMBRE] [char](34) NOT NULL,
	[ACCODIGO] [numeric](3, 0) NOT NULL,
	[ACRUT] [numeric](9, 0) NOT NULL,
	[ACDIRECC] [char](40) NOT NULL,
	[ACCOMUNA] [char](20) NOT NULL,
	[ACCIUDAD] [char](20) NOT NULL,
	[ACTELEFO] [char](10) NOT NULL,
	[ACBANCO] [char](30) NOT NULL,
	[ACEJECUT] [char](30) NOT NULL,
	[ACFECPRO] [datetime] NOT NULL,
	[ACFECPRX] [datetime] NOT NULL,
	[ACFECANT] [datetime] NOT NULL,
	[ACCORREL] [numeric](9, 0) NOT NULL,
	[ACCOROPE] [numeric](9, 0) NOT NULL,
	[ACCORAJ] [numeric](9, 0) NOT NULL,
	[ACDSKSPC] [numeric](10, 0) NOT NULL,
	[ACOBSER] [numeric](10, 4) NOT NULL,
	[ACACUER] [numeric](10, 4) NOT NULL,
	[ACCBAND] [numeric](10, 4) NOT NULL,
	[ACVBAND] [numeric](10, 4) NOT NULL,
	[ACCBCCH] [numeric](10, 4) NOT NULL,
	[ACVBCCH] [numeric](10, 4) NOT NULL,
	[ACPOSINI] [numeric](15, 2) NOT NULL,
	[ACPMECO] [numeric](10, 4) NOT NULL,
	[ACPMEVE] [numeric](10, 4) NOT NULL,
	[ACPREINI] [numeric](10, 4) NOT NULL,
	[ACPMECOPO] [numeric](10, 4) NOT NULL,
	[ACPRECIE] [numeric](10, 4) NOT NULL,
	[ACPMEVEPO] [numeric](10, 4) NOT NULL,
	[ACPOSIC] [numeric](15, 2) NOT NULL,
	[ACUTILIPO] [numeric](15, 2) NOT NULL,
	[ACUTILI] [numeric](15, 2) NOT NULL,
	[ACUTILTOT] [numeric](15, 2) NOT NULL,
	[ACTOTCO] [numeric](15, 2) NOT NULL,
	[ACTOTVE] [numeric](15, 2) NOT NULL,
	[ACTOTCOPO] [numeric](15, 2) NOT NULL,
	[ACTOTVEPO] [numeric](15, 2) NOT NULL,
	[ACPMECOFI] [numeric](10, 4) NOT NULL,
	[ACPMEVEFI] [numeric](10, 4) NOT NULL,
	[ACPREINIFI] [numeric](10, 4) NOT NULL,
	[ACPRECIEFI] [numeric](10, 4) NOT NULL,
	[ACOBSERAYE] [numeric](10, 4) NOT NULL,
	[ACCIERREPR] [numeric](10, 4) NOT NULL,
	[ACTOTALPE] [numeric](15, 4) NOT NULL,
	[ACTOTALPEF] [numeric](15, 4) NOT NULL,
	[ACMMONORI] [numeric](15, 4) NOT NULL,
	[ACFINDIA] [char](1) NOT NULL,
	[ACTCAMAR] [numeric](12, 6) NOT NULL,
	[ACTOVERN] [numeric](12, 6) NOT NULL,
	[ACDCAMAR] [numeric](2, 0) NOT NULL,
	[ACDOVERN] [numeric](2, 0) NOT NULL,
	[ACLOGDIG] [char](10) NOT NULL,
	[ACUSRDIG] [char](10) NOT NULL,
	[ACPREFIUN] [numeric](19, 4) NOT NULL,
	[ACTCIERRE] [numeric](19, 4) NOT NULL,
	[ACCOSCOMP] [numeric](19, 4) NOT NULL,
	[ACCOSVENT] [numeric](19, 4) NOT NULL,
	[ACVALORUF] [numeric](19, 4) NOT NULL,
	[ACDV] [char](1) NOT NULL,
	[ACULTPTA] [char](50) NOT NULL,
	[ACULTMON] [numeric](19, 4) NOT NULL,
	[ACULTPRE] [numeric](19, 4) NOT NULL,
	[ACCORRES] [numeric](8, 0) NOT NULL,
	[ACFINAN] [numeric](19, 4) NOT NULL,
	[ACMTOPTAS] [numeric](19, 4) NOT NULL,
	[ACFPRPTAC] [numeric](2, 0) NOT NULL,
	[ACFPEPTAC] [numeric](2, 0) NOT NULL,
	[ACFPRPTAV] [numeric](2, 0) NOT NULL,
	[ACFPEPTAV] [numeric](2, 0) NOT NULL,
	[ACFPREMPC] [numeric](2, 0) NOT NULL,
	[ACFPEEMPC] [numeric](2, 0) NOT NULL,
	[ACFPREMPV] [numeric](2, 0) NOT NULL,
	[ACFPEEMPV] [numeric](2, 0) NOT NULL,
	[ACPCIERRE] [char](1) NOT NULL,
	[ACOMAC] [numeric](3, 0) NOT NULL,
	[ACRENTAB] [numeric](3, 0) NOT NULL,
	[ACMONEDA] [char](3) NOT NULL,
	[Acomav] [numeric](3, 0) NOT NULL,
	[ACOMACPTA] [numeric](3, 0) NOT NULL,
	[ACOMAVPTA] [numeric](3, 0) NOT NULL,
	[ACRENTABP] [numeric](3, 0) NOT NULL,
	[ACNUMLOGS] [int] NULL,
	[CODIGO_TESORERIA] [char](3) NOT NULL,
	[DOLAR] [numeric](5, 0) NULL,
	[PESOS] [numeric](5, 0) NULL,
	[CORRELATIVO_PLANILLA] [numeric](10, 0) NULL,
	[ACMININTRADAY] [numeric](15, 2) NOT NULL,
	[ACMAXINTRADAY] [numeric](15, 2) NOT NULL,
	[ACMINOVERNIGHT] [numeric](15, 2) NOT NULL,
	[ACMAXOVERNIGHT] [numeric](15, 2) NOT NULL,
	[ACHEDGEINICIALFUTURO] [numeric](19, 4) NOT NULL,
	[ACHEDGEINICIALSPOT] [numeric](19, 4) NOT NULL,
	[ACHEDGEACTUALFUTURO] [numeric](19, 4) NOT NULL,
	[ACHEDGEACTUALSPOT] [numeric](19, 4) NOT NULL,
	[ACHEDGEPRECIOINICIAL] [numeric](15, 4) NOT NULL,
	[ACHEDGEUTILIDAD] [numeric](19, 2) NOT NULL,
	[cp_totco] [numeric](19, 4) NOT NULL,
	[cp_totve] [numeric](19, 4) NOT NULL,
	[cp_totcop] [numeric](19, 2) NOT NULL,
	[cp_totvep] [numeric](19, 2) NOT NULL,
	[cp_utili] [numeric](19, 2) NOT NULL,
	[cp_pmeco] [numeric](15, 4) NOT NULL,
	[cp_pmeve] [numeric](15, 4) NOT NULL,
	[cp_utico] [numeric](15, 2) NOT NULL,
	[cp_utive] [numeric](15, 2) NOT NULL,
	[cp_pmecoci] [numeric](15, 4) NOT NULL,
	[cp_pmeveci] [numeric](15, 4) NOT NULL,
	[ac_totcop] [numeric](19, 2) NOT NULL,
	[ac_totvep] [numeric](19, 2) NOT NULL,
	[ac_pmecore] [numeric](19, 4) NOT NULL,
	[ac_pmevere] [numeric](19, 4) NOT NULL,
	[ac_totcore] [numeric](19, 4) NOT NULL,
	[ac_totvere] [numeric](19, 4) NOT NULL,
	[actotcopre] [numeric](19, 4) NOT NULL,
	[actotvepre] [numeric](19, 4) NOT NULL,
	[acultempr] [char](70) NOT NULL,
	[acultmonempr] [numeric](19, 4) NOT NULL,
	[acultpreempr] [numeric](19, 4) NOT NULL,
	[accorempr] [numeric](9, 0) NOT NULL,
	[autorizador_limite] [char](15) NULL,
	[ac_utili] [numeric](19, 2) NOT NULL,
	[ac_folio] [numeric](1, 0) NOT NULL,
	[info_posic] [numeric](19, 4) NOT NULL,
	[info_preini] [numeric](15, 4) NOT NULL,
	[info_totco] [numeric](19, 4) NOT NULL,
	[info_totve] [numeric](19, 4) NOT NULL,
	[info_pmeco] [numeric](15, 4) NOT NULL,
	[info_pmeve] [numeric](15, 4) NOT NULL,
	[info_pmerc] [numeric](15, 4) NOT NULL,
	[info_totcop] [numeric](19, 2) NOT NULL,
	[info_totvep] [numeric](19, 2) NOT NULL,
	[info_utili] [numeric](19, 4) NOT NULL,
	[info_numope] [numeric](7, 0) NOT NULL,
	[ACUSERDATA] [char](15) NOT NULL,
	[ACUSERBOLS] [char](15) NOT NULL,
	[achedgevctofuturo] [numeric](19, 4) NOT NULL,
	[ACACUMDIA] [numeric](19, 4) NOT NULL,
	[ACACUMMES] [numeric](19, 4) NOT NULL,
	[AcTradingFicticio] [numeric](19, 4) NOT NULL,
	[AcTotCoSin] [numeric](15, 2) NOT NULL,
	[AcTotVeSin] [numeric](15, 2) NOT NULL,
	[AcPesCoSin] [numeric](15, 2) NOT NULL,
	[AcPesVeSin] [numeric](15, 2) NOT NULL,
	[AcTicketMesa] [numeric](10, 0) NOT NULL,
	[swOpeCalceCorredora] [int] NOT NULL,
 CONSTRAINT [PK__meac__311AA683] PRIMARY KEY CLUSTERED 
(
	[ACENTIDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACENTIDA__3561040A]  DEFAULT ('') FOR [ACENTIDA]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACNOMBRE__36552843]  DEFAULT ('') FOR [ACNOMBRE]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACCODIGO__37494C7C]  DEFAULT (0) FOR [ACCODIGO]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACRUT__383D70B5]  DEFAULT (0) FOR [ACRUT]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACDIRECC__393194EE]  DEFAULT ('') FOR [ACDIRECC]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACCOMUNA__3A25B927]  DEFAULT ('') FOR [ACCOMUNA]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACCIUDAD__3B19DD60]  DEFAULT ('') FOR [ACCIUDAD]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACTELEFO__3C0E0199]  DEFAULT ('') FOR [ACTELEFO]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACBANCO__3D0225D2]  DEFAULT ('') FOR [ACBANCO]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACEJECUT__3DF64A0B]  DEFAULT ('') FOR [ACEJECUT]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACFECPRO__3EEA6E44]  DEFAULT ('') FOR [ACFECPRO]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACFECPRX__3FDE927D]  DEFAULT ('') FOR [ACFECPRX]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACFECANT__40D2B6B6]  DEFAULT ('') FOR [ACFECANT]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACCORREL__41C6DAEF]  DEFAULT (0) FOR [ACCORREL]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACCOROPE__42BAFF28]  DEFAULT (0) FOR [ACCOROPE]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACCORAJ__43AF2361]  DEFAULT (0) FOR [ACCORAJ]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACDSKSPC__44A3479A]  DEFAULT (0) FOR [ACDSKSPC]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACOBSER__45976BD3]  DEFAULT (0) FOR [ACOBSER]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACACUER__468B900C]  DEFAULT (0) FOR [ACACUER]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACCBAND__477FB445]  DEFAULT (0) FOR [ACCBAND]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACVBAND__4873D87E]  DEFAULT (0) FOR [ACVBAND]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACCBCCH__4967FCB7]  DEFAULT (0) FOR [ACCBCCH]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACVBCCH__4A5C20F0]  DEFAULT (0) FOR [ACVBCCH]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACPOSINI__4B504529]  DEFAULT (0) FOR [ACPOSINI]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACPMECO__4C446962]  DEFAULT (0) FOR [ACPMECO]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACPMEVE__4D388D9B]  DEFAULT (0) FOR [ACPMEVE]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACPREINI__4E2CB1D4]  DEFAULT (0) FOR [ACPREINI]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACPMECOPO__4F20D60D]  DEFAULT (0) FOR [ACPMECOPO]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACPRECIE__5014FA46]  DEFAULT (0) FOR [ACPRECIE]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACPMEVEPO__51091E7F]  DEFAULT (0) FOR [ACPMEVEPO]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACPOSIC__51FD42B8]  DEFAULT (0) FOR [ACPOSIC]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACUTILIPO__52F166F1]  DEFAULT (0) FOR [ACUTILIPO]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACUTILI__53E58B2A]  DEFAULT (0) FOR [ACUTILI]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACUTILTOT__54D9AF63]  DEFAULT (0) FOR [ACUTILTOT]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACTOTCO__55CDD39C]  DEFAULT (0) FOR [ACTOTCO]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACTOTVE__56C1F7D5]  DEFAULT (0) FOR [ACTOTVE]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACTOTCOPO__57B61C0E]  DEFAULT (0) FOR [ACTOTCOPO]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACTOTVEPO__58AA4047]  DEFAULT (0) FOR [ACTOTVEPO]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACPMECOFI__599E6480]  DEFAULT (0) FOR [ACPMECOFI]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACPMEVEFI__5A9288B9]  DEFAULT (0) FOR [ACPMEVEFI]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACPREINIFI__5B86ACF2]  DEFAULT (0) FOR [ACPREINIFI]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACPRECIEFI__5C7AD12B]  DEFAULT (0) FOR [ACPRECIEFI]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACOBSERAYE__5D6EF564]  DEFAULT (0) FOR [ACOBSERAYE]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACCIERREPR__5E63199D]  DEFAULT (0) FOR [ACCIERREPR]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACTOTALPE__5F573DD6]  DEFAULT (0) FOR [ACTOTALPE]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACTOTALPEF__604B620F]  DEFAULT (0) FOR [ACTOTALPEF]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACMMONORI__613F8648]  DEFAULT (0) FOR [ACMMONORI]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACFINDIA__6233AA81]  DEFAULT ('') FOR [ACFINDIA]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACTCAMAR__6327CEBA]  DEFAULT (0) FOR [ACTCAMAR]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACTOVERN__641BF2F3]  DEFAULT (0) FOR [ACTOVERN]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACDCAMAR__6510172C]  DEFAULT (0) FOR [ACDCAMAR]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACDOVERN__66043B65]  DEFAULT (0) FOR [ACDOVERN]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACLOGDIG__66F85F9E]  DEFAULT ('') FOR [ACLOGDIG]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACUSRDIG__67EC83D7]  DEFAULT ('') FOR [ACUSRDIG]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACPREFIUN__68E0A810]  DEFAULT (0) FOR [ACPREFIUN]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACTCIERRE__69D4CC49]  DEFAULT (0) FOR [ACTCIERRE]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACCOSCOMP__6AC8F082]  DEFAULT (0) FOR [ACCOSCOMP]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACCOSVENT__6BBD14BB]  DEFAULT (0) FOR [ACCOSVENT]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACVALORUF__6CB138F4]  DEFAULT (0) FOR [ACVALORUF]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACDV__6DA55D2D]  DEFAULT ('') FOR [ACDV]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACULTPTA__6E998166]  DEFAULT ('') FOR [ACULTPTA]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACULTMON__6F8DA59F]  DEFAULT (0) FOR [ACULTMON]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACULTPRE__7081C9D8]  DEFAULT (0) FOR [ACULTPRE]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACCORRES__7175EE11]  DEFAULT (0) FOR [ACCORRES]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACFINAN__726A124A]  DEFAULT (0) FOR [ACFINAN]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACMTOPTAS__735E3683]  DEFAULT (0) FOR [ACMTOPTAS]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACFPRPTAC__74525ABC]  DEFAULT (0) FOR [ACFPRPTAC]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACFPEPTAC__75467EF5]  DEFAULT (0) FOR [ACFPEPTAC]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACFPRPTAV__763AA32E]  DEFAULT (0) FOR [ACFPRPTAV]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACFPEPTAV__772EC767]  DEFAULT (0) FOR [ACFPEPTAV]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACFPREMPC__7822EBA0]  DEFAULT (0) FOR [ACFPREMPC]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACFPEEMPC__79170FD9]  DEFAULT (0) FOR [ACFPEEMPC]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACFPREMPV__7A0B3412]  DEFAULT (0) FOR [ACFPREMPV]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACFPEEMPV__7AFF584B]  DEFAULT (0) FOR [ACFPEEMPV]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACPCIERRE__7BF37C84]  DEFAULT ('') FOR [ACPCIERRE]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACOMAC__7CE7A0BD]  DEFAULT (0) FOR [ACOMAC]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACRENTAB__7DDBC4F6]  DEFAULT (0) FOR [ACRENTAB]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACMONEDA__7ECFE92F]  DEFAULT ('') FOR [ACMONEDA]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__Acomav__7FC40D68]  DEFAULT (0) FOR [Acomav]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACOMACPTA__00B831A1]  DEFAULT (0) FOR [ACOMACPTA]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACOMAVPTA__01AC55DA]  DEFAULT (0) FOR [ACOMAVPTA]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACRENTABP__02A07A13]  DEFAULT (0) FOR [ACRENTABP]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__CODIGO_TES__03949E4C]  DEFAULT ('BCC') FOR [CODIGO_TESORERIA]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__DOLAR__0488C285]  DEFAULT (0) FOR [DOLAR]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__PESOS__057CE6BE]  DEFAULT (0) FOR [PESOS]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__CORRELATIV__031ED1A9]  DEFAULT (0) FOR [CORRELATIVO_PLANILLA]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACMININTRA__2C01B702]  DEFAULT (0.0) FOR [ACMININTRADAY]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACMAXINTRA__2CF5DB3B]  DEFAULT (0.0) FOR [ACMAXINTRADAY]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACMINOVERN__2DE9FF74]  DEFAULT (0.0) FOR [ACMINOVERNIGHT]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACMAXOVERN__2EDE23AD]  DEFAULT (0.0) FOR [ACMAXOVERNIGHT]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACHEDGEINI__2FD247E6]  DEFAULT (0.0) FOR [ACHEDGEINICIALFUTURO]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACHEDGEINI__30C66C1F]  DEFAULT (0.0) FOR [ACHEDGEINICIALSPOT]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACHEDGEACT__31BA9058]  DEFAULT (0.0) FOR [ACHEDGEACTUALFUTURO]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACHEDGEACT__32AEB491]  DEFAULT (0.0) FOR [ACHEDGEACTUALSPOT]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACHEDGEPRE__33A2D8CA]  DEFAULT (0.0) FOR [ACHEDGEPRECIOINICIAL]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ACHEDGEUTI__3496FD03]  DEFAULT (0.0) FOR [ACHEDGEUTILIDAD]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__cp_totco__5D2EFE42]  DEFAULT (0) FOR [cp_totco]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__cp_totve__5E23227B]  DEFAULT (0) FOR [cp_totve]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__cp_totcop__5F1746B4]  DEFAULT (0) FOR [cp_totcop]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__cp_totvep__600B6AED]  DEFAULT (0) FOR [cp_totvep]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__cp_utili__60FF8F26]  DEFAULT (0) FOR [cp_utili]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__cp_pmeco__61F3B35F]  DEFAULT (0) FOR [cp_pmeco]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__cp_pmeve__62E7D798]  DEFAULT (0) FOR [cp_pmeve]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__cp_utico__63DBFBD1]  DEFAULT (0) FOR [cp_utico]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__cp_utive__64D0200A]  DEFAULT (0) FOR [cp_utive]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__cp_pmecoci__65C44443]  DEFAULT (0) FOR [cp_pmecoci]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__cp_pmeveci__66B8687C]  DEFAULT (0) FOR [cp_pmeveci]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ac_totcop__2A396A21]  DEFAULT (0.0) FOR [ac_totcop]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ac_totvep__2B2D8E5A]  DEFAULT (0.0) FOR [ac_totvep]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ac_pmecore__2C21B293]  DEFAULT (0.0) FOR [ac_pmecore]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ac_pmevere__2D15D6CC]  DEFAULT (0.0) FOR [ac_pmevere]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ac_totcore__2E09FB05]  DEFAULT (0.0) FOR [ac_totcore]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ac_totvere__2EFE1F3E]  DEFAULT (0.0) FOR [ac_totvere]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__actotcopre__2FF24377]  DEFAULT (0.0) FOR [actotcopre]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__actotvepre__30E667B0]  DEFAULT (0.0) FOR [actotvepre]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__acultempr__7E50C642]  DEFAULT ('') FOR [acultempr]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__acultmonem__02215726]  DEFAULT (0.0) FOR [acultmonempr]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__acultpreem__03157B5F]  DEFAULT (0.0) FOR [acultpreempr]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__accorempr__25358939]  DEFAULT (0) FOR [accorempr]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ac_utili__5AC85E3A]  DEFAULT (0) FOR [ac_utili]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF__meac__ac_folio__5BBC8273]  DEFAULT (0) FOR [ac_folio]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF_meac_info_posic]  DEFAULT (0) FOR [info_posic]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF_meac_info_preini]  DEFAULT (0) FOR [info_preini]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF_meac_info_totco]  DEFAULT (0) FOR [info_totco]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF_meac_info_totve]  DEFAULT (0) FOR [info_totve]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF_meac_info_pmeco]  DEFAULT (0) FOR [info_pmeco]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF_meac_info_pmeve]  DEFAULT (0) FOR [info_pmeve]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF_meac_info_pmerc]  DEFAULT (0) FOR [info_pmerc]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF_meac_info_totcop]  DEFAULT (0) FOR [info_totcop]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF_meac_info_totvep]  DEFAULT (0) FOR [info_totvep]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF_meac_info_utili]  DEFAULT (0) FOR [info_utili]
GO
ALTER TABLE [dbo].[meac] ADD  CONSTRAINT [DF_meac_info_numope]  DEFAULT (0) FOR [info_numope]
GO
ALTER TABLE [dbo].[meac] ADD  DEFAULT ('') FOR [ACUSERDATA]
GO
ALTER TABLE [dbo].[meac] ADD  DEFAULT ('') FOR [ACUSERBOLS]
GO
ALTER TABLE [dbo].[meac] ADD  DEFAULT (0) FOR [achedgevctofuturo]
GO
ALTER TABLE [dbo].[meac] ADD  DEFAULT (0) FOR [ACACUMDIA]
GO
ALTER TABLE [dbo].[meac] ADD  DEFAULT (0) FOR [ACACUMMES]
GO
ALTER TABLE [dbo].[meac] ADD  DEFAULT (0) FOR [AcTradingFicticio]
GO
ALTER TABLE [dbo].[meac] ADD  DEFAULT (0) FOR [AcTotCoSin]
GO
ALTER TABLE [dbo].[meac] ADD  DEFAULT (0) FOR [AcTotVeSin]
GO
ALTER TABLE [dbo].[meac] ADD  DEFAULT (0) FOR [AcPesCoSin]
GO
ALTER TABLE [dbo].[meac] ADD  DEFAULT (0) FOR [AcPesVeSin]
GO
ALTER TABLE [dbo].[meac] ADD  DEFAULT (1) FOR [AcTicketMesa]
GO
ALTER TABLE [dbo].[meac] ADD  DEFAULT (0) FOR [swOpeCalceCorredora]
GO
