USE [Bacfwdsuda]
GO
/****** Object:  StoredProcedure [dbo].[SP_LEER_PERIODO]    Script Date: 13-05-2022 10:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[SP_LEER_PERIODO]( @Codigo   NUMERIC(9) = 0 ,
                                  @Sistema     CHAR(3) = '' )
AS
BEGIN
     SET NOCOUNT ON
     SELECT codigo  ,
            glosa   ,
            dias    ,
            meses
       FROM VIEW_PERIODO_AMORTIZACION
      WHERE (tabla   = @Codigo  OR @Codigo  =  0)
        AND (sistema = @Sistema OR @Sistema = '')
      ORDER BY codigo
      SET NOCOUNT OFF 
END

GO
