USE [Bacfwdsuda]
GO
/****** Object:  StoredProcedure [dbo].[SP_GENERABRECHA]    Script Date: 13-05-2022 10:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROC [dbo].[SP_GENERABRECHA]
AS BEGIN
SET NOCOUNT ON
 DECLARE @FECPROC DATETIME
 SELECT  @FECPROC = acfecproc FROM MFAC
 
 DECLARE @TACTIVO1 FLOAT
 DECLARE @TPASIVO1 FLOAT
 DECLARE @TACTIVO2 FLOAT
 DECLARE @TPASIVO2 FLOAT
 DECLARE @TACTIVO5 FLOAT
 DECLARE @TPASIVO5 FLOAT
 DECLARE @TACTIVO4 FLOAT
 DECLARE @TPASIVO4 FLOAT
 DECLARE @RESERVA FLOAT
 DECLARE @DEUDEXT FLOAT
 DECLARE @PTM1196 FLOAT
 DECLARE @CNVESPE25 FLOAT
 DECLARE @CNVESPE45 FLOAT
 DECLARE @INTCOTC FLOAT
 DECLARE @INTPATC FLOAT
 DECLARE @OTROS25 FLOAT
 DECLARE @OTROS45 FLOAT
 DECLARE @UTILMX5069 FLOAT
 DECLARE @UTILMX7089 FLOAT
 --------------------------------- 
 SELECT @TACTIVO1 = (ISNULL (SUM(camtomon1),0) ) FROM MFCA WHERE cacodpos1 = 1 AND  catipoper = 'C'
-- SELECT @TACTIVO1
 
 SELECT @TPASIVO1 = (ISNULL (SUM(camtomon1),0) ) FROM MFCA WHERE cacodpos1 = 1 AND  catipoper <> 'C'
-- SELECT @TPASIVO1
 --------------------------------- 
 
 SELECT  @TACTIVO2 = (ISNULL (SUM(camtomon2),0) ) FROM MFCA WHERE cacodpos1 = 2 AND  catipoper = 'C'
-- SELECT  @TACTIVO2
 SELECT  @TPASIVO2 = (ISNULL (SUM(camtomon2),0) ) FROM MFCA WHERE cacodpos1 = 2 AND  catipoper <> 'C'
-- SELECT  @TPASIVO2
 ---------------------------------
 SELECT  @TACTIVO5 = (ISNULL (SUM(camtomon1ini),0) ) FROM MFCA WHERE cacodpos1 = 5 AND  catipoper = 'C'
-- SELECT  @TACTIVO5
 SELECT  @TPASIVO5 = (ISNULL (SUM(camtomon1ini),0) ) FROM MFCA WHERE cacodpos1 = 5 AND  catipoper <> 'C'
-- SELECT  @TPASIVO5
 ---------------------------------
 SELECT  @TACTIVO4 = (ISNULL (SUM(camtomon1),0) ) FROM MFCA WHERE cacodpos1 = 4 AND  catipoper = 'C'
-- SELECT  @TACTIVO4
 SELECT  @TPASIVO4 = (ISNULL (SUM(camtomon1),0) ) FROM MFCA WHERE cacodpos1 = 4 AND  catipoper <> 'C' AND cafecvcto <> @FECPROC
-- SELECT  @TPASIVO4
 ---------------------------------
 ---------------------------------
 
 SELECT  @RESERVA = (ISNULL (SUM(saldo_banco),0) ) FROM SALDO_CUENTAS WHERE TIPO_BRECHA = 'RESERVA'
-- SELECT  @RESERVA
 SELECT  @DEUDEXT = (ISNULL ( SUM(saldo_banco),0) ) FROM SALDO_CUENTAS WHERE TIPO_BRECHA = 'DEUDEXT'
-- SELECT  @DEUDEXT 
 SELECT  @PTM1196 = (ISNULL (SUM(saldo_banco),0) ) FROM SALDO_CUENTAS WHERE TIPO_BRECHA = 'PTM1196'
-- SELECT  @PTM1196
 ---------------------------------
 SELECT @CNVESPE25 = (ISNULL (SUM(saldo_banco),0) ) FROM SALDO_CUENTAS WHERE TIPO_BRECHA = 'CNVESPE' AND SUBSTRING(CUENTA,1,2)='25'
-- SELECT @CNVESPE25
 SELECT @CNVESPE45 =(ISNULL ( SUM(saldo_banco),0) ) FROM SALDO_CUENTAS WHERE TIPO_BRECHA = 'CNVESPE' AND SUBSTRING(CUENTA,1,2)='45'
-- SELECT @CNVESPE45
 ---------------------------------
 
 SELECT  @INTCOTC = (ISNULL ( SUM(saldo_banco),0) ) FROM SALDO_CUENTAS WHERE TIPO_BRECHA = 'INTCOTC'
-- SELECT  @INTCOTC 
 SELECT  @INTPATC = (ISNULL ( SUM(saldo_banco),0) ) FROM SALDO_CUENTAS WHERE TIPO_BRECHA = 'INTPATC' 
-- SELECT  @INTPATC
   
 ---------------------------------
 ---------------------------------
 SELECT  @OTROS25 = (ISNULL( SUM(saldo_banco),0) ) FROM SALDO_CUENTAS WHERE TIPO_BRECHA = 'OTROS' AND SUBSTRING(CUENTA,1,2)='25'
-- SELECT  @OTROS25 
 SELECT  @OTROS45 = (ISNULL( SUM(saldo_banco),0) ) FROM SALDO_CUENTAS WHERE TIPO_BRECHA = 'OTROS' AND SUBSTRING(CUENTA,1,2)='45'
-- SELECT  @OTROS45   
 ---------------------------------
 ---------------------------------
 SELECT  @UTILMX5069 = (ISNULL( SUM(saldo_banco),0) ) FROM SALDO_CUENTAS WHERE TIPO_BRECHA = 'UTILMX' AND SUBSTRING(CUENTA,1,2)>='50' AND SUBSTRING(CUENTA,1,2)<='69'
-- SELECT  @UTILMX5069 
 SELECT  @UTILMX7089 = (ISNULL( SUM(saldo_banco),0) ) FROM SALDO_CUENTAS WHERE TIPO_BRECHA = 'UTILMX' AND SUBSTRING(CUENTA,1,2)>='70' AND SUBSTRING(CUENTA,1,2)<='89'
-- SELECT  @UTILMX7089
 DECLARE @ACTFWDS FLOAT
 DECLARE @PASFWDS FLOAT
 DECLARE @CNVESPE FLOAT
 DECLARE @OTROS   FLOAT
 DECLARE @UTILMX  FLOAT
 SELECT @ACTFWDS = @TACTIVO1 + @TACTIVO2  + @TACTIVO4 + @TACTIVO5
 UPDATE BRECHA SET Saldo = @ACTFWDS WHERE codigo='ACTFWDS'
 
 SELECT @PASFWDS = @TPASIVO2 + @TPASIVO2 + @TPASIVO2 + @TPASIVO2
 UPDATE BRECHA SET Saldo = @PASFWDS WHERE codigo='PASFWDS'
 UPDATE BRECHA SET Saldo = @RESERVA WHERE codigo='RESERVA'
 UPDATE BRECHA SET Saldo = @DEUDEXT WHERE codigo='DEUDEXT'
 UPDATE BRECHA SET Saldo = @PTM1196 WHERE codigo='PTM1196'
 SELECT @CNVESPE = @CNVESPE25 - @CNVESPE45
 UPDATE BRECHA SET Saldo = @CNVESPE WHERE codigo='CNVESPE'
 
 UPDATE BRECHA SET Saldo = @INTCOTC WHERE codigo='INTCOTC'
 
 UPDATE BRECHA SET Saldo = @INTPATC WHERE codigo='INTPATC'
 SELECT @OTROS = @OTROS45 - @OTROS25 
 UPDATE BRECHA SET Saldo = @OTROS WHERE codigo='OTROS'
 SELECT @UTILMX = @UTILMX7089 - @UTILMX5069 
 UPDATE BRECHA SET Saldo = @UTILMX WHERE codigo='UTILMX'
Select * from Brecha  
SET NOCOUNT OFF
END
/*
SP_INF_BRECHA_GRAL
SELECT * FROM BRECHA
SELECT SUM(camtomon1) FROM MFCA WHERE cacodpos1 =  1 AND  catipoper <> 'C'
SELECT * FROM MFCA  WHERE cacodpos1 = 1 AND  catipoper = 'C'
SELECT * FROM SALDO_CUENTAS WHERE TIPO_BRECHA='RESERVA'
SELECT * FROM SALDO_CUENTAS WHERE TIPO_BRECHA='DEUDEXT'
SELECT * FROM SALDO_CUENTAS WHERE TIPO_BRECHA='PTM1196'
SELECT SUM(SALDO_BANCO) FROM SALDO_CUENTAS WHERE TIPO_BRECHA='CNVESPE'
SELECT * FROM SALDO_CUENTAS WHERE TIPO_BRECHA = 'CNVESPE' AND SUBSTRING(CUENTA,1,2)='25'
SELECT SUM(SALDO_BANCO) FROM SALDO_CUENTAS WHERE TIPO_BRECHA='INTPATC' 
SELECT SUM(SALDO_BANCO) FROM SALDO_CUENTAS WHERE TIPO_BRECHA = 'OTROS' AND SUBSTRING(CUENTA,1,2)='45'
SELECT SUM(SALDO_BANCO) FROM SALDO_CUENTAS WHERE TIPO_BRECHA = 'OTROS' AND SUBSTRING(CUENTA,1,2)='25'
SELECT SUM(SALDO_BANCO) FROM SALDO_CUENTAS WHERE TIPO_BRECHA = 'UTILMX' AND SUBSTRING(CUENTA,1,2)>='70' AND SUBSTRING(CUENTA,1,2)<='89'
SELECT SUM(SALDO_BANCO) FROM SALDO_CUENTAS WHERE TIPO_BRECHA = 'UTILMX' AND SUBSTRING(CUENTA,1,2)>='50' AND SUBSTRING(CUENTA,1,2)<='69'
*/

GO
