USE [Bacfwdsuda]
GO
/****** Object:  StoredProcedure [dbo].[SP_FERIADO]    Script Date: 13-05-2022 10:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[SP_FERIADO]
            (   @dFecha   DATETIME
            ,   @cPlaza   NUMERIC(05)
            ,   @lFlag    INT OUTPUT
            )
AS
BEGIN
   SET NOCOUNT ON
   
   DECLARE @nDia     INT
   DECLARE @nMonth   INT
   DECLARE @nAno     INT
   DECLARE @cCampo   CHAR(100)
   DECLARE @nCou     INT
   DECLARE @cann     CHAR(04)
   DECLARE @cpla     CHAR(05)
   DECLARE @nFin     INT
   DECLARE @xDia     INT
   DECLARE @cdia     CHAR(04)
   DECLARE @primerdiasql INT
   DECLARE @sabado   INT
   DECLARE @domingo   INT
   SELECT @nDia   = DATEPART(DAY,   @dFecha)
   SELECT @nMonth = DATEPART(MONTH, @dFecha)
   SELECT @nAno   = DATEPART(YEAR , @dFecha)
   
   SELECT @sabado = 7
   SELECT @domingo = 1
   SELECT @primerdiasql = CASE @@DATEFIRST WHEN 1 THEN 0 ELSE 1 END 
   IF @primerdiasql = 0
 BEGIN
    SELECT @sabado = 6
    SELECT @domingo = 7
  
 END
   SELECT @cCampo = (CASE WHEN @nMonth = 1  THEN feene
                          WHEN @nMonth = 2  THEN fefeb
                          WHEN @nMonth = 3  THEN femar
                          WHEN @nMonth = 4  THEN feabr
                          WHEN @nMonth = 5  THEN femay
                          WHEN @nMonth = 6  THEN fejun
                          WHEN @nMonth = 7  THEN fejul
                          WHEN @nMonth = 8  THEN feago
                          WHEN @nMonth = 9  THEN fesep
                          WHEN @nMonth = 10 THEN feoct
                          WHEN @nMonth = 11 THEN fenov
                          WHEN @nMonth = 12 THEN fedic
                     END) FROM VIEW_FERIADO 
         WHERE feano = @nano AND feplaza = @cplaza
  SELECT @cann = CONVERT( CHAR(04),DATEPART( YEAR, @dfecha )  )
  SELECT @cpla = CONVERT( CHAR(04),@cPlaza )
  SELECT @nCou = 1
  WHILE ( @nCou < 51 ) BEGIN
     SELECT @xDia = CONVERT( INT, SUBSTRING( @cCampo,( (@nCou - 1 ) * 3 ) + 1, 2 ) )
     SELECT @nFin = DATEPART( dw, @dFecha )
     IF @nFin = @sabado OR @nFin = @domingo BEGIN
 SELECT @lFlag = -1
 BREAK
     END
     If @nDia = @xDia  BEGIN
 SELECT @lFlag = -1
 BREAK
     END
     If @nDia = 0 BEGIN
 SELECT @lFlag = 0
 BREAK
     END
     SELECT @lFlag = 0
     SELECT @nCou = @nCou + 1
   END
   SET NOCOUNT OFF
END
-- select * from view_feriado
-- SP_HELP view_feriado

GO
