USE [Bacfwdsuda]
GO
/****** Object:  StoredProcedure [dbo].[SP_CONTROL_BLOQ_USUARIOS_ESTADO_USUARIO]    Script Date: 13-05-2022 10:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[SP_CONTROL_BLOQ_USUARIOS_ESTADO_USUARIO] (
        @USUARIO CHAR(10),
        @ID_SISTEMA CHAR(3)
        )
        
 
AS
BEGIN
 SET NOCOUNT ON
 IF EXISTS (SELECT 1 FROM VIEW_CONTROL_USUARIO) BEGIN
  SELECT BLOQUEADO FROM VIEW_CONTROL_USUARIO
   WHERE Id_Sistema = @ID_SISTEMA AND
         USUARIO  = @USUARIO
 END
 ELSE BEGIN
  
  SELECT 'ERROR'
 END
 SET NOCOUNT OFF
END

GO
