USE [Bacfwdsuda]
GO
/****** Object:  StoredProcedure [dbo].[SP_TRAER_SALDO_CUENTA]    Script Date: 13-05-2022 10:30:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[SP_TRAER_SALDO_CUENTA]
AS
BEGIN
SET NOCOUNT ON
SELECT  'CUENTA'  = SALDO_CUENTAS.cuenta ,--1
 'GLOSA'   = glosa   ,--2
 'IMPRIME' = imprime   ,--3
 'BRECHA'  = TIPO_BRECHA   
 FROM  SALDO_CUENTAS,
  VIEW_PLAN_DE_CUENTA
 WHERE SALDO_CUENTAS.CUENTA = VIEW_PLAN_DE_CUENTA.cuenta
SET NOCOUNT OFF
END 
--SELECT * FROM SALDO_CUENTAS
---SELECT * FROM VIEW_PLAN_DE_CUENTA

GO
