USE [Reportes]
GO
/****** Object:  Table [dbo].[ADENDUM_InformacionSWAP]    Script Date: 16-05-2022 10:19:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADENDUM_InformacionSWAP](
	[ID] [int] NULL,
	[Folio] [numeric](9, 0) NULL,
	[Tipo_Contrato] [varchar](50) NULL,
	[Fecha_Modif_Contrato] [varchar](30) NULL,
	[Fecha_incio_Contrato] [varchar](30) NULL,
	[Fecha_Venc_Contrato] [varchar](30) NULL,
	[Monto_Contrato_Banco] [numeric](21, 2) NULL,
	[Monto_Contrato_Cliente] [numeric](21, 2) NULL,
	[Nombre_Cliente] [varchar](50) NULL,
	[Rut_Cliente] [numeric](10, 0) NULL,
	[Fecha_Fijacion_tasa_venta_orig] [varchar](10) NULL,
	[Fecha_inicio_flujo_venta_orig] [varchar](10) NULL,
	[Fecha_vence_flujo_venta_orig] [varchar](10) NULL,
	[PlazoFlujo_venta_orig] [int] NULL,
	[Monto_contratado_vig_venta_orig] [nvarchar](21) NULL,
	[Monto_Amortiza_venta_orig] [nvarchar](21) NULL,
	[Monto_interes_Pactada_fija_venta_orig] [nvarchar](21) NULL,
	[Fecha_fijacion_tasa_compra_orig] [varchar](10) NULL,
	[Fecha_inicio_flujo_compra_orig] [varchar](10) NULL,
	[Fecha_vence_flujo_compra_orig] [varchar](10) NULL,
	[PlazoFlujo_compra_orig] [int] NULL,
	[Monto_contratado_vig_compra_orig] [nvarchar](21) NULL,
	[Monto_amortiza_compra_orig] [nvarchar](21) NULL,
	[Monto_interes_pactada_fija_compra_orig] [nvarchar](21) NULL,
	[Fecha_fijacion_tasa_venta_mod] [varchar](10) NULL,
	[Fecha_inicio_flujo_venta_mod] [varchar](10) NULL,
	[Fecha_vence_flujo_venta_mmod] [varchar](10) NULL,
	[PlazoFlujo_venta_mod] [int] NULL,
	[Monto_contratado_vig_venta_mod] [nvarchar](21) NULL,
	[Monto_Amortiza_venta_mod] [nvarchar](21) NULL,
	[Monto_interes_pactada_fija_venta_mod] [nvarchar](21) NULL,
	[Fecha_fijacion_tasa_compra_mod] [varchar](10) NULL,
	[Fecha_inicio_flujo_compra_mod] [varchar](10) NULL,
	[Fecha_vence_flujo_compra_mod] [varchar](10) NULL,
	[PlazoFlujo_compra_mod] [int] NULL,
	[Monto_contratado_vig_compra_mod] [nvarchar](21) NULL,
	[Monto_amortiza_compra_mod] [nvarchar](21) NULL,
	[Monto_interes_pactada_fija_compra_mod] [nvarchar](21) NULL,
	[Monto_nueva_condi_banco] [numeric](21, 2) NULL,
	[Fecha_inicio_nueva_cond_banco] [varchar](10) NULL,
	[Fecha_termino_nueva_cond_banco] [varchar](10) NULL,
	[Monto_nueva_condi_cliente] [numeric](21, 2) NULL,
	[Fecha_inicio_nueva_cond_cliente] [varchar](10) NULL,
	[Fecha_termino_nueva_cond_cliente] [varchar](10) NULL,
	[Domicilio_Cliente] [varchar](80) NULL,
	[Fono_Cliente] [char](20) NULL,
	[Fax_Cliente] [char](20) NULL,
	[Nombre_Apoderado_uno] [varchar](80) NULL,
	[Rut_Apoderado_uno] [varchar](12) NULL,
	[Nombre_Apoderado_dos] [varchar](80) NULL,
	[Rut_Apoderado_dos] [varchar](12) NULL,
	[Nombre_Apoderado_Cliente_uno] [varchar](80) NULL,
	[Rut_Apoderado_Cliente_uno] [varchar](12) NULL,
	[Nombre_Apoderado_Cliente_dos] [varchar](80) NULL,
	[Rut_Apoderado_Cliente_dos] [varchar](12) NULL,
	[Fecha_Firma_CCG] [varchar](30) NULL
) ON [PRIMARY]
GO
