USE [Reportes]
GO
/****** Object:  Table [dbo].[TBL_DESCTIPO_FUSION]    Script Date: 16-05-2022 10:19:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_DESCTIPO_FUSION](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_desctipo] [int] NOT NULL,
	[desc_desctipo] [varchar](30) NULL,
 CONSTRAINT [PK_TBL_DESCTIPO_FUSION] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
