USE [BacTraderSuda]
GO
/****** Object:  StoredProcedure [dbo].[SP_ALCO_TRAE_LIMITE_CONCENTRACION]    Script Date: 13-05-2022 11:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROC [dbo].[SP_ALCO_TRAE_LIMITE_CONCENTRACION]
(		@CODIGO_PAPEL NUMERIC(10)
	,	@Emisor NUMERIC(9)
)
AS BEGIN

/* LD1-COR-035 FUSION CORPBANCA - ITAU --> VALIDACION ALCO**/
/***********************************************************************/


/*	IF EXISTS ( SELECT SECODIGO FROM VIEW_SERIE WHERE semascara = @SERIE_PAPEL )
	BEGIN
		SELECT @CODIGO_PAPEL = SECODIGO	FROM VIEW_SERIE WHERE semascara = @SERIE_PAPEL
	END
	
	IF EXISTS ( SELECT * FROM VIEW_NOSERIE WHERE NSSERIE = @SERIE_PAPEL )
	BEGIN
		SELECT @CODIGO_PAPEL  = nscodigo FROM VIEW_NOSERIE WHERE NSSERIE = @SERIE_PAPEL
	END*/

	SELECT Disponible FROM view_LIMITE_CONCENTRACION
	WHERE Incodigo =  @CODIGO_PAPEL AND Rut_Emisor = @Emisor
END


GO
