USE [BacTraderSuda]
GO
/****** Object:  StoredProcedure [dbo].[SP_BORRA_TABLAS_CARGATURA]    Script Date: 13-05-2022 11:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROC [dbo].[SP_BORRA_TABLAS_CARGATURA] (@tablas NUMERIC(1))
AS
BEGIN
  
  IF @tablas = 1 
   DELETE MDCA
 
 IF @tablas = 2 BEGIN
    DELETE MDCO
    DELETE MDCV
 
 END
        
END


GO
