USE [BacTraderSuda]
GO
/****** Object:  StoredProcedure [dbo].[SP_VALOR_UM_PAPEL]    Script Date: 13-05-2022 11:31:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROC [dbo].[SP_VALOR_UM_PAPEL] 
(		  @SERIE CHAR(20) 
		, @NOMINAL FLOAT 
)
AS 
/* LD1-COR-035 FUSION CORPBANCA - ITAU --> VALIDACION ALCO**/

BEGIN

	DECLARE @CODIGO 	NUMERIC(10)	,
		@CODIGO_PAPEL 	NUMERIC(10)	,	
		@VALOR_UM 	FLOAT		,
		@VALOR_DO	FLOAT

SET NOCOUNT ON
	
	EXEC SP_ALCO_VERIFICA_SERIE  @SERIE , @CODIGO OUTPUT

	EXEC SP_VALOR_MONEDA @CODIGO ,'P', @VALOR_UM OUTPUT
	EXEC SP_VALOR_MONEDA 994     ,'P', @VALOR_DO OUTPUT	

	SELECT  VALOR_UM_X_NOMINAL_DOLAR = ( @VALOR_UM * @NOMINAL ) / @VALOR_DO

SET NOCOUNT OFF

END
GO
