USE [BacTraderSuda]
GO
/****** Object:  StoredProcedure [dbo].[SP_LEER_ENTIDADES]    Script Date: 13-05-2022 11:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[SP_LEER_ENTIDADES]
as
begin
   select rcnombre,rcrut 
     from VIEW_ENTIDAD 
 order by rcnombre
end

GO
