USE [BacTraderSuda]
GO
/****** Object:  StoredProcedure [dbo].[SP_BUSCA_NUM_OPER_PAGOS]    Script Date: 13-05-2022 11:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[SP_BUSCA_NUM_OPER_PAGOS]
                  ( @NUMERO_OPER NUMERIC(10))

AS 
BEGIN

   SET NOCOUNT ON

   DECLARE @nPago       NUMERIC(10,0)

   SELECT @nPago = 0

   IF NOT EXISTS(SELECT 1 FROM PAGOS_FLI WHERE PANUMOPER = @NUMERO_OPER)
        SELECT @nPago = 1
   ELSE
        SELECT @nPago = MAX(PANUMPAGO) + 1 FROM PAGOS_FLI WHERE PANUMOPER = @NUMERO_OPER

         SELECT @nPago
 
   SET NOCOUNT OFF

END


GO
