USE [BacTraderSuda]
GO
/****** Object:  View [dbo].[VIEW_MARGEN_INVERSION_INSTRUMENTO]    Script Date: 16-05-2022 10:13:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE VIEW [dbo].[VIEW_MARGEN_INVERSION_INSTRUMENTO]
AS 
SELECT * FROM bacparamsuda..MARGEN_INVERSION_INSTRUMENTO

GO
