USE [BacTraderSuda]
GO
/****** Object:  View [dbo].[VIEW_MDMH]    Script Date: 16-05-2022 10:13:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE VIEW [dbo].[VIEW_MDMH]
AS

	SELECT * FROM Bactradersuda.dbo.MDMH with (nolock)

	   
GO
