USE [BacTraderSuda]
GO
/****** Object:  View [dbo].[VIEW_LINEA_TRASPASO]    Script Date: 16-05-2022 10:13:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE VIEW [dbo].[VIEW_LINEA_TRASPASO] as select * from bacparamsuda..LINEA_TRASPASO

GO
