USE [BacTraderSuda]
GO
/****** Object:  View [dbo].[view_limite_trading_swap]    Script Date: 16-05-2022 10:13:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

create view [dbo].[view_limite_trading_swap]
as select 
*

from bacparamsuda..limite_trading_swap

GO
