USE [BacTraderSuda]
GO
/****** Object:  View [dbo].[TIPO_CARTERA]    Script Date: 16-05-2022 10:13:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[TIPO_CARTERA]
AS

	select * from BacParamSuda.dbo.TIPO_CARTERA with(nolock)



-- Base de Datos --
GO
