USE [BacTraderSuda]
GO
/****** Object:  View [dbo].[VIEW_TASAS_MAXIMAS_CONVENCIONAL]    Script Date: 16-05-2022 10:13:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE VIEW [dbo].[VIEW_TASAS_MAXIMAS_CONVENCIONAL]
AS
SELECT * FROM bacparamsuda..TASAS_MAXIMAS_CONVENCIONAL

GO
