<?xml version="1.0"?>
<!--
How to: Upgrade an ASP.NET Web Application to ASP.NET 4
http://msdn.microsoft.com/es-es/library/dd483478(v=vs.100).aspx
Revisar las indicaciones y aplicar en la medida que se validen los cambios.
-->
<configuration>
  <configSections>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IProxyLineaCredito" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://prodapps338:1345/ProxyLineaCredito.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProxyLineaCredito" contract="SrvTomaLinea.IProxyLineaCredito" name="BasicHttpBinding_IProxyLineaCredito"/>
    </client>
  </system.serviceModel>
  <appSettings>
    <!-- LLAVES MESSAGUE BROKER -->
    <!--
    <add key="SOAClient.UDDIUrl" value="http://desmq01/uddiv3soap/services/UDDI_Inquiry_Port" />
    <add key="SOAClient.UDDIUrl" value="http://99.236.0.73/uddiv3soap/services/UDDI_Inquiry_Port" />
    <add key="SOAClient.QueryTimeout" value="10000" />
    Esta llave puede ser vacía pero no null.
    <add key="SOAClient.ProxyUrl" value="" />
    <add key="SOAClient.BusinessKey" value="uddi:desmq01cell01:desmq01node01:appcorp01:default:f84e1bf8-c898-48e9-9f64-daa3acda64b0"/>
    -->
    <!--<add key="SOACliente.Aplicacion" value="IBANK" />
    <add key="SOACliente.Usuario" value="TSTCER1" />
    <add key="SOACliente.usuarioPerfilCarpeta" value="CBCNJE" />
    <add key="SOACliente.agrupacionEntidad" value="CORPBANCA" />
    <add key="SOACliente.tipoDocumento" value="CANJE" />-->
    <!-- CORPSQL026
    <add key="OPCIONES" value="AdminOpcionesTool,cData,0,1,CERTSQL026,CbMdbOpc,dbo_cbmdbopc,h1/+7KqJiIu6wmuiyfZcdQ==,120,600" />
    <add key="BACPARAMSUDA" value="FinancialTool,cFinancialTools,0,1,CERTSQL026,bacparamsuda,bacuser,luvZIs5c3Olr3iMO3QbxFQ==,120,600" />
    <add key="BACSWAPSUDA" value="FinancialTool,cFinancialTools,0,1,CERTSQL026,bacswapsuda,bacuser,luvZIs5c3Olr3iMO3QbxFQ==,120,600" />
    <add key="BACTRADERSUDA" value="FinancialTool,cFinancialTools,0,1,CERTSQL026,bactradersuda,bacuser,luvZIs5c3Olr3iMO3QbxFQ==,120,600" />
    <add key="BACFWDSUDA" value="FinancialTool,cFinancialTools,0,1,CERTSQL026,bacfwdsuda,bacuser,luvZIs5c3Olr3iMO3QbxFQ==,120,600" />
    <add key="BACCAMSUDA" value="FinancialTool,cFinancialTools,0,1,CERTSQL026,baccamsuda,bacuser,luvZIs5c3Olr3iMO3QbxFQ==,120,600" />
    <add key="BACLINEAS" value="FinancialTool,cFinancialTools,0,1,CERTSQL026,baclineas,Bacuser,luvZIs5c3Olr3iMO3QbxFQ==,120,600" />
  -->
    <!-- CORPSQL05 
    <add key="OPCIONES" value="AdminOpcionesTool,cData,0,1,CORPSQL05,CbMdbOpc,dbo_cbmdbopc,XXXXXXXXXXXX,120,600" />
    <add key="BACPARAMSUDA" value="FinancialTool,cFinancialTools,0,1,CORPSQL05,bacparamsuda,bacuser,XXXXXXXXXXXXXX,120,600"/>
    <add key="BACSWAPSUDA" value="FinancialTool,cFinancialTools,0,1,CORPSQL05,bacswapsuda,bacuser,XXXXXXXXXXXXXXXX,120,600"/>
    <add key="BACTRADERSUDA" value="FinancialTool,cFinancialTools,0,1,CORPSQL05,bactradersuda,bacuser,XXXXXXXXXXXXXX,120,600"/>
    <add key="BACFWDSUDA" value="FinancialTool,cFinancialTools,0,1,CORPSQL05,bacfwdsuda,bacuser,XXXXXXXXXXXXXXXX,120,600"/>
    <add key="BACCAMSUDA" value="FinancialTool,cFinancialTools,0,1,CORPSQL05,baccamsuda,bacuser,XXXXXXXXXXXXXXXXX,120,600"/>
    <add key="BACLINEAS" value="FinancialTool,cFinancialTools,0,1,CORPSQL05,baclineas,Bacuser,XXXXXXXXXXXXXXXXX,120,600"/>-->
    <!-- DESASQL043 -->
    <add key="OPCIONES" value="AdminOpcionesTool,cData,0,1,DESASQL043,CbMdbOpc,dbo_cbmdbopc,9z7Q5B75Cf5wT58JrPxV/g==,120,600"/>
    <add key="BACPARAMSUDA" value="FinancialTool,cFinancialTools,0,1,DESASQL043,bacparamsuda,bacuser,MnFpA0nirB5sqEasRC4yaA==,120,600"/>
    <add key="BACSWAPSUDA" value="FinancialTool,cFinancialTools,0,1,DESASQL043,bacswapsuda,bacuser,MnFpA0nirB5sqEasRC4yaA==,120,600"/>
    <add key="BACTRADERSUDA" value="FinancialTool,cFinancialTools,0,1,DESASQL043,bactradersuda,bacuser,MnFpA0nirB5sqEasRC4yaA==,120,600"/>
    <add key="BACFWDSUDA" value="FinancialTool,cFinancialTools,0,1,DESASQL043,bacfwdsuda,bacuser,MnFpA0nirB5sqEasRC4yaA==,120,600"/>
    <add key="BACCAMSUDA" value="FinancialTool,cFinancialTools,0,1,DESASQL043,baccamsuda,bacuser,MnFpA0nirB5sqEasRC4yaA==,120,600"/>
    <add key="BACLINEAS" value="FinancialTool,cFinancialTools,0,1,DESASQL043,baclineas,Bacuser,MnFpA0nirB5sqEasRC4yaA==,120,600"/>
    <!-- DESASQL026
    <add key="OPCIONES" value="AdminOpcionesTool,cData,0,1,DESASQL026,CbMdbOpc,dbo_cbmdbopc,7gJjSTrn60zt2hhJ3NnQUQ==,120,600" />
    <add key="BACPARAMSUDA" value="FinancialTool,cFinancialTools,0,1,DESASQL026,bacparamsuda,bacuser,SVbZ+vmTCMCvf+ndiHRidg==,120,600" />
    <add key="BACSWAPSUDA" value="FinancialTool,cFinancialTools,0,1,DESASQL026,bacswapsuda,bacuser,SVbZ+vmTCMCvf+ndiHRidg==,120,600" />
    <add key="BACTRADERSUDA" value="FinancialTool,cFinancialTools,0,1,DESASQL026,bactradersuda,bacuser,SVbZ+vmTCMCvf+ndiHRidg==,120,600" />
    <add key="BACFWDSUDA" value="FinancialTool,cFinancialTools,0,1,DESASQL026,bacfwdsuda,bacuser,SVbZ+vmTCMCvf+ndiHRidg==,120,600" />
    <add key="BACCAMSUDA" value="FinancialTool,cFinancialTools,0,1,DESASQL026,baccamsuda,bacuser,SVbZ+vmTCMCvf+ndiHRidg==,120,600" />
    <add key="BACLINEAS" value="FinancialTool,cFinancialTools,0,1,DESASQL026,baclineas,Bacuser,SVbZ+vmTCMCvf+ndiHRidg==,120,600" />
    -->
    <!-- DESASQL044
    <add key="OPCIONES" value="AdminOpcionesTool,cData,0,1,DESASQL044,CbMdbOpc,dbo_cbmdbopc,ZEz8ibqKNaKDoR6X+O6k7w==,120,600" />
    <add key="BACPARAMSUDA" value="FinancialTool,cFinancialTools,0,1,DESASQL044,bacparamsuda,bacuser,GIUMaSID4YYmFISFPWFDCw==,120,600"/>
    <add key="BACSWAPSUDA" value="FinancialTool,cFinancialTools,0,1,DESASQL044,bacswapsuda,bacuser,GIUMaSID4YYmFISFPWFDCw==,120,600"/>
    <add key="BACTRADERSUDA" value="FinancialTool,cFinancialTools,0,1,DESASQL044,bactradersuda,bacuser,GIUMaSID4YYmFISFPWFDCw==,120,600"/>
    <add key="BACFWDSUDA" value="FinancialTool,cFinancialTools,0,1,DESASQL044,bacfwdsuda,bacuser,GIUMaSID4YYmFISFPWFDCw==,120,600"/>
    <add key="BACCAMSUDA" value="FinancialTool,cFinancialTools,0,1,DESASQL044,baccamsuda,bacuser,GIUMaSID4YYmFISFPWFDCw==,120,600"/>
    <add key="BACLINEAS" value="FinancialTool,cFinancialTools,0,1,DESASQL044,baclineas,Bacuser,GIUMaSID4YYmFISFPWFDCw==,120,600"/>
    -->
    <!--<add key="Turing" value="FinancialTool,cFinancialTools,0,1,CORPSQL01,Turing,dbo_turing,etFdzCd70uAXJVu6ZpI3mQ==,120,600"/>-->
    <!--<add key="Turing" value="FinancialTool,cFinancialTools,0,1,CORPSQL05,Turing,app_turing,kvOrfmXVOQn/IF1bD7HrEQ==,120,600"/>-->
    <!--<add key="Turing" value="FinancialTool,cFinancialTools,0,1,DESASQL043,Turing,app_turing,kvOrfmXVOQn/IF1bD7HrEQ==,120,600"/>-->
    <!-- Control de versiones y ambientes -->
    <add key="Region" value=""/>
    <!--esto se puede limpiar-->
    <add key="FTP_Server" value="scl009"/>
    <add key="FTP_UserName" value="pctraderftp"/>
    <add key="FTP_Password" value="1bIl/3PRq+DYix9Gebq6xg=="/>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
    <add key="LIBRARY" value="E:\Sitios\SFMC\SAO\WEB\Files\"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="OPCIONES" connectionString="Data Source=DESASQL043;database=CbMdbOpc;User ID=dbo_cbmdbopc;Password=9z7Q5B75Cf5wT58JrPxV/g==" providerName="System.Data.SqlClient"/>
    <!--
    <add name="OPCIONES"
        connectionString="Data Source=CORPSQL05;database=CbMdbOpc;User ID=dbo_cbmdbopc;Password=hdW5uk/CsfVaG1fhip4FSw=="
        providerName="System.Data.SqlClient" />
    <add name="OPCIONES"
        connectionString="Data Source=CORPSQL05;database=CbMdbOpc;User ID=dbo_cbmdbopc;Password=hdW5uk/CsfVaG1fhip4FSw=="
        providerName="System.Data.SqlClient" />
    -->
  </connectionStrings>
  <system.web>
    <globalization requestEncoding="ISO-8859-1" responseEncoding="ISO-8859-1" culture="es-CL" uiCulture="es-CL"/>
    <customErrors mode="Off"/>
    <!--Utilizar esto en producción, pero ojo con los timeout y tiempos de respuesta: <compilation targetFramework="4.0">-->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <!--remove-->
        <remove assembly="CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <remove assembly="CrystalDecisions.CrystalReports.Engine, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <remove assembly="CrystalDecisions.ReportSource, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <remove assembly="CrystalDecisions.Shared, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <!--remove-->
        <!--http://msdn.microsoft.com/es-es/library/dd483478(v=vs.100).aspx
        In the system.web section, in the compilation collection, remove every add element that refers to an assembly of the .NET Framework.
        -->
        <!--<add assembly="System.Xml, Version=2.0.5.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e"/>-->
        <!--<add assembly="System.Xml, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>-->
        <!--<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>-->
        <!--del ejemplo-->
        <!--
        <add assembly="CrystalDecisions.Shared, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        -->
        <!--del ejemplo-->
        <!--<add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
        <!--<add assembly="CrystalDecisions.ReportSource, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
        <!--<add assembly="CrystalDecisions.Shared, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
        <!--<add assembly="CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
        <!--
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        -->
        <!--<add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
        <!--
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        -->
        <!--<add assembly="CrystalDecisions.Enterprise.Framework, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
        <!--<add assembly="CrystalDecisions.Enterprise.InfoStore, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
        <!--add assembly="CrystalDecisions.Shared, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/-->
        <!--add assembly="CrystalDecisions.ReportSource, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/-->
        <!-- estas dos no estoy claro, no están en SGRU:
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        -->
        <!--add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/-->
        <add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Windows"/>
    <!--Para compatibilidad hacia atrás Framework
    <pages controlRenderingCompatibilityVersion="3.5"/>
    -->
    <httpHandlers>
      <!--<add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    </httpHandlers>
    <webServices>
      <protocols>
        <!--REVISAR-->
        <!--<clear/>-->
        <add name="Documentation"/>
        <add name="HttpSoap"/>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
  <!-- Remover toda esta sección para migración a Crystal Reports 13 y Framework 4-->
  <!--
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  -->
</configuration>