USE [BacBonosExtSuda]
GO
/****** Object:  View [dbo].[view_emisor]    Script Date: 11-05-2022 16:32:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



create VIEW [dbo].[view_emisor]
as
select * from BacParamsuda..emisor




GO
