USE [BacBonosExtSuda]
GO
/****** Object:  View [dbo].[VIEW_TBL_RELACIONES]    Script Date: 11-05-2022 16:32:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE VIEW [dbo].[VIEW_TBL_RELACIONES]
AS

	SELECT	*	
	FROM	BACPARAMSUDA..TBL_RELACIONES


GO
