USE [BacBonosExtSuda]
GO
/****** Object:  View [dbo].[view_moneda]    Script Date: 11-05-2022 16:32:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[view_moneda]
AS
select	MNCODMON,
	MNNEMO,
	MNSIMBOL,
	MNGLOSA,
	MNCODSUPER,
	MNNEMSUPER,
	MNCODBANCO,
	MNNEMBANCO,
	MNBASE,
	MNREDONDEO,
	MNDECIMAL,
	MNCODPAIS,
	MNRRDA,
	MNFACTOR,
	MNREFUSD,
	MNLOCAL,
	MNEXTRANJ,
	MNVALOR,
	MNREFMERC,
	MNINGVAL,
	MNTIPMON,
	MNPERIODO,
	MNMX,
	MNCODFOX,
	MNVALFOX,
	MNCODCOR,
	codigo_pais,
	MNISO_CODDES,
	mncanasta
from	BACPARAMsuda..moneda

GO
