USE [BacBonosExtSuda]
GO
/****** Object:  View [dbo].[VIEW_TBL_RELACION_LIBRO_CARTERASUPER]    Script Date: 11-05-2022 16:32:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE VIEW [dbo].[VIEW_TBL_RELACION_LIBRO_CARTERASUPER]
AS
	SELECT * FROM BACPARAMSUDA..TBL_RELACION_LIBRO_CARTERASUPER





GO
