USE [BacBonosExtSuda]
GO
/****** Object:  View [dbo].[VIEW_MATRIZ_RIESGO]    Script Date: 11-05-2022 16:32:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE VIEW [dbo].[VIEW_MATRIZ_RIESGO]
AS
SELECT * FROM BacParamSuda..MATRIZ_RIESGO




GO
