USE [BacBonosExtSuda]
GO
/****** Object:  View [dbo].[VIEW_USUARIO]    Script Date: 11-05-2022 16:32:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


create view [dbo].[VIEW_USUARIO] as 
select * from bacparamsuda..USUARIO


GO
