USE [MDPasivo]
GO
/****** Object:  Table [dbo].[cliente_aux_old]    Script Date: 16-05-2022 11:41:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente_aux_old](
	[Clrut] [numeric](9, 0) NOT NULL,
	[Cldv] [char](1) NOT NULL,
	[Clcodigo] [numeric](9, 0) NOT NULL,
	[Clnombre] [char](70) NULL,
	[Clgeneric] [char](5) NULL,
	[Cldirecc] [char](40) NULL,
	[Clcomuna] [numeric](8, 0) NULL,
	[Clregion] [numeric](5, 0) NULL,
	[Cltipcli] [numeric](5, 0) NULL,
	[Clfecingr] [datetime] NULL,
	[Clctacte] [char](15) NULL,
	[Clfono] [char](20) NULL,
	[Clfax] [char](20) NULL,
	[Clapelpa] [char](20) NULL,
	[Clapelma] [char](20) NULL,
	[Clnomb1] [char](15) NULL,
	[Clnomb2] [char](15) NULL,
	[Clciudad] [numeric](8, 0) NULL,
	[Clmercado] [numeric](5, 0) NULL,
	[Clpais] [numeric](5, 0) NULL,
	[Clcalidadjuridica] [numeric](5, 0) NULL,
	[Clchips] [char](6) NULL,
	[Claba] [char](9) NULL,
	[Clswift] [char](11) NULL,
	[Clctausd] [char](12) NULL,
	[Climplic] [char](1) NULL,
	[Clopcion] [char](1) NULL,
	[Clrelacion] [numeric](5, 0) NULL,
	[Clcatego] [numeric](2, 0) NULL,
	[Clsector] [numeric](5, 0) NULL,
	[Clestado] [char](1) NULL,
	[Clclsbif] [char](2) NULL,
	[Clactivida] [numeric](5, 0) NULL,
	[Cltipemp] [char](2) NULL,
	[Relbco] [numeric](2, 0) NULL,
	[Poder] [char](1) NULL,
	[Firma] [char](1) NULL,
	[Infosoc] [char](1) NULL,
	[Art85] [char](1) NULL,
	[Dec85] [char](1) NULL,
	[Clcodban] [numeric](8, 0) NULL,
	[Cod_Inst] [numeric](3, 0) NULL,
	[Rut_Grupo] [numeric](10, 0) NULL,
	[Clcodfox] [numeric](10, 0) NULL,
	[Clvalidalinea] [char](1) NULL,
	[Oficinas] [char](1) NULL,
	[Clclaries] [char](10) NULL,
	[Codigo_Otc] [char](10) NULL,
	[Bloqueado] [char](1) NULL,
	[NumPro_PU] [numeric](20, 0) NOT NULL,
	[Nif_España] [char](10) NOT NULL,
	[NumeroMargenPU] [char](20) NOT NULL,
	[NumeroItemPU] [char](2) NOT NULL,
	[CodNif] [varchar](10) NOT NULL
) ON [PRIMARY]
GO
