USE [MDPasivo]
GO
/****** Object:  Table [dbo].[PASO_SWAP]    Script Date: 16-05-2022 11:41:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PASO_SWAP](
	[NUMERO_OPERACION_SWAP] [numeric](10, 0) NOT NULL,
	[NUMERO_OPERACION_STAR] [numeric](10, 0) NOT NULL
) ON [PRIMARY]
GO
