USE [MDPasivo]
GO
/****** Object:  Table [dbo].[PLAZO_PACTO]    Script Date: 16-05-2022 11:41:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLAZO_PACTO](
	[codigo_plazo] [char](3) NOT NULL,
	[descripcion] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
