USE [MDPasivo]
GO
/****** Object:  Table [dbo].[DATOS_GENERALES_HISTORICA]    Script Date: 16-05-2022 11:41:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATOS_GENERALES_HISTORICA](
	[Rut_Entidad] [numeric](10, 0) NOT NULL,
	[Digito_Entidad] [char](1) NOT NULL,
	[Nombre_Entidad] [char](50) NOT NULL,
	[Codigo_Entidad] [numeric](10, 0) NOT NULL,
	[Direccion_Entidad] [char](50) NULL,
	[Comuna_Entidad] [numeric](5, 0) NULL,
	[Ciudad_Entidad] [numeric](5, 0) NULL,
	[Fono_Entidad] [char](10) NULL,
	[Fax_Entidad] [char](10) NULL,
	[Fecha_Proceso] [datetime] NOT NULL,
	[Fecha_Anterior] [datetime] NULL,
	[Fecha_Proxima] [datetime] NULL,
	[Numero_Operacion_Btr] [numeric](10, 0) NULL,
	[Numero_Operacion_Swp] [numeric](10, 0) NULL,
	[Numero_Operacion_Inv] [numeric](10, 0) NULL,
	[Numero_Operacion_Fwd] [numeric](10, 0) NULL,
	[Numero_Operacion_Spt] [numeric](10, 0) NULL,
	[Numero_Operacion_Spt_Planilla] [numeric](10, 0) NULL,
	[Numero_Operacion_Spt_Swift] [numeric](10, 0) NULL,
	[Numero_Operacion_Pas] [numeric](10, 0) NULL,
	[Max_Papeletas] [numeric](5, 0) NULL,
	[Clave_DCV] [numeric](10, 0) NULL,
	[Plazo_UF] [numeric](10, 0) NULL,
	[Plazo_DO] [numeric](10, 0) NULL,
	[Plazo_$$] [numeric](10, 0) NULL,
	[Dias_Renovacion] [numeric](10, 0) NULL,
	[Canasta_Credito_Hoy] [numeric](19, 4) NULL,
	[Canasta_Credito_Yes] [numeric](19, 4) NULL,
	[Computable_Debito_Hoy] [numeric](19, 4) NULL,
	[Computable_Debito_Yes] [numeric](19, 4) NULL,
	[Computable_Credito_Hoy] [numeric](19, 4) NULL,
	[Computable_Credito_Yes] [numeric](19, 4) NULL,
	[Tiempo_Otc] [numeric](9, 0) NULL,
	[Rut_Bcch] [numeric](9, 0) NULL,
	[Codigo_Pais] [numeric](5, 0) NULL,
	[Codigo_Plaza] [numeric](5, 0) NULL,
	[Capital_Reserva] [numeric](19, 4) NULL,
	[Capital_Basico] [numeric](19, 4) NULL,
	[Moneda_Control] [numeric](5, 0) NULL,
	[Valor_Moneda] [numeric](10, 4) NULL,
	[Numero_Traspaso] [numeric](10, 0) NULL,
	[Porcen_Con_Riesgo] [numeric](10, 4) NULL,
	[Porcen_Sin_Riesgo] [numeric](10, 4) NULL,
	[Porcen_Invext] [numeric](10, 4) NULL,
	[Monto_Con_Riesgo] [numeric](19, 4) NULL,
	[Monto_Sin_Riesgo] [numeric](19, 4) NULL,
	[Invext_Total] [numeric](19, 4) NULL,
	[Invext_Ocupado] [numeric](19, 4) NULL,
	[Invext_Disponible] [numeric](19, 4) NULL,
	[Invext_Exceso] [numeric](19, 4) NULL,
	[Primer_Tramo] [numeric](19, 4) NULL,
	[Segundo_Tramo] [numeric](19, 4) NULL,
	[Tercer_Tramo] [numeric](19, 4) NULL,
	[Margen_Institucion] [numeric](19, 4) NULL,
	[Total_Cartera_Lchr] [numeric](19, 4) NULL,
	[Total_Por_Folio] [numeric](19, 4) NULL,
	[Caja_Pesos] [numeric](19, 4) NULL,
	[Caja_Bcch] [numeric](19, 4) NULL,
	[Total_Inversiones] [numeric](19, 4) NULL,
	[Dias_Pactado_Papel_No_Central] [numeric](5, 0) NULL,
	[Codigo_Area] [varchar](5) NULL,
	[Limite_Inversion_Cartera_Asignado] [float] NULL,
	[Limite_Inversion_Cartera_Ocupado] [float] NULL,
	[Estado_Reajuste] [char](1) NULL,
	[total_cartera_lchr_ocupado] [numeric](19, 4) NULL,
	[Numero_Operacion_MMarket] [numeric](10, 0) NULL,
	[Valida_Linea] [char](1) NULL,
	[RUT_CORREDORA] [numeric](18, 0) NOT NULL,
	[CODIGO_CORREDORA] [numeric](18, 0) NOT NULL,
	[PUNTO_CORREDORA] [numeric](22, 4) NOT NULL,
	[Puerto_UDP] [numeric](5, 0) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Rut_Entidad]  DEFAULT ((0)) FOR [Rut_Entidad]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Digito_Entidad]  DEFAULT ('') FOR [Digito_Entidad]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Nombre_Entidad]  DEFAULT ('') FOR [Nombre_Entidad]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Codigo_Entidad]  DEFAULT ((0)) FOR [Codigo_Entidad]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Direccion_Entidad]  DEFAULT ('') FOR [Direccion_Entidad]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Comuna_Entidad]  DEFAULT ((0)) FOR [Comuna_Entidad]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Ciudad_Entidad]  DEFAULT ((0)) FOR [Ciudad_Entidad]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Fono_Entidad]  DEFAULT ('') FOR [Fono_Entidad]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Fax_Entidad]  DEFAULT ('') FOR [Fax_Entidad]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Fecha_Proceso]  DEFAULT ('') FOR [Fecha_Proceso]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Fecha_Anterior]  DEFAULT ('') FOR [Fecha_Anterior]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Fecha_Proxima]  DEFAULT ('') FOR [Fecha_Proxima]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Numero_Operacion_Btr]  DEFAULT ((0)) FOR [Numero_Operacion_Btr]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Numero_Operacion_Swp]  DEFAULT ((0)) FOR [Numero_Operacion_Swp]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Numero_Operacion_Inv]  DEFAULT ((0)) FOR [Numero_Operacion_Inv]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Numero_Operacion_Fwd]  DEFAULT ((0)) FOR [Numero_Operacion_Fwd]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Numero_Operacion_Spt]  DEFAULT ((0)) FOR [Numero_Operacion_Spt]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Numero_Operacion_Spt_Planilla]  DEFAULT ((0)) FOR [Numero_Operacion_Spt_Planilla]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Numero_Operacion_Spt_Swift]  DEFAULT ((0)) FOR [Numero_Operacion_Spt_Swift]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Numero_Operacion_Pas]  DEFAULT ((0)) FOR [Numero_Operacion_Pas]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Max_Papeletas]  DEFAULT ((0)) FOR [Max_Papeletas]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Clave_DCV]  DEFAULT ((0)) FOR [Clave_DCV]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Plazo_UF]  DEFAULT ((0)) FOR [Plazo_UF]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Plazo_DO]  DEFAULT ((0)) FOR [Plazo_DO]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Plazo_$$]  DEFAULT ((0)) FOR [Plazo_$$]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Dias_Renovacion]  DEFAULT ((0)) FOR [Dias_Renovacion]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Canasta_Credito_Hoy]  DEFAULT ((0)) FOR [Canasta_Credito_Hoy]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Canasta_Credito_Yes]  DEFAULT ((0)) FOR [Canasta_Credito_Yes]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Computable_Debito_Hoy]  DEFAULT ((0)) FOR [Computable_Debito_Hoy]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Computable_Debito_Yes]  DEFAULT ((0)) FOR [Computable_Debito_Yes]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Computable_Credito_Hoy]  DEFAULT ((0)) FOR [Computable_Credito_Hoy]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Computable_Credito_Yes]  DEFAULT ((0)) FOR [Computable_Credito_Yes]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Tiempo_Otc]  DEFAULT ((0)) FOR [Tiempo_Otc]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Rut_Bcch]  DEFAULT ((0)) FOR [Rut_Bcch]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Codigo_Pais]  DEFAULT ((0)) FOR [Codigo_Pais]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Codigo_Plaza]  DEFAULT ((0)) FOR [Codigo_Plaza]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Capital_Reserva]  DEFAULT ((0)) FOR [Capital_Reserva]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Capital_Basico]  DEFAULT ((0)) FOR [Capital_Basico]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Moneda_Control]  DEFAULT ((0)) FOR [Moneda_Control]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Valor_Moneda]  DEFAULT ((0)) FOR [Valor_Moneda]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Numero_Traspaso]  DEFAULT ((0)) FOR [Numero_Traspaso]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Porcen_Con_Riesgo]  DEFAULT ((0)) FOR [Porcen_Con_Riesgo]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Porcen_Sin_Riesgo]  DEFAULT ((0)) FOR [Porcen_Sin_Riesgo]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Porcen_Invext]  DEFAULT ((0)) FOR [Porcen_Invext]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Monto_Con_Riesgo]  DEFAULT ((0)) FOR [Monto_Con_Riesgo]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Monto_Sin_Riesgo]  DEFAULT ((0)) FOR [Monto_Sin_Riesgo]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Invext_Total]  DEFAULT ((0)) FOR [Invext_Total]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Invext_Ocupado]  DEFAULT ((0)) FOR [Invext_Ocupado]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Invext_Disponible]  DEFAULT ((0)) FOR [Invext_Disponible]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Invext_Exceso]  DEFAULT ((0)) FOR [Invext_Exceso]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Primer_Tramo]  DEFAULT ((0)) FOR [Primer_Tramo]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Segundo_Tramo]  DEFAULT ((0)) FOR [Segundo_Tramo]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Tercer_Tramo]  DEFAULT ((0)) FOR [Tercer_Tramo]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Margen_Institucion]  DEFAULT ((0)) FOR [Margen_Institucion]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Total_Cartera_Lchr]  DEFAULT ((0)) FOR [Total_Cartera_Lchr]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Total_Por_Folio]  DEFAULT ((0)) FOR [Total_Por_Folio]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Caja_Pesos]  DEFAULT ((0)) FOR [Caja_Pesos]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Caja_Bcch]  DEFAULT ((0)) FOR [Caja_Bcch]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Total_Inversiones]  DEFAULT ((0)) FOR [Total_Inversiones]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Dias_Pactado_Papel_No_Central]  DEFAULT ((0)) FOR [Dias_Pactado_Papel_No_Central]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Codigo_Area]  DEFAULT ('') FOR [Codigo_Area]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Limite_Inversion_Cartera_Asignado]  DEFAULT ((0)) FOR [Limite_Inversion_Cartera_Asignado]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Limite_Inversion_Cartera_Ocupado]  DEFAULT ((0)) FOR [Limite_Inversion_Cartera_Ocupado]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Estado_Reajuste]  DEFAULT ('') FOR [Estado_Reajuste]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_total_cartera_lchr_ocupado]  DEFAULT ((0)) FOR [total_cartera_lchr_ocupado]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Numero_Operacion_MMarket]  DEFAULT ((0)) FOR [Numero_Operacion_MMarket]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Valida_Linea]  DEFAULT ('') FOR [Valida_Linea]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_RUT_CORREDORA]  DEFAULT ((0)) FOR [RUT_CORREDORA]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_CODIGO_CORREDORA]  DEFAULT ((0)) FOR [CODIGO_CORREDORA]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_PUNTO_CORREDORA]  DEFAULT ((0)) FOR [PUNTO_CORREDORA]
GO
ALTER TABLE [dbo].[DATOS_GENERALES_HISTORICA] ADD  CONSTRAINT [DF_DATOS_GENERALES_HISTORICA_Puerto_UDP]  DEFAULT ((0)) FOR [Puerto_UDP]
GO
