USE [CbMdbOpc]
GO
/****** Object:  StoredProcedure [dbo].[SP_TREA_SOLICITUD_SDA]    Script Date: 16-05-2022 10:15:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROCEDURE [dbo].[SP_TREA_SOLICITUD_SDA]
     (
       @NumFolio            NUMERIC(8,0)    
     )
AS
BEGIN

    SET NOCOUNT ON             

	SELECT	NUM_CONTRATO
	,		NUM_SOLICITUD
	,		FECHA_INGRESO
	,		FECHA_ACTIVACION
	,		MONTO_SOLICITUD
	,		FORMA_PAGO
	,		TIPO_ANTICIPO
	,		ESTADO_SOLICITUD
	,		TRANSACCION
	FROM TBL_SOLICITUD_SDA
	WHERE NUM_SOLICITUD = @NumFolio

END
GO
