USE [BacLineas]
GO
/****** Object:  View [dbo].[VIEW_CONTROL_FINANCIERO]    Script Date: 13-05-2022 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO




CREATE VIEW [dbo].[VIEW_CONTROL_FINANCIERO]
AS
 SELECT * FROM bacparamsuda..CONTROL_FINANCIERO





GO
