USE [BacLineas]
GO
/****** Object:  View [dbo].[View_log_evento]    Script Date: 13-05-2022 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO





CREATE VIEW [dbo].[View_log_evento]
AS
 SELECT * FROM bacparamsuda..log_evento





GO
