USE [BacLineas]
GO
/****** Object:  View [dbo].[View_riesgo_pais_detalle]    Script Date: 13-05-2022 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO





CREATE VIEW [dbo].[View_riesgo_pais_detalle]
AS
 SELECT * FROM bacparamsuda..riesgo_pais_detalle





GO
