USE [BacLineas]
GO
/****** Object:  View [dbo].[View_usuario_activo]    Script Date: 13-05-2022 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO





CREATE VIEW [dbo].[View_usuario_activo]
AS
 SELECT * FROM bacparamsuda..usuario_activo





GO
