USE [BacLineas]
GO
/****** Object:  View [dbo].[View_gen_tipos_usuario]    Script Date: 13-05-2022 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO





CREATE VIEW [dbo].[View_gen_tipos_usuario]
AS
 SELECT * FROM bacparamsuda..gen_tipos_usuario





GO
