USE [BacLineas]
GO
/****** Object:  View [dbo].[VIEW_MEMOH]    Script Date: 13-05-2022 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO






/****** Objeto:  vista dbo.VIEW_MEMOH    fecha de la secuencia de comandos: 04/04/2001 13:38:50 ******/
CREATE VIEW [dbo].[VIEW_MEMOH]
AS
   SELECT * FROM  BACCAMSUDA..MEMOH






GO
