USE [BacLineas]
GO
/****** Object:  View [dbo].[View_posicion_grupo]    Script Date: 13-05-2022 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO





CREATE VIEW [dbo].[View_posicion_grupo]
AS
 SELECT * FROM bacparamsuda..posicion_grupo





GO
