USE [BacCamSuda]
GO
/****** Object:  View [dbo].[VIEW_RIESGO_PAIS]    Script Date: 11-05-2022 16:45:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE VIEW [dbo].[VIEW_RIESGO_PAIS]
AS
SELECT * FROM bacparamsuda..RIESGO_PAIS


GO
