USE [BacCamSuda]
GO
/****** Object:  View [dbo].[view_linea_traspaso]    Script Date: 11-05-2022 16:45:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE VIEW [dbo].[view_linea_traspaso]
AS
SELECT * FROM bacparamsuda..linea_traspaso


GO
