USE [BacCamSuda]
GO
/****** Object:  View [dbo].[VIEW_CLIENTE_CLASIFICACION_DETALLE]    Script Date: 11-05-2022 16:45:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE VIEW [dbo].[VIEW_CLIENTE_CLASIFICACION_DETALLE]
AS 
SELECT * FROM bacparamsuda..CLIENTE_CLASIFICACION_DETALLE


GO
