USE [BacCamSuda]
GO
/****** Object:  View [dbo].[VIEW_INVERSION_EXTERIOR]    Script Date: 11-05-2022 16:45:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE VIEW [dbo].[VIEW_INVERSION_EXTERIOR]
AS
SELECT * FROM bacparamsuda..INVERSION_EXTERIOR


GO
