USE [BacCamSuda]
GO
/****** Object:  View [dbo].[VIEW_CLIENTE_APODERADO]    Script Date: 11-05-2022 16:45:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE VIEW [dbo].[VIEW_CLIENTE_APODERADO]
AS
SELECT * FROM bacparamsuda..CLIENTE_APODERADO


GO
