USE [BacCamSuda]
GO
/****** Object:  View [dbo].[view_tbareacontable]    Script Date: 11-05-2022 16:45:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE VIEW [dbo].[view_tbareacontable]
AS 
SELECT * FROM bacparamsuda..tbareacontable


GO
