USE [BacCamSuda]
GO
/****** Object:  View [dbo].[VIEW_CODIGO_COMERCIO]    Script Date: 11-05-2022 16:45:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE VIEW [dbo].[VIEW_CODIGO_COMERCIO]
AS
SELECT * FROM bacparamsuda..CODIGO_COMERCIO

GO
