USE [BacCamSuda]
GO
/****** Object:  View [dbo].[CODIGO_PLANILLA_AUTOMATICA]    Script Date: 11-05-2022 16:45:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE VIEW [dbo].[CODIGO_PLANILLA_AUTOMATICA]
AS
SELECT * FROM bacparamsuda..CODIGO_PLANILLA_AUTOMATICA


GO
