<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsReportServicesSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:58254/wsReportServices.asmx"
                binding="basicHttpBinding" bindingConfiguration="wsReportServicesSoap"
                contract="ServiceWSReport.wsReportServicesSoap" name="wsReportServicesSoap" />
        </client>
    </system.serviceModel>
</configuration>