<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WindowsServiceFMD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="FMD_ReportWS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
        <system.net>
         <defaultProxy>
           <proxy bypassonlocal="True" usesystemdefault="True" proxyaddress="proxyweb:8080"/>
         </defaultProxy>
        </system.net>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsReportServicesSoap" sendTimeout="00:40:00" openTimeout="00:01:00" closeTimeout="00:01:00" receiveTimeout="00:40:00"  />
            </basicHttpBinding>
        </bindings>
        <client>            
            <endpoint
              address="http://fmdsfmcqa95.corpbanca.cl/"
              binding="basicHttpBinding" bindingConfiguration="wsReportServicesSoap"
              contract="WebServiceFMD.wsReportServicesSoap" name="wsReportServicesSoap" />
            </client>
    </system.serviceModel>
    <applicationSettings>
        <WindowsServiceFMD.Properties.Settings>
            <setting name="UseFileLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppName" serializeAs="String">
                <value>WindowsServiceFMD</value>
            </setting>
            <setting name="UseFriendlyLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogFileName" serializeAs="String">
                <value>FMD_Report_{0}.log.txt</value>
            </setting>
            <setting name="TimeInterval" serializeAs="String">
                <value>12000000</value>
            </setting>
            <setting name="DBConnection" serializeAs="String">
                <value>
                  {
                  "DBCatalog":"Reportes"
                  ,"DBMaxConnection":6
                  ,"DBMinConnection":2
                  ,"DBPooling":true
                  ,"DBServerName":"172.18.55.43"
                  ,"DBUserName":"bacuser"
                  ,"DBUserPass":"lj9pzRkz5Z7f/zJWIlSBgA=="
                  ,"DB_IP_Address":null
                  ,"IntegratedSecurity":false
                  ,"TrustedConnection":false
                  ,"Use_IP_Address":false
                  }
                </value>
            </setting>
            <setting name="LogFolder" serializeAs="String">
                <value>D:\Sitios\SFMC\FMD\LOG</value>
            </setting>
            <setting name="AsyncWriteLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AsyncMode" serializeAs="String">
                <value>True</value>
            </setting>
        </WindowsServiceFMD.Properties.Settings>
   </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
